//
//	WooCommerce Custom Buttons / Icons
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

.button,
a.added_to_cart {

	@extend .btn;
	@extend .btn-default;

	//
	//	Button transition time on hover
	//
	-webkit-transition: all 250ms;
	-moz-transition:    all 250ms;
	-o-transition:      all 250ms;
	transition:         all 250ms;
}

button.single_add_to_cart_button {
	margin-top: -2px;

  @extend .btn;
	@extend .btn-success;
}

a.checkout:after,
button.single_add_to_cart_button:after {
	display: inline-block;
	font-family: FontAwesome;
	content: "\f07a";
	padding-left: 4px;
}
