//
//	WooCommerce Cart
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

body.woocommerce-cart {

	// Width restriction
	@include width-restrict( $fh_woo_width_restrict );

	h2 {
		font-size: 1.6em;
		font-weight: bold;
		margin-top: 0;
	}
}

//
//	Cart
//
table.cart {

	@extend .table;
	@extend .table-striped;

	& > thead > tr > th { border-bottom: 1px solid $k_silver; }

	// Columns
	.product-remove {
		padding-right: 0;
		width: 1%;
		text-align: center;
	}
	.product-thumbnail {
		text-align: center;
		width: 1%;
	}
	.product-name { width: 65%; }
	.product-price { width: 7%; }
	.product-quantity { width: 7%; }
	.product-subtotal { width: 7%; }

	// Product image
	img {
		width: 45px;
		max-width: 45px;
		height: auto;
	}

	// Removal button
	a.remove {
		display:block;
		font-size:1.5em;
		text-align: center;
		color: $k_silver;
		text-decoration: none;
		font-weight: bold;
		transition: .2s all;
		&:hover {
			color: $fail_red;
			transition: .2s all;
		}
	}

	// Cart actions
	& > tbody > tr > td.actions {
		background: $k_white;
		text-align: right;
		padding: 10px 5px;

		.coupon {

			float: left;

			label { display: none; }
			.input-text {
				@extend .form-control;
				display: inline-block;
				height: 28px;
				max-width: 140px;
			}
			.button {
				@extend .btn-primary;
				@extend .btn-sm;
			}

			@media(max-width: $screen-sm) {
				text-align: left;
				float: none;
				border-bottom: 1px $k_ddd dashed;
				margin-bottom: 5px;
				padding-bottom: 5px;
			}
		}
		.button.alt {
			float: right;
			margin-left: .25em;

			@media(max-width: $screen-sm) {
				float: none;
			}
		}
		.checkout-button {
			@extend .btn-success;
			@extend .btn-sm;
			// @media(max-width: $screen-sm) { display: none; }
		}
		@media(max-width: $screen-sm) {
			text-align: left;
		}
	}
	input { vertical-align: middle; }
}

// Hide cross-sells
@media(max-width: $screen-sm) {
	.cross-sells { display: none; }
}

.checkout-button {
	// @extend .btn-success;
}

.cart-collaterals {

	@include clearfix();

	width: 100%;

	// .related {
	// 	width: 30.75%;
	// 	float:left;
	// }

	.cross-sells {
		float: left;
		width: 55%;
		h2 { margin-bottom: 15px; }
		li.product {
			width: 50%;
			max-width: 225px;
		}
	}

	// Cart totals
	.cart_totals {
		float: right;
		width: 40%;
		text-align: right;
		h2 {
			@media( max-width: $screen-sm ) {
				text-align: left;
			}
		}
		table {
			float: right;
			width: 100%;
			@extend .table;
			@extend .table-striped;
			tr td, tr th {
				border-top: 1px solid $k_silver;
				padding: 6px 6px;
			}
			@media( max-width: $screen-sm ) {
				float: none;
			}
		}
		.discount td { color: $success_green; }
		.shippingx {
			p { white-space: normal; }
			p:last-child { margin-bottom: 0; }
		}
		@media( max-width: $screen-sm ) {
			float: none;
			width: 100%;
		}
	}

	.shipping_calculator {
		h2 {
			margin-bottom: 15px;
			a { color: $link-color; }
			@media( max-width: $screen-sm ) {
				text-align: left;
			}
		}
		width: 100%;
		max-width: 260px;
		text-align: right;
		margin: 0;
		clear: right;
		float: right;
		@include clearfix();
		input,
		select {
			@extend .input-sm;
		}
		.button {
			@extend .btn-sm;
			@extend .btn-primary;
			@extend .btn-block;
		}
		.form-row { margin-bottom: 5px; }
		@media( max-width: $screen-sm ) {
			max-width: auto;
			float: none;
		}
	}
}

//
//	Cart empty
//
p.cart-empty,
p.return-to-shop {
	text-align: center;
}