//
//	WooCommerce Checkout
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

body.woocommerce-checkout {

	//
	//	Smaller headers
	//
	h3 {
		font-size: 16px;
		font-weight: bold;
		margin-top: 0;
	}

	// Width restriction
	@include width-restrict( $fh_woo_width_restrict );

	form.checkout { clear: both; }

	//
	//	Checkout Order Review Table
	//
	table.shop_table {

		@extend .table;
		@extend .table-striped;

		.product-name { width: 60% }
		.product-total { width: 40%; }
		.cart_item td:last-child,
		.order_item td:last-child {
			text-align: right;
		}
		& > thead > tr,
		& > tfoot > tr {
			& > th:last-child,
			& > td:last-child {
				text-align: right;
			}
			&.shipping {
				th, td { text-align: left; }
				p { margin-bottom: 0; }
			}
		}
	}

	//
	//	Varations
	//
	.variation p:last-child { margin-bottom: 0; }

	//
	//	Login form
	//
	form.login {
		label.inline {
			display: block;
			margin: 0;
			padding-top: 10px;
		}
		.form-row { margin-bottom: 10px; }
		.button {
			@extend .btn-success;
		}
	}

	//
	//	Create account
	//
	p.create-account label { padding-left: 0; }

	//
	//	2-column Checkout Page
	//
	@if $fh_woo_checkout_two_col {

		.col2-set {
			@include clearfix();
			border-bottom: 1px dashed $k_silver;
			margin-bottom: 20px;
			margin-top: 20px;
			padding-bottom: 20px;
			width: 100%;
			.col-1 {
				float:left;
				width: 48%;
			}
			.col-2 {
				float: right;
				width: 48%;
			}
			@media( max-width: $screen-sm ) {
				.col-1, .col-2 {
					border-bottom: 1px dashed $k_silver;
					float: none;
					width: 100%;
				}
				.col-2 { margin-top: 20px; }
				border-bottom: none;
			}
		}

	} @else {

		.col-1, .col-2 {
			border-bottom: 1px dashed $k_silver;
			margin-bottom: 20px;
			margin-top: 20px;
			padding-bottom: 20px;
			@media( max-width: $screen-sm ) {
				.col-2 { margin-top: 20px; }
			}
		}
	}
}

//
// Fix country labels with strong (if only one selection)
//
#billing_country_field,
#shipping_country_field {
	strong:before { content: ': '; }
	strong { font-weight: normal; }
}

//
//	Alerts
//
.woocommerce-info {
	margin-bottom: 10px;
	text-align: center;
}

//
//	Ship to a Different Address
//
#ship-to-different-address {
	label {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}
	.input-checkbox { margin-left: 5px; }
}

//
//	Coupon Entry
//
form.checkout_coupon {
	max-width: 290px;
	margin: 0 auto;
	.button {
		@extend .btn-success;
	}
}