//
//	WooCommerce Forms
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

.woocommerce-page {

//
//	Quantity
//
.quantity {
	input.qty {
		width: 60px;
		@extend .form-control;
	}
	// Disable plus/minus for quantity (letting HTML5 handle it)
	.plus, .minus { display: none; }
}

form {

	//
	//	Chosen styling
	//	- Matches height of Bootstrap input containers
	//
	.chosen-container { height: 34px; }
	.chosen-drop { margin-top: -10px; }

	.form-row {
		@extend .form-group;
		@include clearfix();
		line-height: 20px;

		select,
		textarea,
		input.input-text {
			@extend .form-control;
			line-height: inherit;
		}

		.required {
			color: $fail_red;
			font-weight: bold;
			border: 0;
		}
		.input-checkbox {
			display: inline;
			margin: -2px 8px 0 0;
			text-align: center;
			vertical-align: middle;
		}
		label.checkbox { display: inline; }
		&.validate-required.woocommerce-validated {
			input.input-text { background: #F1F8E8; }
		}
		&.validate-required.woocommerce-invalid {
			input.input-text { background: #FFF9F7; }
			.chzn-single,
			.chzn-drop,
			input.input-text,
			select {
				border-color: #fb7f88;
			}
		}
	}
	.form-row-first, .form-row-last {
		float: left;
		width: 48%;
		overflow: visible;
		@media( max-width: $screen-sm ) {
			width: 100%;
			float: none;
		}
	}
	.form-row-last {
		float: right;
		@media( max-width: $screen-sm ) {
			float: none;
			margin-bottom: 15px;
		}
	}
	.form-row-wide { clear: both; }
}
}

.shipping {
	text-align: left;
	.woocommerce-error {
		font-size: 90%;
		margin-bottom: 0;
		padding: 10px;
		text-align: center;
	}
}
ul#shipping_method {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		margin: 0;
		padding: 5px 0;
		border-bottom: 1px $k_ddd solid;
		.shipping_method {
			display: inline-block;
			float: left;
			margin: 5px 10px 0 0;
			width: 15px;
		}
		label {
			display: inline;
			font-weight: normal;
			font-size: 90%;
		}
	}
	li:last-child { border-bottom: 0; }
	.amount { font-weight: bold; }
}
select.shipping_method {
	@extend .form-control;
}