//
//	WooCommerce General Styling
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Tables
//
.woocommerce table {
	& > thead,
	& > tbody,
	& > tfoot {
		& > tr > th,
		& > tr > td {
			vertical-align: middle;
		}
	}
}

//
//	Messages
//
.woocommerce-page {
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		@extend .alert;
		margin: 10px 0;
		a.button {
			float: right;
			font-size: 80%;
			margin: 0;
			margin-top: -2px;
			padding: 3px 5px;
			text-transform: uppercase;
		}
	}
	.woocommerce-message { @extend .alert-success; }
	.woocommerce-info { @extend .alert-info; }
	.woocommerce-error {
		@extend .alert-danger;
		list-style: none;
	}
}

//
//	Digital Downloads
//
ul.digital-downloads {
	margin-left: 0;
	padding-left: 0;
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 15px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat; /* download icon */
		.count {
			float: right;
		}
	}
}

//
//	Pagniation
//
nav.woocommerce-pagination {
	text-align: center;
	ul {
		@extend .pagination;
		margin: 0;
		.current {
			z-index: 2;
		    color: $pagination-active-color;
		    background-color: $pagination-active-bg;
		    border-color: $pagination-active-border;
		    cursor: default;
		}
	}
}

//
//	Product variations
//
td.product-name {
	dl.variation {
		margin: 5px 0 0 0;
		font-size: 90%;
		dt {
			float: left;
			font-weight:bold;
			padding: 0 5px 0 0;
			margin-bottom: 0;
		}
		p { margin-bottom: 0; }
	}
}

//
//	Breadcrumbs
//
body.woocommerce #fh_crumbs {
	margin-bottom: 0;
}

//
//	Navbar right cart button
//
#navbar_cart { margin-right: -5px; }