//
//	WooCommerce General Mix-ins
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	900px Width Restriction
//
@mixin width-restrict( $width ) {

	@if( $width ) {
		.woocommerce,
		.one_full h1 {
			// Fix width so it's respectable
			margin-left: auto;
			margin-right: auto;
			max-width: $width;
		}
		.one_full #fh_crumbs {
			margin: 0 auto 10px auto;
			max-width: $width;
		}
	}
}

