//
//	WooCommerce My Account
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

.woocommerce-account {

	// Width restriction
	@include width-restrict( $fh_woo_width_restrict );

	//
	//	General Table / Table Action Buttons
	//
	table {
		@extend .table;
		@extend .table-striped;
		tr > td:last-child { width: 1%; }
		.button { @extend .btn-xs; }
	}

	//
	//	Order Actions Buttons
	//
	.order-actions .button {
		@extend .btn-primary;
		float: right;
		padding: 2px 5px;
	}

	//
	//	Orders table column widths
	//
	.my-account-orders {
		.order-number { width: 4%; }
		.order-date { width: 4%; }
		.order-status { width: 4%; }
		.order-total { width: 12%; }
		.order-actions { width: 60px; }
	}

	//
	//	Order information
	//
	.order-info mark {
		background: none;
		font-weight: bold;
	}

	legend {
		margin-top: 15px;
		margin-bottom: 15px;
		border-bottom: none;
	}
}

//
//	Account Page
//
.addresses {
	@include clearfix();

	.col-1 {
		float: left;
		width: 48%;
	}
	.col-2 {
		float: right;
		width: 48%;
	}

	.edit {
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}

	@media( max-width: $screen-sm ) {
		.col-1, .col-2 {
			width: 100%;
			float: none;
		}
	}
}
.customer_details {
	margin-bottom: 0;
	dt { margin-bottom: 0.5em; }
}

//
//	Saved card information
//	- Has to be important due to inline styling *grumbles*
//
#saved-cards {
	margin-top: 20px !important;
}