//
//	WooCommerce Checkout process order details
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

.order_details {
	@include clearfix();
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;

	@media( max-width: $screen-sm ) {
		margin-top: 15px;
	}

	li {
		float: left;
		margin-right: 20px;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1em;
		border-right: 1px dashed $k_silver;
		padding-right: 2em;

		@media( max-width: $screen-sm ) {
			float: none;
			border-right: none;
			padding-bottom: 5px;
		}

		strong {
			display: block;
			font-size: 1.4em;
			text-transform: initial;
			line-height: 1.5em;
		}

		&:last-of-type {
			border: none;
		}
	}
}

.customer_details {
	dd { padding-bottom: 10px; }
}

.order-again {
	text-align: center;
	.button { @extend .btn-success; }
}

.order_details {
	.product-name { width: 75%; }
	.product-total { width: 25%; }
	tr th:last-child,
	tr td:last-child {
		text-align: right;
	}
	// p { line-height: inherit; }
}