//
//	WooCommerce Payment box
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

#payment {
	@include clearfix();
	@extend .well;

	//
	//	Payment methods list
	//
	ul.payment_methods {
		@include clearfix();
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			line-height: 2em;
			padding-bottom: 1em;
			input {
				margin: 0 5px 0 0;
				position: relative;
				top: 1px;
			}
			img {
				vertical-align: middle;
				margin: -2px 0 0 .5em;
				position: relative;
				@media( max-width: $screen-sm ) {
					max-width: 100px;
				}
			}
		}
	}

	//
	//	Place order wrapper
	//
	div.form-row {
		padding: 20px 0 0 0;
		border-top: 1px dashed $k_ddd;
	}

	//
	//	Place order button
	//
	#place_order {
		@extend .btn-success;
		float: right;
	}

	// .terms {
	// 	padding: 0 1em 0;
	// 	text-align: right;
	// }

	//
	//	CC Payment box
	//
	div.payment_box {
		#cc-expire-month {
			float: left;
			width: 48%;
		}
		#cc-expire-year {
			float: right;
			width: 48%;
		}
		span.help {
			color: $k_mineshaft;
			font-size: 11px;
			font-weight: normal;
			line-height: 13px;
		}
		.form-row {
			margin: 0 0 10px 0;
			select {
				float: left;
				margin-right: 3.8%;
				width: 48%;
				&:nth-child( 3n ) { margin-right: 0; }
			}
			label { display: block; }
		}
		fieldset {
			max-width: 550px;
			margin: 20px auto 0 auto;
			.button {
				@extend .btn-default;
			}
		}
		p:last-child { margin-bottom: 0; }
	}
}