//
//	WooCommerce Plugins
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Name Your Price
//
// .product .nyp input.nyp-input {
// 	@extend .form-control;
// 	font-weight: normal;
// 	margin: 0 auto;
// 	max-width: 100px;
// }