//
//	WooCommerce Products browsing and looping
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

$loc_item_max_width: 199px;

$loc_margin_right:  if( $fh_woo_product_padding, 1.3%, 0 );
$loc_margin_bottom: if( $fh_woo_product_padding, 20px, 35px );
$loc_item_width:    if( $fh_woo_product_padding, 24%,  25% );

// Wrapper for result count and sorting
.fh_result_count_order_wrap {
	min-height: 15px;
	position: relative;
}

// Result Count
.woocommerce-result-count {
	bottom: 0;
	float: right;
	font-size: .9em;
	font-style: italic;
	margin: 0;

	@media ( max-width: $screen-xs ) {
		float: none;
		margin-bottom: 5px;
		position: static;
		text-align: center;
		width: 100%;
	}
}

// Sorting/ordering
.woocommerce-ordering {
	margin: 0;
	float: left;
	height: 30px;
	select {
		float: right;
		max-width: 200px;
		@extend .input-sm;
		@media ( max-width: $screen-xs ) {
			float: none;
			margin: 0 auto;
		}
	}
	@media ( max-width: $screen-xs ) {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}
}

ul.products {

	list-style: none;
	margin: 15px 0 0 0;
	padding: 0;
	@include clearfix();

	//
	//	TODO: Better handling of percentage based layouts like holygrail asset
	//
	@if $s_content_side_gutters == true {

		@media( max-width: ( $s_content_full_width + $s_gutter * 2 ) ) { text-align: center; }

	} @else {

		@media( max-width: ( $s_content_full_width ) ) { text-align: center; }
	}

	@if $fh_woo_product_padding {
		li.first { clear: both; }
		li.last { margin-right: 0; }
	}
}

li.product {

	list-style: none;
	float: left;
	height: $fh_woo_product_height_browse;
	margin: 0 $loc_margin_right $loc_margin_bottom 0;
	padding: 0;
	position: relative;
	width: $loc_item_width;
	min-width: $loc_item_max_width;
	text-align: left;
	vertical-align: top;
	border: 1px solid $k_gallery;

	//
	//	TODO: Better handling of percentage based layouts like holygrail asset
	//
	@if $s_content_side_gutters == true {

		@media( max-width: ( $s_content_full_width + $s_gutter * 2 ) ) {

			display: inline-block;
			float: none;
			margin: 0 1% 10px 1%;
		}

	} @else {

		@media( max-width: ( $s_content_full_width ) ) {

			display: inline-block;
			float: none;
			margin: 0 1% 10px 1%;
		}
	}


	.onsale {
		background: $brand-success;
		color: $k_white;
		left: -3px;
		padding: 5px 10px 20px 10px;
		position: absolute;
		text-align: center;
		top: -3px;
		width: 60px;
	}
	.fh_product_loop_title {
		display: block;
		padding: 5px 10px;
		width: 100%;
	}
	h3 {
		font-size: 1em;
		line-height: 1.4em;
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
		vertical-align: middle;

		-webkit-transition: color 250ms;
		-moz-transition:    color 250ms;
		-o-transition:      color 250ms;
		transition:         color 250ms;
	}
	h3:hover { color: $link-color; }
	a { text-decoration: none; }
	a img {
		border-bottom: 1px $k_gallery solid;
		display: inline-block;
		height: auto;
		max-width: $fh_woo_product_max_width_browse;
		width: 100%;
	}

	.star-rating {
		color: $k_mineshaft;
		margin-bottom: 5px;
		padding: 0 10px;
		// text-align: center;
		span::before { content: 'Avg. Rating: '; }
	}

	.price {
		color: $success_green;
		display: block;
		float: left;
		font-size: 1em;
		font-weight: normal;
		line-height: 1.2em;
		margin-left: 10px;
		margin-right: 10px;

		ins { text-decoration: none; }
		del {
			color: $k_white;
			font-size: 70%;
			position: absolute;
			top: 22px;
			left: -3px;
			text-align: center;
			width: 60px;
		}
	}

	.button,
	.added_to_cart {
		background: $brand-info;
		border-radius: 0;
		border-top: 1px $k_gallery solid;
		border: none;
		bottom: 0;
		color: $k_white;
		font-weight: bold;
		left: 0;
		position: absolute;
		width: 100%;

		&:hover {
			background: $brand-success;
			color: $k_white;
		}
	}

	.added { display: none; }
}

li.product-category {
	// Subtract 80px due to no "tools"
	height: $fh_woo_product_category_height_browse;
	.fh_product_loop_title { height: 60px; }
	text-align: center;
}

mark.count {
	background: transparent;
	display: inline-block;
	font-size: .9em;
}