//
//	WooCommerce Product view page
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Product Page
//
body.single-product {
	#fh_crumbs { margin-bottom: 10px; }
}
div.product {
	// margin-bottom: 0;
	// position: relative;

	//
	//	Header
	//
	h1 { font-size: 1.7em; }

	//
	//	Under header product rating
	//
	.woocommerce-product-rating {
		font-size: 90%;
		margin-top: -5px;
		margin-bottom: 15px;
		text-align: center;
		.star-rating { display: inline; }
	}

	//
	//	Price
	//
	.summary .price {
		color: $success_green;
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 10px;
		text-align: center;
		ins { text-decoration: none; }
		del {
			color: $k_silver;
			font-size: 70%;
		}
	}

	//
	//	Stock
	//
	p.stock { color: $success_green; }
	.out-of-stock { color: $fail_red; }

	//
	//	Sale label
	//
	span.single_onsale {
		@extend .alert;
		@extend .alert-success;
		display: block;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		margin: 10px 0 !important;
	}

	//
	//	Product View Images
	//
	div.images {
		float: left;
		// margin-top: 20px;
		width: 49%;
		img {
			display: block;
			height: auto;
			margin-bottom: 0;
			width: 100%;
			@media( max-width: $screen-sm ) {
				margin: 0 auto 20px auto;
				max-width: 280px;
			}
		}
		@media( max-width: $screen-sm ) {
			float: none;
			width: 100%;
		}
	}
	div.thumbnails {
		margin-top: 10px;
		a {
			float:left;
			width: 23.5%;
			text-align: center;
			margin-right: 1%;
			margin-left: 1%;
			&:nth-child( 4n + 1 ) { margin-left: 0; }
			&:nth-child( 4n ) { margin-right: 0; }
		}
		img {
			margin: 0 0 10px 0;
		}
		@media( max-width: $screen-sm ) {
			width: 75%;
			margin: 5px auto;
		}
	}

	//
	//	Summary Div (contains title, price etc)
	//
	div.summary {
		float: right;
		width: 49%;
		margin-bottom: 20px;
		// margin-top: 20px;
		.cart,
		.stock {
			text-align: center;
		}
		.cart {
			vertical-align: top;
			.quantity { vertical-align: top; }
			.button {
				margin-top: 1px;
				vertical-align: top;
			}
		}
		.quantity {
			display: inline-block;
			margin-right: 5px;
		}
		.sku_wrapper,
		.posted_in,
		.tagged_as {
			display: block;
			margin-bottom: 5px;
		}
		@media( max-width: $screen-sm ) {
			border-bottom: 1px $k_ddd solid;
			clear: both;
			float: none;
			margin-bottom: 10px;
			padding-bottom: 10px;
			width: 100%;
		}
	}

	//
	//	Variations
	//
	table.variations {

		@extend .table;
		@extend .table-striped;

		margin-top: 10px;
		margin-bottom: 5px;
		.label {
			color: $k_mineshaft;
			display: table-cell;
			font-size: 14px;
			padding-top: 15px;
			text-align: left;
			vertical-align: top;
			width: 25%;
			label { margin-bottom: 0; }
		}
		.value {
			text-align: left;
			width: 75%;
			select {
				@extend .form-control;
				display: inline-block;
			}
			.reset_variations {
				display: none;
				font-size: 80%;
			}
		}
		@media( max-width: $screen-sm ) {
			margin-top: 0;
		}
	}
	.single_variation_wrap .price {
		display: inline-block;
		margin-bottom: 5px;
	}

	.variations_button { margin-top: 10px; }

	//
	//	Add to cart btn
	//
	.single_add_to_cart_button { @extend .btn-success; }
}

//
//	Tabs
//
.woocommerce-tabs {
	clear:both;
	padding-top: 15px;
	h2 {
		font-size: 1.2em;
		font-weight: bold;
		margin: 15px 0;
	}
	ul.tabs {
		border-bottom: 1px solid $k_silver;
	    list-style:none;
	    padding: 0;
	    margin: 0;
	    overflow:hidden;
	    position: relative;

	    li {
		    display: inline-block;
		    position: relative;
		    z-index: 0;
		    margin: 0 -5px;
		    padding: 0 10px;

		    a {
		    	display: inline-block;
		    	padding: 10px 0;
		    	text-decoration: none;
		    	&:hover { text-decoration: none; }
		    }

		    &.active {
		    	font-weight:bold;
			    z-index: 2;
			    a { color: inherit; }
		    }
		    @media( max-width: $screen-sm ) {
		    	display: block;
				padding-left: 0;
				margin: 0;
				a { padding-top: 0; }
		    }
	    }
	}
	.panel {
		margin: 0 0 2em;
		padding: 0;
	}

	// Additional information table
	table.shop_attributes {

		@extend .table;
		@extend .table-striped;

		p { margin-bottom: 0; }
	}
}

//
//	Image overlay affix fix
//
div.pp_overlay    { z-index: 999999 !important; }
div.pp_pic_holder { z-index: 9999999 !important; }