//
//	WooCommerce Product reviews & comments
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

#reviews {

	#respond {
		margin: 0;
		border: 0;
		padding: 0;
		#submit {
			@extend .btn-success;
		}
	}
	#comment { height: 75px; }
	#comments {
		.add_review { @include clearfix(); }
		h2 { clear: none; }
		ol.commentlist {
			@include clearfix();
			margin: 0;
			padding: 0;
			width: 100%;
			background:none;
			list-style: none;
			li {
				padding: 0;
				margin: 0 0 20px;
				border: 0;
				position: relative;
				border: 0;
				.meta {
					color: $k_mineshaft;
					font-size: 0.75em;
					margin-bottom: 10px;
				}
				img.avatar {
					float: left;
					max-width: 60px;
					height: auto;
					margin: 0;
					@media( max-width: $screen-xs ) {
						display: block;
						float: none;
						margin: 0 auto 10px auto;
					}
				}
				.comment-text {
					background: $k_whitesmoke;
					margin: 0 0 0 75px;
					border: 1px solid $k_silver;
					border-radius: 4px;
					padding: 1em 1em 0;
					p.meta { font-size: 90%; }
					@media( max-width: $screen-xs ) { margin: 0; }
				}
			}
		}
		.commentlist > li:before {
			content: "";
		}
	}
}

#review_form_wrapper {
	margin-bottom: 20px;
	#reply-title {
		margin-top: 0;
		font-size: 1.2em;
		font-weight: bold;
	}
}

.woocommerce-noreviews { margin-bottom: 15px; }