// @import "../../vendor/select2/select2-bootstrap";

.select2-container .select2-choice {
    display: block;
    height: 34px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid $k_ddd;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    border-radius: 4px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
}

.select2-drop { margin-top: -3px; }

.select2-search {
  .select2-input {
      font-size: 0.8em;
      padding: 0 5px !important;
  }
}

.select2-drop-active {
  border: 1px solid $k_ddd !important;
  border-top: none !important;
}

.select2-chosen {
  margin-top: 3px;
  font-size: .8em;
}

li.select2-result {
  font-size: .8em;
  margin: 0;
}
