//
//	WooCommerce WP widgets support
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

.woocommerce-page {
//
//	Search Form
//
#searchform {
	@include clearfix();
	.screen-reader-text { display: none; }
	#s { @extend .form-control; }
	#searchsubmit {
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
		float: right;
		margin-top: 10px;

		//
		//	Button transition time on hover
		//
		-webkit-transition: all 250ms;
		-moz-transition:    all 250ms;
		-o-transition:      all 250ms;
		transition:         all 250ms;
	}
}
}

//
//	Cart sidebar
//
aside ul > li ul.cart_list,
.sidr ul > li ul.cart_list,
aside ul > li ul.product_list_widget,
.sidr ul > li ul.product_list_widget {
	padding: 0;
	margin: 0;
	li {
		@include clearfix();
		border-bottom: 1px $k_silver solid !important;
		list-style: none !important;
		margin: 0;
		padding: 7px 0 !important;
		a {
			font-size: .9em;
			display: block;
		}
		img {
			box-shadow: 1px 1px 2px $k_silver;
			float: right;
			height: auto;
			margin-top: 5px;
			margin-left: 5px;
			width: 32px;
		}
		dl {
			border-left: 2px solid $k_silver;
			font-size: 80%;
			margin: 5px 0 0 0 !important;
			padding-left: 10px;
			dt {
				clear: left;
				float: left;
				margin-right: 5px;
				margin-bottom: 5px;
			}
			dd { margin-bottom: 5px; }
			dt:last-of-type,
			dd:last-of-type {
				margin-bottom: 0 !important;
			}
		}
		span.quantity {
			border-left: 2px solid $k_silver;
			display: block;
			font-size: 80%;
			padding-left: 10px;
		}
		span.quantity:before {
			content: 'Quantity: ';
			font-weight: bold;
		}
		.star-rating {
			float: none;
			font-size: 0.9em;
			span::before { content: 'Avg. Rating: '; }
		}
		ins { text-decoration: none; }
	}
	li:last-child {
		border-bottom: none !important;
		padding-bottom: 0 !important;
	}
	.reviewer { font-size: 0.8em; }
}
.widget_shopping_cart_content {

	// Compensate for header margin-bottom
	margin-top: -10px;

	.total {
		padding: 5px 0 5px 0;
		margin-bottom: 5px;
		strong {
			min-width: 40px;
			display: inline-block;
		}
	}

	.buttons {
		@include clearfix();
		.button { @extend .btn-sm; }
		.checkout {
			@extend .btn-success;
			float: right;
		}
	}
}

//
//	Price Filter Widget
//
.price_slider_wrapper {

	margin-top: 20px;

	.price_slider {
		background: $k_silver;
		margin-bottom: 20px;
	}
	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;
		font-size: 0.8751em;
		.button {
			@extend .btn-sm;
			@extend .btn-primary;
			float: left;
		}
	}
	.ui-slider {
		position: relative;
		text-align:left;
	}
	.ui-slider .ui-slider-handle {
		position:absolute;
		z-index: 2;
		width: 15px;
		height: 15px;
		border: 3px solid $k_mineshaft;
		border-radius: 50%;
		cursor: pointer;
		top: -4px;
		&:last-child {
			margin-left: -1em;
		}
	}
	.ui-slider .ui-slider-range {
		background: #78D523;
		position:absolute;
		z-index: 1;
		font-size: .7em;
		display:block;
		border: 0;
	}
	.price_slider_wrapper .ui-widget-content {
		background: #DADADA;
	}
	.ui-slider-horizontal { height: .5em; }
	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-horizontal .ui-slider-range-min { left: -1px; }
	.ui-slider-horizontal .ui-slider-range-max { right: -1px; }
}

//
//  Sidr Search Form
//
.woocommerce-page {
    #fh_sidr_searchform {
        @include clearfix();
        .screen-reader-text { display: none; }
        #fh_sidr_s { @extend .form-control; }
        #fh_sidr_searchsubmit {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-primary;
            float: right;
            margin-top: 10px;

            //
			//	Button transition time on hover
			//
			-webkit-transition: all 250ms;
			-moz-transition:    all 250ms;
			-o-transition:      all 250ms;
			transition:         all 250ms;
        }
    }
}