//
//  Folkhack's Gravity Forms styling
//
//  Table of Contents:
//  - Variables/configuration
//  - General fixes
//  - Required *
//  - input, select, and textarea elemnt extends
//  - Button extend
//  - Error/notification messages handling
//  - Gravity Forms complex containers
//  - Weird-ass clear-multi shit
//  - Date fields
//  - Lists
//  - General Datepicker
//  - Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//
//
//  Based on:
//  - http://roots.io/style-gravity-forms-with-bootstrap/
//  - https://gist.github.com/Gavrisimo/8406309
//  - https://gist.github.com/spigists/6796258
//
//  TODO:
//  - Clean this up once Gravity Forms more-or-less gets their shit more together
//  - Rip apart provided Gravity Forms CSS and implement all specific feature-sets
//  - Better handling of date-fields, currently drop-down dates are AOK to use
//  - Drop Down Enhanced styling (oof...)
//  - Multi Select Enhanced styling (oof...)
//
//  ╔═══════════════════════════════════╗
//  ║ © Copyright 2014 Folkhack Studios ║
//  ╚═══════════════════════════════════╝
//


//
//  Variables/configuration:
//

// Enables/disables jQuery UI datepicker (jQuery UI can go die in a fire...IMHO)
$fh_gf_jqueryui_datepicker_enabled: false !default;
// Setup a reasonable responsive break-point for complex fields
$fh_gf_responsive_break_at: $screen-sm-min !default;


//
//  General fixes:
//

// Field/form container styling:
.gform_wrapper {
    margin-bottom: 20px;
}
.gform_wrapper ul { @extend .list-unstyled; }
.gform_wrapper li { @extend .form-group; }
.gform_wrapper form { margin-bottom: 0; }

// Field container clear
.gfield { clear: both; }

// Form description
.gform_heading .gform_description {
    display: block;
    margin: 0 0 10px 0;
}

// Radios/checks
.gfield_checkbox,
.gfield_radio {
    margin: 0 0 0 10px;
    label {
        font-weight: normal;
        margin-left: 10px;
    }
    li { margin-bottom: 0px; }
}
.gfield_radio {
    // For "other" radio option
    input[type="text"] {
        display: inline-block;
        margin-left: 8px;
        width: 90%;
    }
}

// Multiple select and textarea height fixes
.ginput_container select[multiple] { height: auto; }
.ginput_container textarea { height: auto; }


//
//  Required *:
//
.gform_wrapper .gfield_required {
    color: $state-danger-text;
    padding-left: 1px;
}


//
//  Section break heading
//
.gsection_title {
    border-bottom: 1px solid $k_silver;
    margin-top: 1em;
    padding-bottom: .5em;
}


//
//  input, select, and textarea elemnt extends:
//
.ginput_container input[type=text],
.ginput_container input[type=email],
.ginput_container input[type=number],
.ginput_container input[type=url],
.ginput_container input[type=tel],
.ginput_container input[type=date],
.ginput_container input[type=password],
.ginput_container select,
.ginput_container textarea,
.gfield_captcha_input_container input {
    @extend .form-control;
}


//
//  Button extend:
//
.gform_button,
.gform_next_button,
.gform_previous_button {
    @extend .btn;
    @extend .btn-primary;
}


//
//  Error/notification messages handling:
//
.gform_wrapper .gfield_error {

    background: $alert-danger-bg;
    border: $state-danger-text 1px solid;
    padding: 10px;

    .gfield_label { color: $state-danger-text; }

    input,
    select,
    textarea {
        @include form-control-focus( $alert-danger-text );
    }
}
.validation_error {
    @extend .alert;
    @extend .alert-danger;
}
.validation_message {
    color: $state-danger-text !important;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}
#gforms_confirmation_message { @extend .alert; }


//
//  Gravity Forms complex containers:
//  - based on discussion from http://roots.io/style-gravity-forms-with-bootstrap/
//  - HELLA refactored to SCSS/responsive sanity =/
//
.ginput_complex {

    // Add a 10px gray border to the left side of complex groupings
    border-left: 10px $gray-lighter solid;
    display: block;
    padding: 10px 0 0 20px;

    // Fix label font weight and top spacing
    label {
        font-weight: normal;
        margin: 5px 0 15px 0;
    }
    span:last-of-type label { margin: 5px 0 0 0; }

    // Full-width container
    .ginput_full { width: 100%; }

    // Left/right containers (ex: first/last name)
    .ginput_left,
    .ginput_right {
        float: left;
        width: 50%;
    }

    // Inputs and labels
    .ginput_full {
        input,
        label {
            width: 100% !important;
        }
    }
    .ginput_left {
        input,
        select,
        textarea,
        label {
            width: 95% !important;
        }
    }

    // Responsive break for full-width input fields
    @media screen and ( max-width: $fh_gf_responsive_break_at ) {
        .ginput_full,
        .ginput_left,
        .ginput_right {
            float: none;
            width: 100% !important;
            input { width: 100% !important; }
            label { width: 100% !important; }
        }
    }
}

// Add BS3 clearfix
.gf_clear_complex { @extend .clearfix; }


//
//  Weird-ass clear-multi shit:
//
.clear-multi {

    display: table;

    // Add BS3 clearfix
    @extend .clearfix;

    // Time/date fields
    // - consider refactoring to be wrapped in .gfield_time_* and .gfield_date_*
    //   keeping non-wrapped due to compiled CSS bloat. Keep an eye on this!
    .ginput_container {
        display: table-cell;
        padding-left: 5px;
        input { width: 70px; }
        select { width: 95px; }
        // Disable the labels for time (yeahhh no need really)
        label { display: none; }
    }
    .ginput_container:first-child { padding-left: 0; }

    // This is hack-y but fixes a rendering bug on Chrome
    // TODO: clean this up
    .gfield_time_hour,
    .gfield_time_minute,
    .gfield_time_ampm {
        float: left;
    }

    // Inline block so that input element aligns properly with ":"
    .gfield_time_hour input { display: inline-block; }

    //
    //  Date fields
    //
    .gfield_date_month,
    .gfield_date_day,
    .gfield_date_year {
        // Re-enable the date field labels
        label {
            display: block;
            font-weight: normal;
        }
    }
}


//
//  Lists:
//
.gfield_list {
    // Offset the top padding for the cell spacing
    margin-top: -5px;
    tr .gfield_list_cell { padding: 5px 5px 5px 0; }
    th {
        font-size: .9em;
        font-weight: normal;
    }
    .gfield_list_icons {
        vertical-align: middle !important;
        width: 45px;
        img { float: left; }
    }
}


//
//  General Datepicker:
//
.gfield .datepicker {
    display: inline-block !important;
    width: 170px !important;
}


//
//  Multi-file upload
//
.gform_drop_area {
    background: $k_whitesmoke;
    border: 4px dashed $k_silver;
    padding: 20px;
    text-align: center;
}
@media( max-width: 360px ) {
    .gform_fileupload_multifile {
        max-width: 280px;
        overflow: hidden;
    }
}

//
//  Description:
//
.gfield_description {
    color: $gray;
    display: block;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
}

//
//  Progress Bars
//  .progress, .progress-bar
//  .gf_progressbar, .gf_progressbar_percentage
.gf_progressbar_wrapper {
    margin: 25px auto;
    max-width: 450px;
    text-align: center;
}
.gf_progressbar { @extend .progress; }
.gf_progressbar_percentage { @extend .progress-bar; }

//
//  Ajax spinner
//
.gform_ajax_spinner { margin-left: 20px; }

//
//  Honeypot validation container
//  - hides .gform_validation_container
//
.gform_validation_container {
    display: none;
}

//
//  ReCaptcha
//
.recaptchatable #recaptcha_response_field {
    height: 20px;
    display: inline !important;
}
@media( max-width: 360px ) {
    #recaptcha_widget_div {
        max-width: 280px;
        overflow-x: scroll;
    }
}

//
//  Really Simple Captcha
//
img.gfield_captcha { margin-bottom: 10px; }
.gfield_captcha_input_container input { max-width: 200px; }

//
//  Image Options/Radios ".image-radio", ".image-check" Support
//
.image-radio li, .image-check li {
    border-radius: 5px;
    border: 1px $fh_gf_image_select_unselected_col solid;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: $fh_gf_image_select_li_height;
    min-width: $fh_gf_image_select_li_width;
    position: relative;

    label {
        font-size: .8em;
        left: 0;
        line-height: 1.5em;
        margin-bottom: 0;
        margin-left: 0;
        padding: 5px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        cursor: pointer;

        & > img { margin-bottom: 7px; }
    }

    input {
        // top: 5px;
        // left: 5px;
        // position: absolute;
        // z-index: 9999;
        display: none;
    }

    &.active {
        border: 1px darken( $fh_gf_image_select_selected_bg_col, 20% ) solid;
        background: $fh_gf_image_select_selected_bg_col;
    }
}

//
//  Order form credit card:
//
.gfield_description { font-style: normal; }

.gform_wrapper .gform_card_icon_container {
    margin: 8px 0 6px 0;
    height: 32px;
}
.gform_wrapper div.gform_card_icon {
    margin-right: 4px;
    text-indent: -9000px;
    background-image: url( $fh_gf_plugin_img_location + '/gf-creditcard-icons.png' );
    background-repeat: no-repeat;
    width: 36px;
    height: 32px;
    float: left;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa { background-position: 0 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa { background-position: 0 -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa { background-position: 0 -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard { background-position: -36px 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard { background-position: -36px -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard { background-position: -36px -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex { background-position: -72px 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex { background-position: -72px -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex { background-position: -72px -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover { background-position: -108px 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover { background-position: -108px -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover { background-position: -108px -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro { background-position: -144px 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro { background-position: -144px -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro { background-position: -144px -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb { background-position: -180px 0 }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb { background-position: -180px -32px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb { background-position: -180px -64px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa { background-position: 0 -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa { background-position: 0 -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa { background-position: 0 -256px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard { background-position: -36px -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard { background-position: -36px -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard { background-position: -36px -256px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex { background-position: -72px -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex { background-position: -72px -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex { background-position: -72px -256px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover { background-position: -108px -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover { background-position: -108px -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover { background-position: -108px -256px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro { background-position: -144px -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro { background-position: -144px -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro { background-position: -144px -256px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb { background-position: -180px -192px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb { background-position: -180px -224px }
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb { background-position: -180px -256px }
.gform_card_icon_container input[type=radio]#gform_payment_method_creditcard {
    float: left;
    position: relative;
    top: 4px!important;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left, .gform_wrapper .ginput_complex .ginput_cardinfo_right {
    min-height: 43px;
    position: relative;
    float: left;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left {
    width: 50%;
    margin-right: 1%;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right { min-width: 85px !important }
.gform_wrapper .ginput_complex .ginput_cardinfo_left label, .gform_wrapper .ginput_complex .ginput_cardinfo_right label { white-space: nowrap !important }
.gform_wrapper .ginput_complex span.ginput_cardextras {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left span.ginput_card_expiration_container {
    position: relative;
    display: block;
    min-width: 160px !important;
}
.gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_month, .gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_year {
    width: 47% !important;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left select.ginput_card_expiration.ginput_card_expiration_month { margin-right: 4px }
.gform_wrapper .ginput_complex .ginput_cardinfo_right input.ginput_card_security_code { max-width: 50% !important }
.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
  display: none;
}

//
//  Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//  - hide jQuery UI datepicker in lieu of using the HTML type="date" option
//  - left this around just-in-case
//
@if( $fh_gf_jqueryui_datepicker_enabled ) {

    // Local defaults from "Folkhack's Boilerplate"
    //  * Allows for stand-alone use
    //  * TODO: nix this ... I think I'm totally done f'n with jQuery UI
    $k_black:      #000000 !default;
    $k_white:      #FFFFFF !default;
    $k_mineshaft:  #303030 !default;
    $k_silver:     #CCCCCC !default;
    $k_whitesmoke: #F5F5F5 !default;

    .ui-datepicker-trigger {
        display: inline-block;
        margin-left: 5px;
    }
    .ui-widget {
        background: $k_mineshaft;
        box-shadow: 1px 4px 9px $k_silver;
    }
    .ui-datepicker {
        font-family: Verdana, sans-serif;
        font-size: 90% !important;
        padding: 0;
        a:hover { text-decoration: none; }
        .ui-datepicker-header {
            background: transparent;
            border: none;
            font-weight: normal;
            padding: 3px;
            a {
                color: $k_white;
                text-transform: uppercase;
            }
        }
        .ui-datepicker-header .ui-datepicker-title { text-align: center; }
        .ui-datepicker-month {
            margin-right: 5px;
        }
        .ui-datepicker-next {
            float: right;
            right: 2px;
        }
        .ui-datepicker-prev {
            float: left;
            left: 2px;
        }
        .ui-datepicker-next,
        .ui-datepicker-prev {
            cursor: pointer;
            top: 3px;
            span {
                font-size: 10px;
                font-weight: normal;
                margin-top: 0;
                position: relative;
                top: 0;
            }
        }
        table { margin: 0; }
        th {
            border-top: 1px solid $k_silver;
            border: none;
            color: $k_silver;
            font-size: 13px;
            font-weight: normal;
            padding: 3px 0;
            text-align: center;
        }
        td {
            background: $k_whitesmoke;
            border: none;
            color: $k_mineshaft;
            padding: 0;
            text-align: center;
        }
        td .ui-state-default {
            background: transparent;
            border: none;
            display: block;
            margin: 0;
            padding: .5em;
            text-align: center;
        }
        td .ui-state-active,
        td .ui-state-hover {
            background: $k_white;
        }
        .ui-state-disabled  { opacity: 1; }
    }

} @else {

    // Hide jQuery UI datepicker
    .ui-datepicker,
    .ui-datepicker-trigger { display: none !important; }
}
