@import url('vars.less');


.post-type-page .edit-post-status {
  display: none !important;
}
.post-type-page .edit-timestamp {
  display: none !important;
}



html.wp-toolbar {

	@media screen and (min-width: 783px) {
		padding-top: 60px;
	}
}


body {
	background: #eee;
	font-family: @Lora;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @Montserrat;
}

#wpadminbar-custom,
#wpadminbar {
	background: #222;

	@media (min-width: 783px) {
		height: 60px;
	}

	#wp-admin-bar-site-name {
		background: url(https://onemission.fund/content/themes/fh_boilerplate-child/img/logo_nav.png);
	    width: 220px;
	    background-size: 195px 36px;
	    background-repeat: no-repeat;
	    background-position: 2px;

	    @media (min-width: 783px) {
	    	background-position: 10px;
	    }

		>a {
			display: block;
		    padding: 0;
		    text-indent: -999em;
		    background: transparent;

		    @media (min-width: 783px) {
		    	height: 60px;
		    	line-height: 60px;
		    }

		    :before {
		    	display: none;
		    }
		}

		.ab-item {
			width: 100%;

			&:before {
				display: none;
			}
		}
	}
	#wp-admin-bar-new-content, #wp-admin-bar-view {
		display: none !important;
	}

	.quicklinks {
		>ul {
			>li {

				@media (min-width: 783px) {
					height: 60px;
				}

				>a, >div.ab-item, >div.ab-empty-item {
					font-family: @Montserrat;
					letter-spacing: 0.3px;

					@media (min-width: 783px) {
						height: 60px;
						padding: 0 10px;
						line-height: 60px;
						height: 60px;
					}
				}

				@media (min-width: 783px) {
					.ab-item {
						>.ab-item, >.ab-icon {
							margin-top: 15px;
						}
					}
				}
			}
		}
	}
}

#adminmenu {
	margin: 0;

	a.menu-top {
		font-family: @Montserrat;
		border-bottom: 1px solid rgba(255,255,255,0.1);

		@media (min-width: 961px) and (min-height: 700px) {
			text-align: center;
		}

	}
	div.wp-menu-image {

		@media (min-width: 961px) and (min-height: 700px) {
			width: 35px;
			height: 35px;
			display: inline-block;
			float: none;

			&:before {
				height: 35px;
				width: 35px;
				margin: auto;
				font-size: 35px;
			}
		}
	}

	@media (min-width: 961px) {
		#collapse-menu {
			display: none;
		}
	}

	.wp-menu-separator {
		display: none;
	}
}

#adminmenu-custom,
#adminmenu {
	.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
		background: @blue;
	}
}
#adminmenu,
#adminmenu-custom {
	li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
		color: @blue;
	}
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background: #222;
}

.metabox-holder .postbox>h3, .metabox-holder .stuffbox>h3, .metabox-holder h2.hndle, .metabox-holder h3.hndle {
	font-size: 16px;
	letter-spacing: 0.7px;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: 961px) {
		font-size: 18px;
		letter-spacing: 1px;
	}
}

.postbox {
	img {
		max-width: 100%;
	}
}

.wp-core-ui .button-primary, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
	font-family: @Montserrat;
	font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    background: @blue;
}

/* fundraiser thermomemter dashboard widget */


/* hide screen options */
.fund-admin #screen-meta-links {
	display: none;
}

@media (max-width: 1050px) {
	.fund-admin #profile_status .start_end {
		font-size:.8em
	}
}

.fund-admin #fundraiser_thermometer_wrap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	overflow-y: hidden;
	width: 100%;

	@media (max-width: 450px) {
		height: auto;
	}
}

.fund-admin #fundraiser_thermometer_wrap .progress {
	display: inline-block;
	width: 60%;
	margin-top: 12px;

	@media (max-width: 600px) {
		width: 50%;
	}

	@media (max-width: 450px) {
		width: 100%;
		margin-bottom: 0;
		margin-top: 5px;
	}
}

@media (max-width: 1050px) {
	.fund-admin #fundraiser_thermometer_wrap .progress {
		//display:block;
		//margin-bottom: 5px;
		//width: 50%;
	}
}

.fund-admin #fundraiser_thermometer_wrap .left_text {
	float: left;
	width: 20%;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: right;

	@media (max-width: 600px) {
		width: 25%;
	}

	@media (max-width: 450px) {
		width: 50%;
		text-align: left;
	}
}

@media (max-width: 1050px) {
	.fund-admin #fundraiser_thermometer_wrap .left_text {
		//display:block;
		//float: none;
		//font-size: .8em;
		//width: auto
	}

}

.fund-admin #fundraiser_thermometer_wrap .right_text {
	float: right;
	width: 20%;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: left;

	@media (max-width: 600px) {
		width: 25%;
	}

	@media (max-width: 450px) {
		width: 50%;
		text-align: right;
	}
}

@media (max-width: 1050px) {
	.fund-admin #fundraiser_thermometer_wrap .right_text {
		// display:block;
		// float: none;
		// font-size: .8em;
		// width: auto
	}

}

@media (max-width: 1050px) {
	.fund-admin #fundraiser_thermometer_wrap {
		// width:290px;
		// height: 80px
	}
}
.fund-admin .postbox-container {
	min-width: 100% !important;
}





/* hide notifications as they appear in the notifications mneu */
#wpbody #wpbody-content .wrap form > div.updated,
#wpbody #wpbody-content .wrap form > div.woocommerce-message,
#wpbody #wpbody-content .wrap form > div.notice,
#wpbody #wpbody-content .wrap form > div.woocommerce-message,
#wpbody #wpbody-content .wrap form > div.message,
#wpbody #wpbody-content .wrap form > div.error,
#wpbody #wpbody-content .wrap > div.updated,
#wpbody #wpbody-content .wrap > div.notice,
#wpbody #wpbody-content .wrap > div.woocommerce-message,
#wpbody #wpbody-content .wrap > div.message,
#wpbody #wpbody-content .wrap > div.error,
#wpbody #wpbody-content > div.updated,
#wpbody #wpbody-content > div.notice,
#wpbody #wpbody-content > div.woocommerce-message,
#wpbody #wpbody-content > div.message,
#wpbody #wpbody-content > div.error {
  display: none !important;
}


