.text-green {
  color: #29ad67 !important;
}
.post-type-page .edit-post-status {
  display: none !important;
}
.post-type-page .edit-timestamp {
  display: none !important;
}
@media screen and (min-width: 783px) {
  html.wp-toolbar {
    padding-top: 60px;
  }
}
body {
  background: #eee;
  font-family: "Lora", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wpadminbar-custom,
#wpadminbar {
  background: #222;
}
@media (min-width: 783px) {
  #wpadminbar-custom,
  #wpadminbar {
    height: 60px;
  }
}
#wpadminbar-custom #wp-admin-bar-site-name,
#wpadminbar #wp-admin-bar-site-name {
  background: url(https://onemission.fund/content/themes/fh_boilerplate-child/img/logo_nav.png);
  width: 220px;
  background-size: 195px 36px;
  background-repeat: no-repeat;
  background-position: 2px;
}
@media (min-width: 783px) {
  #wpadminbar-custom #wp-admin-bar-site-name,
  #wpadminbar #wp-admin-bar-site-name {
    background-position: 10px;
  }
}
#wpadminbar-custom #wp-admin-bar-site-name > a,
#wpadminbar #wp-admin-bar-site-name > a {
  display: block;
  padding: 0;
  text-indent: -999em;
  background: transparent;
}
@media (min-width: 783px) {
  #wpadminbar-custom #wp-admin-bar-site-name > a,
  #wpadminbar #wp-admin-bar-site-name > a {
    height: 60px;
    line-height: 60px;
  }
}
#wpadminbar-custom #wp-admin-bar-site-name > a :before,
#wpadminbar #wp-admin-bar-site-name > a :before {
  display: none;
}
#wpadminbar-custom #wp-admin-bar-site-name .ab-item,
#wpadminbar #wp-admin-bar-site-name .ab-item {
  width: 100%;
}
#wpadminbar-custom #wp-admin-bar-site-name .ab-item:before,
#wpadminbar #wp-admin-bar-site-name .ab-item:before {
  display: none;
}
#wpadminbar-custom #wp-admin-bar-new-content,
#wpadminbar #wp-admin-bar-new-content,
#wpadminbar-custom #wp-admin-bar-view,
#wpadminbar #wp-admin-bar-view {
  display: none !important;
}
@media (min-width: 783px) {
  #wpadminbar-custom .quicklinks > ul > li,
  #wpadminbar .quicklinks > ul > li {
    height: 60px;
  }
}
#wpadminbar-custom .quicklinks > ul > li > a,
#wpadminbar .quicklinks > ul > li > a,
#wpadminbar-custom .quicklinks > ul > li > div.ab-item,
#wpadminbar .quicklinks > ul > li > div.ab-item,
#wpadminbar-custom .quicklinks > ul > li > div.ab-empty-item,
#wpadminbar .quicklinks > ul > li > div.ab-empty-item {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3px;
}
@media (min-width: 783px) {
  #wpadminbar-custom .quicklinks > ul > li > a,
  #wpadminbar .quicklinks > ul > li > a,
  #wpadminbar-custom .quicklinks > ul > li > div.ab-item,
  #wpadminbar .quicklinks > ul > li > div.ab-item,
  #wpadminbar-custom .quicklinks > ul > li > div.ab-empty-item,
  #wpadminbar .quicklinks > ul > li > div.ab-empty-item {
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
  }
}
@media (min-width: 783px) {
  #wpadminbar-custom .quicklinks > ul > li .ab-item > .ab-item,
  #wpadminbar .quicklinks > ul > li .ab-item > .ab-item,
  #wpadminbar-custom .quicklinks > ul > li .ab-item > .ab-icon,
  #wpadminbar .quicklinks > ul > li .ab-item > .ab-icon {
    margin-top: 15px;
  }
}
#adminmenu {
  margin: 0;
}
#adminmenu a.menu-top {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 961px) and (min-height: 700px) {
  #adminmenu a.menu-top {
    text-align: center;
  }
}
@media (min-width: 961px) and (min-height: 700px) {
  #adminmenu div.wp-menu-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    float: none;
  }
  #adminmenu div.wp-menu-image:before {
    height: 35px;
    width: 35px;
    margin: auto;
    font-size: 35px;
  }
}
@media (min-width: 961px) {
  #adminmenu #collapse-menu {
    display: none;
  }
}
#adminmenu .wp-menu-separator {
  display: none;
}
#adminmenu-custom .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu-custom #adminmenu .wp-menu-arrow,
#adminmenu #adminmenu .wp-menu-arrow,
#adminmenu-custom #adminmenu .wp-menu-arrow div,
#adminmenu #adminmenu .wp-menu-arrow div,
#adminmenu-custom #adminmenu li.current a.menu-top,
#adminmenu #adminmenu li.current a.menu-top,
#adminmenu-custom #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu-custom .folded #adminmenu li.current.menu-top,
#adminmenu .folded #adminmenu li.current.menu-top,
#adminmenu-custom .folded #adminmenu li.wp-has-current-submenu,
#adminmenu .folded #adminmenu li.wp-has-current-submenu {
  background: #28809b;
}
#adminmenu li.menu-top:hover,
#adminmenu-custom li.menu-top:hover,
#adminmenu #adminmenu li.opensub > a.menu-top,
#adminmenu-custom #adminmenu li.opensub > a.menu-top,
#adminmenu #adminmenu li > a.menu-top:focus,
#adminmenu-custom #adminmenu li > a.menu-top:focus,
#adminmenu #adminmenu li a:focus div.wp-menu-image:before,
#adminmenu-custom #adminmenu li a:focus div.wp-menu-image:before,
#adminmenu #adminmenu li.opensub div.wp-menu-image:before,
#adminmenu-custom #adminmenu li.opensub div.wp-menu-image:before,
#adminmenu #adminmenu li:hover div.wp-menu-image:before,
#adminmenu-custom #adminmenu li:hover div.wp-menu-image:before,
#adminmenu #adminmenu .wp-submenu a:focus,
#adminmenu-custom #adminmenu .wp-submenu a:focus,
#adminmenu #adminmenu .wp-submenu a:hover,
#adminmenu-custom #adminmenu .wp-submenu a:hover,
#adminmenu #adminmenu a:hover,
#adminmenu-custom #adminmenu a:hover,
#adminmenu #adminmenu li.menu-top > a:focus,
#adminmenu-custom #adminmenu li.menu-top > a:focus {
  color: #28809b;
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background: #222;
}
.metabox-holder .postbox > h3,
.metabox-holder .stuffbox > h3,
.metabox-holder h2.hndle,
.metabox-holder h3.hndle {
  font-size: 16px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 961px) {
  .metabox-holder .postbox > h3,
  .metabox-holder .stuffbox > h3,
  .metabox-holder h2.hndle,
  .metabox-holder h3.hndle {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
.postbox img {
  max-width: 100%;
}
.wp-core-ui .button-primary,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
  background: #28809b;
}
/* fundraiser thermomemter dashboard widget */
/* hide screen options */
.fund-admin #screen-meta-links {
  display: none;
}
@media (max-width: 1050px) {
  .fund-admin #profile_status .start_end {
    font-size: 0.8em;
  }
}
.fund-admin #fundraiser_thermometer_wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  overflow-y: hidden;
  width: 100%;
}
@media (max-width: 450px) {
  .fund-admin #fundraiser_thermometer_wrap {
    height: auto;
  }
}
.fund-admin #fundraiser_thermometer_wrap .progress {
  display: inline-block;
  width: 60%;
  margin-top: 12px;
}
@media (max-width: 600px) {
  .fund-admin #fundraiser_thermometer_wrap .progress {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .fund-admin #fundraiser_thermometer_wrap .progress {
    width: 100%;
    margin-bottom: 0;
    margin-top: 5px;
  }
}
.fund-admin #fundraiser_thermometer_wrap .left_text {
  float: left;
  width: 20%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}
@media (max-width: 600px) {
  .fund-admin #fundraiser_thermometer_wrap .left_text {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .fund-admin #fundraiser_thermometer_wrap .left_text {
    width: 50%;
    text-align: left;
  }
}
.fund-admin #fundraiser_thermometer_wrap .right_text {
  float: right;
  width: 20%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
@media (max-width: 600px) {
  .fund-admin #fundraiser_thermometer_wrap .right_text {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .fund-admin #fundraiser_thermometer_wrap .right_text {
    width: 50%;
    text-align: right;
  }
}
.fund-admin .postbox-container {
  min-width: 100% !important;
}
/* hide notifications as they appear in the notifications mneu */
#wpbody #wpbody-content .wrap form > div.updated,
#wpbody #wpbody-content .wrap form > div.woocommerce-message,
#wpbody #wpbody-content .wrap form > div.notice,
#wpbody #wpbody-content .wrap form > div.woocommerce-message,
#wpbody #wpbody-content .wrap form > div.message,
#wpbody #wpbody-content .wrap form > div.error,
#wpbody #wpbody-content .wrap > div.updated,
#wpbody #wpbody-content .wrap > div.notice,
#wpbody #wpbody-content .wrap > div.woocommerce-message,
#wpbody #wpbody-content .wrap > div.message,
#wpbody #wpbody-content .wrap > div.error,
#wpbody #wpbody-content > div.updated,
#wpbody #wpbody-content > div.notice,
#wpbody #wpbody-content > div.woocommerce-message,
#wpbody #wpbody-content > div.message,
#wpbody #wpbody-content > div.error {
  display: none !important;
}
