.login h1 a {
  background: none;
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
  height: 100px;
  width: 320px;
}

#nav {
  display: none;
}

/*# sourceMappingURL=login.css.map */
