@import url('unsemantic-grid-responsive.css');
@import url(magnific-popup.css);
@import url(unslider.css);
@import url(unslider-dots.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Kalam);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Rock+Salt);
@import url('../font/trendsans.css');

@import 'vars.less';

form {
  .form-control {
    height: 35px;
  }
   input[type="checkbox"], input[type="radio"] {
    margin: 0 4px 0 0;
  }
}

.font-marker {
  font-family: @Marker !important;
}

html body {
  font-family: @Lora;
  color: @gray;
}

body {
  letter-spacing: 0.02em !important;

  .body_wrap {
    width: 100%;

    #main {
      max-width: 1240px;
      margin: auto;

      &.full {
        max-width: 100%;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: @Montserrat;
    //letter-spacing: 0 !important;
    letter-spacing: 0.2px;
    text-transform: uppercase !important;

  }

  h1.display {
    font-size: 4em;
  }
  @media (max-width: 768px) {
    h1, .h1, h1.display {font-size:2.2em;}
  }
}

#om_affix_wrap {
  position: relative;
  z-index: 1040;
}

.hero-full {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin-top: -75px;
  background-position: 50% 50%;
  background-size: cover;

  .unslider-nav {
    margin-top: -55px;
    position: relative;
    padding: 20px 10px;
  }

  .hero-content {
    display: table;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.3);
    background-size: cover;
    background-position: 50%;
    padding: 0 20px;

    >div {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;

      h1 {
        color: #fff;
        text-shadow: 0 0 70px rgba(0,0,0,0.9);
        font-size: 44px;
        letter-spacing: 5px;
        padding: 0 !important;
        border: 0 !important;
        font-weight: 400 !important;

        @media (max-width: 768px) {
          font-size: 30px;
        }
      }

      h2,h3,h4,h5,h6,p  {
        color: #fff;
        text-shadow: 0 0 70px rgba(0,0,0,0.9);
      }

      .lead {
        color: #fff;
      }
    }
  }
}

// Flex Box
@media (min-width: 768px) {
  .boxes-flex {
    display: flex;
    flex-wrap: wrap;
    clear: both;

    .box {
      display: flex;

      .box-content {
        width: 100%;
      }
    }
  }
}
.box {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;

  .box-content {
    padding: 20px;
    position: relative;
    z-index: 2;

    &.no-padding {
      padding: 0;
    }

    &.flex {

    }

    @media (max-width: 1099px) and (min-width: 768px) {
      padding: 20px;
      min-height: 350px;
    }

    @media (min-width: 1100px) {
      min-height: 400px;
      padding: 40px;
    }

    >* {
      color: #fff;
    }

    .btn {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;

      &.absolute-btn {
        margin-top: 40px;
      }

      @media (min-width: 768px) {
        &.absolute-btn {
          position: absolute;
          bottom: 40px;
          left: 0;
          right: 0;
         }
      }
    }
  }

  .bg-fade {
    &:before {
      left: 15px;
      right: 15px;
    }
  }
}

.bg-img {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bg-fade {
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.yellow:before {
    background-color: fade(@yellow, 85%);
  }
  &.blue:before {
    background-color: fade(@blue, 85%);
  }
  &.darkBlue:before {
    background-color: fade(@darkBlue, 85%);
  }
  &.purple:before {
    background-color: fade(@purple, 85%);
  }
  &.tan:before {
    background-color: fade(@tan, 85%);
  }
  &.pink:before {
    background-color: fade(@pink, 85%);
  }
  &.green:before {
    background-color: fade(@green, 85%);
  }
}


.grid_content {
  .grid_item {
    height: 260px;

    @media (max-width: 1099px) {
      height: 220px;
    }
    @media (max-width: 767px) {
      height: 150px;
    }
  }
}

#profile_ctas {
  .grid_content {
.grid_item {
    max-height: 150px;
  }
  }
}

#page_article {
  .well {
    border: 0;
    box-shadow: none;
    margin: 0;

    >ul {
      padding: 0;
      list-style: none;
    }
  }
}

#fundraiser_browse_tools {
  .form-control {
    max-width: 280px;
    margin: auto;
  }
}
.featured-img {
  float: right;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.fundraiser-browse-tools-banner {
  background: @darkBlue;
  padding: 8px 5px;

  .form-group {
    margin: 0;

    .form-control {
      display: inline-block;
    }
    &.centered {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 790px) {
    .form-control {
      margin-bottom: 10px !important;
    }
    .btn {
      width: 100%;
      max-width: 180px;
      display: block;
      margin: auto;
    }
  }
}

html body {
  background: #fefefe !important;
}
html body.page-template-template_fundraise_with_us, html body.page-template-template_help-center, html body.tax-help_center_categories, html body.single-help_center_article {
  .body_wrap {
    #main {
      max-width: 100%;
    }
  }
  #content h1:first-of-type {
    font-weight: inherit;
    border: 0;
    padding-bottom: inherit;
  }
}
html body.page-template-template_profile, html body.home, html body {
  font-size: 15px;
  font-family: @Lora;
  color: @gray;

  @media (max-width: 767px) {
    font-size: 13px;
  }

  p, ul, li {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    //color: #5a5a5a;
  }

  .lead {
    line-height: 34px;
  }

  a, a:hover, a:visited, a:focus, a:active, .link {
    //color: @lightblue;
  }

  h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6, .btn {
    font-family: @Montserrat;
    //letter-spacing: 0 !important;
    text-transform: uppercase !important;
    &.alt-font {
      font-family: @Lora;
    }
  }

  h1,h2,.h1,.h2, .btn {
    text-transform: uppercase;
  }

  h2 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
  }
  h3 {
    font-size: 1.6em;
    letter-spacing: 2px;
  }

  .btn {
    font-size: 14px;
    letter-spacing: 1px;
    color: @blue;
    border-radius: 0;
    font-weight: 500;

    .btn:disabled {
      opacity: 0.5;
    }

    &.btn-lg {
      font-size: 17px;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    &.btn-xl {
      font-weight: 500;
      letter-spacing: 3px;
      padding: 15px 35px;
      font-size: 20px;

      @media (max-width: 767px) {
        font-size: 15px;
        padding: 12px 20px;
        letter-spacing: 1.5px;
      }
    }

    &.btn-primary, &.btn-info {
      background: @blue;
      border-color: @blue;
      color: #fff;

      &:hover, &:focus, &:active {
        background: darken(@blue, 5%);
        border-color: darken(@blue, 5%);
        color: #fff;
      }
    }

    &.btn-success {
      background: @green;
      border-color: @green;
      color: #fff;

      &:hover, &:focus, &:active {
        background: darken(@green, 5%);
        border-color: darken(@green, 5%);
        color: #fff;
      }
    }

    &.btn-purple {
      background: @purple;
      border-color: @purple;
      color: #fff;

      &:hover, &:focus, &:active {
        background: darken(@purple, 5%);
        border-color: darken(@purple, 5%);
        color: #fff;
      }
    }

    &.btn-dark {
      background: @black;
      border-color: @black;
      color: #fff;

      &:hover, &:focus, &:active {
        background: lighten(@black, 5%);
        border-color: lighten(@black, 5%);
        color: #fff;
      }
    }

    &.btn-yellow {
      background: @yellow;
      border-color: @yellow;
      color: #fff;

      &:hover, &:focus, &:active {
        background: lighten(@yellow, 5%);
        border-color: lighten(@yellow, 5%);
        color: #fff;
      }
    }

    &.btn-outline {
      color: #222;
      border: 1px solid #333;
      border-radius: 0;
      background: transparent;

      &.btn-outline-white {
        color: #fff;
        border-color: #eee;
      }

      &.btn-outline-blue {
        color: @blue;
        border-color: lighten(@blue, 5%);
      }

      &.btn-outline-red {
        color: @red;
        border-color: lighten(@red, 5%);
      }
    }

    &.btn-muted {
      color: #fff;
      border: 1px solid #9C9C9C;
      background: #9C9C9C;
      border-radius: 0;

      &:hover, &:focus, &:active {
        background: #888888;
        color: #fff;
        border-color: #888888;
      }
    }
  }

  .lead {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 20px;
    }
  }
  .lead-sm {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
  .lead-lg {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }

  .desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

     -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter: grayscale(100%);
     filter: gray;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
  }

  .bg_image {
    background-size: cover;
    background-position: 50 50;
    background-repeat: no-repeat;
  }

  .fundraiser_poloroid img {
    max-height: 170px;
  }
  .fundraiser_poloroid .btn {
    font-size: 14px;
    padding: 3px 5px;
  }

  .font_walter {
    font-family: @Montserrat;
    //letter-spacing: 0;
    text-transform: uppercase;
  }

  .error {
    color: @pink;
  }

  .quote {
    p {
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .byline {
      font-style: italic;
      opacity: 0.7;
    }
  }


  // Homepage
  .intro-section {
    img {
      margin: auto;
    }

    @media screen and (min-width: 992px) {
      img {
        float: right;
        margin-right: 10px;
        max-width: 360px;
      }
    }

  }
  .why-list {
      li {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
    @media screen and (min-width: 768px) {
      .why-list {
        li {
          font-size: 18px;
          margin-bottom: 20px;
        }
        p {
          text-align: left;
        }
      }
    }

  ul.dashed {
    list-style-type: none;
    margin: 0;
    list-style-image: url(../img/dash.png);
  }
  ul.dashed > li {

  }
  ul.dashed > li:before {

  }


  // Profile Tab Content
  #profile_tab_content {
    p {
      font-size: 16px;
      line-height: 23px;

      &.lead {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }


  // Donate Now
  #fundraiser_profile_cash_now, .donation-block {
    border-radius: 0;
    color: #FFF;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    h2 {
      margin-top: 0;
      color: #fff;
    }

    .input-group {
      max-width: 250px;
      width: 100%;
      margin: 0 auto 10px auto;
    }

    input[type='text'] {
      height: 36px;
    }

    .overlay {
      padding: 30px 20px;
      background: fade(@black, 58%);
      overflow: hidden;

      .btn {
        //margin-top: 15px;
      }
    }

    .error {
      margin: 0;
    }
  }
  #fundraiser_profile_cash_now {
    margin-bottom: 50px;
  }

  // Footer
  footer {
    a {
      color: #fff !important;
    }

    .cta_block h3 {
      font-family: @Montserrat;
      //letter-spacing: 0;
      text-transform: uppercase;
    }
  }

}
// end html body

// Navigation
#om_affix {
  .body_wrap {
    overflow: visible;
  }
  #nav_header {
    .navbar-brand {
      max-width: 220px;
    }
  }

  .navbar-toggle {
    font-family: @Montserrat;
    //letter-spacing: 0;
    text-transform: uppercase;
  }

  .navbar-nav {
    >li {
      >a {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 13px;
        font-weight: 200;
        font-family: @Montserrat;
        //letter-spacing: 0;
        text-transform: uppercase;
      }
    }
  }

   .menu-item.admin a {
	 background: #b03232;

    @media (min-width: 1100px) {
      margin-top: 19px;
      padding: 8px 12px;
    }
	}

	.menu-item.start-fund a {
		background: @green;

    @media (min-width: 1100px) {
      margin-top: 19px;
      padding: 8px 12px;
    }
	}

	.menu-item.setup-fund a {
		background: @blue;
    @media (min-width: 1100px) {
      margin-top: 19px;
      padding: 8px 12px;
    }
	}


@media (max-width: 1099px) {
  #om_non_responsive_nav_right {
    display: none;
  }
}
}

@media (min-width: 1100px) {
  // Search bar
  #om_nav_search {
    position: absolute;
    right: 0;
    top: 75px;
    margin: 0;
    padding: 0 15px 15px;
    background: #222;
    display: none;

    .btn {
      background: #3C96BD !important;
    }
  }
}


#drawer_shopping {
  .col-sm-2 {
    width: 14.28%;
    padding: 0 6px;

    img {
      width: 100%;
      height: auto;
    }
  }
  .shopping_nav_link {
    font-size: 16px;
    padding: 10px 5px !important;
  }
  .btn-purple {
    margin-right: 10px;
  }
}

.shopping_nav_link {
  background: #FFF;
  border-bottom: 2px #CCC solid;
  border-left: 1px #CCC solid;
  border-right: 1px #CCC solid;
  border-top: 1px #CCC solid;
  margin: 0 0 10px;
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
}

#profile_status {
  #profile_progress_bar_wrap {
    overflow-y: visible;
  }
}

.products {
  li.product {
    .fh_product_loop_title {
      h2 {
		 /* woocommerce changed h3 to h2 here */
			font-family: "Open Sans",sans-serif;
        font-size: 14px;
        letter-spacing: 0.2px;
		  line-height: 1.4em;
		  font-weight: 400;
		  margin-bottom: 0;
		  margin-top: 0;
		  padding-bottom: 0;
		  padding-top: 0;
		  vertical-align: middle;
		  transition: color 250ms;
		  text-transform: none;

      }
      h3 {
        font-size: 14px;
        letter-spacing: 0.2px;
      }
    }
    .button {
      font-family: @Montserrat;
      //letter-spacing: 0;
      text-transform: uppercase;
      background: @lightgray;
      border-color: @lightgray;
      color: #fff;

      &:hover, &:focus, &:active {
        background: darken(@lightgray, 5%);
        border-color: darken(@lightgray, 5%);
        color: #fff;
      }
    }
  }
}

.woo_sidebars {
  input[type='search'] {
    max-width: 165px;
  }
}

#fundraiser_profile_shopping_cats {

  img {
    height: auto;
    margin: 0;
    width: 100%;
  }
}

#profile_ctas {
  text-align: center;

  >div {
    padding-top: 20px;
  }

  li.product {
    float: none;
    display: inline-block;
    width: 23%;
    height: auto;

    .button {
      white-space: normal;
      position: static;
    }
  }

  h2.font_walter {
    font-family: @Montserrat;
    //letter-spacing: 0;
    text-transform: uppercase;

    span {
      font-family: 'Open Sans';
    }
  }
}


// Less - is - More
.less-is-more {
  position: relative;
  padding-bottom: 40px;
}
.less-is-more-link {
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 800px) {
    margin-bottom: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background: #ddd;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    height: 50px;
  }

  >a {
    // border: 1px solid #53AAB6;
    // padding: 8px 12px;
    top: 10px;
    position: relative;
    // border-radius: 2px;
    // box-shadow: 0px 1px 0 #53AAB6;
    //background: #F7FEFF;

    // &:hover {
    //   text-decoration: none;
    //   color: #53AAB6;
    // }
  }
}





#profile_tab_content {
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
}

#fundraiser_favorite_products {
  margin-bottom: 40px;
}

// Share
#fundraiser_profile_share .icon_buttons a {
  color: #fff;
}
.fh_sidr_fundraiser_profile_share {
  .icon_buttons {
    >a {
      display: inline-block;
      width: 30px;
    }
  }
}


// Shop Now button in cta_sub_header
#cta_sub_header {
  #go_shopping_btn_new {
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 20px 0;
  }
}

// Fundraise with Us Page
.page-template-template_fundraise_with_us, .page-template-template_help-center, .tax-help_center_categories, .single-help_center_article {

  .margin-10 { margin-bottom: 10px; }
  .margin-20 { margin-bottom: 20px; }
  .margin-30 { margin-bottom: 30px; }
  .margin-40 { margin-bottom: 40px; }
  .margin-50 { margin-bottom: 50px; }
  .margin-60 { margin-bottom: 60px; }
  .margin-70 { margin-bottom: 70px; }
  .margin-80 { margin-bottom: 80px; }
  .margin-90 { margin-bottom: 90px; }
  .margin-100 { margin-bottom: 100px; }

  .text-white { color: #fff !important; }
  .text-black { color: #000 !important; }
  .text-dark { color: #333 !important; }
  .text-green { color: @green !important;}

  .text-normal { font-weight: normal; }
  .text-bold { font-weight: bold; }
  .text-thin { font-weight: 300; }

  .one_full #content {
    .gutter_content {
      padding: 0;
    }
  }

  .page-section {
    padding: 30px 20px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      padding: 20px 5px;
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -11px;
    }

    &.bg-green {
      background: @green;
      color: #fff;

      h1,h2,h3,h4,h5,h6,p {
        color: #fff;
      }
    }
  }

  #fh_crumbs {
    display: none;
  }

  .img-responsive {
    width: 100%;
  }

  .fundraise-with-us-form {
    padding: 0px 20px;
    margin-top: -10px;
    margin-bottom: -10px;

    @media (max-width: 767px) {
      margin-top: 20px;
      padding: 0;
    }

    .gform_wrapper {
      margin: 0;

      .validation_error {
          border-radius: 0;
          margin: 0;
      }
    }
    .gform_heading {
      background: @green;
      color: #fff;
      padding: 15px 20px;
      text-align: center;

      h3 {
        margin: 0;
        color: #fff;
      }
    }
    .gform_body {
      background: #fff;
      padding: 15px 20px 5px;

      ul {
        margin: 0;

        li {
          margin-bottom: 5px;
        }
      }
    }
    .gform_footer {
      background: #fff;
      padding: 10px 20px 15px;
      text-align: center;

      input {
        font-size: 18px;
      }
    }
  }


}
.spam-msg {
  margin-top: 10px;
  margin-bottom: 0;
  color: #777;
  font-size: 11px;
  line-height: 16px;
}
ul.products-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  >li {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    >a {
      font-size: 18px;
    }
  }
}


// Embeds responsive
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}
// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}






// Grid Content
.grid_content {
  .grid_item {
    position: relative;
    min-height: 140px;
    margin-bottom: 30px;

    &.col-md-3 {
      height: 220px;

      .overlay {
        .table {
          div {
            h4 {
              font-size: 18px;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        height: 160px;

        .overlay {
          .table {
            div {
              h4 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
    }
    .overlay {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
      text-align: center;

      .table {
        display: table;
        height: 100%;
        width: 100%;

        div {
          display: table-cell;
          vertical-align: middle;
          padding: 10px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;

          &.bottom {
            vertical-align: bottom;
            padding: 0;

            h4 {
              background: rgba(0,0,0,0.5);
              margin: 0;
            }
          }

          @media (max-width: 767px) {
            vertical-align: bottom;
            padding: 0;
          }

          &:hover {
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            transition: all 0.35s ease;

            &.yellow {
              background: fade(@yellow, 85%);
            }
            &.blue {
              background: fade(@blue, 85%);
            }
            &.darkBlue {
              background: fade(@darkBlue, 85%);
            }
            &.purple {
              background: fade(@purple, 85%);
            }
            &.tan {
              background: fade(@tan, 85%);
            }
            &.pink {
              background: fade(@pink, 85%);
            }
            &.green {
              background: fade(@green, 85%);
            }

          }

          h4 {
            color: #fff;

            @media (min-width: 768px) {
              font-size: 21px;
              padding: 10px;
            }

            @media (max-width: 767px) {
              background: rgba(0,0,0,0.5);
              margin: 0;
              padding: 10px 5px;
              font-size: 14px;
            }
          }

          &.no-hover {
            &.yellow {
              background: fade(@yellow, 85%);
            }
            &.blue {
              background: fade(@blue, 85%);
            }
            &.darkBlue {
              background: fade(@darkBlue, 85%);
            }
            &.purple {
              background: fade(@purple, 85%);
            }
            &.tan {
              background: fade(@tan, 85%);
            }
            &.pink {
              background: fade(@pink, 85%);
            }
            &.green {
              background: fade(@green, 85%);
            }
          }
        }
      }
    }
  }
}


#cta_sub_header {
  z-index: 1;
}




// Mobile-only stuff
@media (max-width: 800px) {
  .hidden-xs {
    display: none !important;
  }

  #om_affix {
    #nav_header {
      .navbar-brand {
        max-width: 180px;
      }
    }
  }

  // Support this Fundraiser button on mobile - sticky at the top
  .page-template-template_profile {
    .body_wrap {
      overflow: visible;
    }
    #over_body_wrap {
      padding-top: 55px;
    }
    #cta_sub_header {
      margin-top: -55px;
    }
    #sidebar_left {
      .gutter_aside {
        .btn-success {
          position: fixed;
          top: 80px;
          left: 1%;
          width: 98%;
          z-index: 1000;
        }
      }
    }

  }


  // Shop Now button in cta_sub_header
  #cta_sub_header {
    #go_shopping_btn_new {
      position: static;
      right: 0;
      top: 0;
    }
  }

}


.nobreadcrumbs {
  #fh_crumbs {
    display: none !important;
  }
}
.noborders {
  border: none !important;
}


// Spacing
.space-0 {
  margin-bottom: 0px;
  margin-bottom: 0vh !important;
}
.space-top-0 {
  margin-top: 0px;
  margin-top: 0vh !important;
}
.space-1 {
  margin-bottom: 6.25px;
  margin-bottom: 1vh !important;
}
.space-top-1 {
  margin-top: 6.25px;
  margin-top: 1vh !important;
}
.space-2 {
  margin-bottom: 12.5px;
  margin-bottom: 2vh !important;
}
.space-top-2 {
  margin-top: 12.5px;
  margin-top: 2vh !important;
}
.space-3 {
  margin-bottom: 18.75px;
  margin-bottom: 3vh !important;
}
.space-top-3 {
  margin-top: 18.75px;
  margin-top: 3vh !important;
}
.space-4 {
  margin-bottom: 25px;
  margin-bottom: 4vh !important;
}
.space-top-4 {
  margin-top: 25px;
  margin-top: 4vh !important;
}
.space-5 {
  margin-bottom: 31.25px;
  margin-bottom: 5vh !important;
}
.space-top-5 {
  margin-top: 31.25px;
  margin-top: 5vh !important;
}
.space-6 {
  margin-bottom: 37.5px;
  margin-bottom: 6vh !important;
}
.space-top-6 {
  margin-top: 37.5px;
  margin-top: 6vh !important;
}
.space-7 {
  margin-bottom: 43.75px;
  margin-bottom: 7vh !important;
}
.space-top-7 {
  margin-top: 43.75px;
  margin-top: 7vh !important;
}
.space-8 {
  margin-bottom: 50px;
  margin-bottom: 8vh !important;
}
.space-top-8 {
  margin-top: 50px;
  margin-top: 8vh !important;
}
.space-9 {
  margin-bottom: 60px;
  margin-bottom: 9vh !important;
}
.space-top-9 {
  margin-top: 60px;
  margin-top: 9vh !important;
}
.space-10 {
  margin-bottom: 75px;
  margin-bottom: 10vh !important;
}
.space-top-10 {
  margin-top: 75px;
  margin-top: 10vh !important;
}

.mini-separator {
  height: 2px;
  background: #999;
  width: 100px;
  margin: auto;
  clear: both;

  &.light {
    background: #eee;
  }
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: @black !important;
}
#fh_donate_btn {
  height: 36px;
}

.text-left {
  text-align: left !important;
}
@media screen and (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
}
.text-transform-none {
  text-transform: none !important;
}

.inset {
  padding: 20px 25px;
  background: #fff;
  border: 1px solid #ddd;

  @media screen and (max-width: 991px) {
    padding: 10px 15px;
  }

  &.inset-gray {
    background: #efefef;

    code {
      background: none;
    }
  }
}

.unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    padding-left: 0;
    margin-left: 0;
  }
}

// Help Center

.help-center {
  a, a:hover {
    color: @blue;
  }

  h1,h2,h3,h4,h5,h6 {
    a, a:hover {
      color: @blue;
    }
  }

  .inset {
    h5 {
      margin-bottom: 1em;
    }
    *:last-child {
      margin-bottom: 10px;
    }
  }
}
.help-center-content {
  .col-sm-6 {
    &:nth-child(2n+1) {
      clear: both;
    }
    &:first-child {
      clear: none;
    }
 }
}

/* global dialog */

.dialog {
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 20px;
  position: relative;

 .required {
	color: red;
	margin-left: 5px;
 }
}

.dialog p.status {
  display: none;
  text-align: center;
  font-weight: bold;
}

.form-group {
	position: relative;
}

.dialog p.status.success {
  color: green;
}
.dialog p.status.fail {
  color: red;
}

.help-icon {
	width: 15px;
	height: 15px;
}

.help-text {
	display: none;
	position: absolute;
	z-index:9999;
	background-color: #88a6e4;
	bottom: 100%;
	color: white;
	border-radius: 5px;
	padding: 10px;
}

.subheader {
	text-transform: uppercase;
	color: #888;
}


/* login dialogs */
.login-form {
  .form-group {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1.0em;
  }
}

.login-form p.lost {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
.login-form .divider {
  white-space: nowrap;
  margin: 1em 0;
  display: table;
  width: 100%;
  margin-bottom: 2em;
}

.login-form .divider>span {
  text-align: center;
  display: table-cell;
  width: 16%;
  font-weight: 300;
  padding: 0 .5em;
  position: relative;
  top: .6em;
}

.login-form .divider:before,
.login-form .divider:after {
  content: '';
  display: table-cell;
  width: 42%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.login-form .btn-outline-blue:hover  {
  background-color: #28809b !important;
  color: white !important;
}
.login-form .btn-outline-red:hover {
  background-color: #dc5442 !important;
  color: white !important;
}

.login-form .first-name {
	//display: inline-block;
	//width: 150px;
}

.login-form .last-name {
	//display: inline-block;
	//width: 195px;
	//margin-left: 10px;
}

/* start fund dialog */
.menu-item.start-fund {
}

#startfund-form .fundraiser-type label {
	font-weight: normal;
	margin-left: 10px;
}

#startfund-form .city {
	width: 140px;
	display: inline-block;
}

#startfund-form .state {
	display: inline-block;
	width: 85px;
}

#startfund-form .country {
	display: inline-block;
	width: 125px;
}

.country-options {
	margin-left: 10px;
	label {
		font-weight: normal;
		&:first-child {
			margin-right: 5px;
		}
		&:last-child {
			margin-left: 5px;
		}
	}
	input {
		margin-right: 5px;
	}
}

.unitedstates-fields,
.othercountry-fields {
	margin-left: 10px;
}

.othercountry-fields .required {
	display: none;
}


/* setup fund dialog */
#setupfund-form {

}


/* Table disply for divs */
.table-display {
  display: table;

  >div {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}


/* preview screen overlay warning */
#main {
  .overlay-warning {
	 display: none;
  }
  &.warn_overlay {
	 .overlay-warning {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1001;
		background-color: rgba(21, 53, 80, 0.4); /*dim the background*/
		.message-wrapper {
		  margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 15px 40px 10px;
      position: absolute;
      bottom: 10%;
      color: white;
      background-color: #ed5381;
      opacity: 0.9;
      top: auto;
      width: 120%;
      transform: rotate(-5deg);
      left: -10%;


      h2 {
        color: #fff;

      }
		  .title {
        font-family: @Montserrat;
        //letter-spacing: 0;
        text-transform: uppercase;
			 font-size: 2.0em;
			 line-height: 1.0em;
			 font-weight: bold;
			 margin-bottom: 0px;
		  }
		  .message {
			 line-height: 1.2em;
			 font-size: 1.6em;
		  }
		}
	 }
  }
}

// social icons for blog posts
.article_meta {
	.icon_buttons {
		float: right;
		margin-right: 10px;
		a {
			color: white;
			border-radius: 50%;
			display: inline-block;
			font-size: 11px;
			padding: 0px;
			width: 22px;
			margin-left: 5px;
			span {
				margin-left: 6px;
				&.fa-facebook {
					margin-left: 8px;
				}
			}
		}
	}
}

// Updates to SHOPFOR for cart
#cta_sub_header {
  #checkout_ribbon {
    height: auto;
    overflow: hidden;
      padding: 10px;
      text-align: center;
      width: 100px;
      position: absolute;
      top: 10px;
      right: 130px;
      border: 1px solid #239953;
      background: #fff;

      @media(max-width:710px) {
        position: static;
      }

      a, a:hover {
        color: #444;
      }

      .cart_title {
        font-family: @Montserrat;
        //letter-spacing: 0;
        text-transform: uppercase;
        color: #239953;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
      }
  }
  #cart_ribbon {
    font-family: @Montserrat;
    //letter-spacing: 0;
    text-transform: uppercase;
    font-size: 14px;
    height: auto;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 100px;
    position: absolute;
    top: 10px;
    // right: 20px; // if two buttons present
    right: 75px;
    border: 1px solid #29ad67;
    background: #29ad67;

    @media(max-width:710px) {
      position: static;
    }

    a, a:hover {
      color: #fff;
    }
  }
}


#content {
  .blog-wrap {

    h1 {
      margin-bottom: 30px;

    }
    >.row {
      @media(min-width:768px) {
        display: flex;
        align-items: stretch;
      }
    }
    .col-sm-8 {

    }
    .col-sm-4 {

    }

    .blog-post-content {
      padding: 15px 15px 40px 15px;

      .post-content {
        p {
          text-align: justify;
        }

        .post-wrap {
          text-align: center;
          margin-bottom: 40px;

          @media (min-width:1200px) {
            padding-left: 30px;
            padding-right: 30px;
          }

          &:nth-child(odd) {
            clear: left;
          }
          img {
            margin: auto;
          }

          h2 {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.1px;
            font-weight: normal;
            text-transform: none;
          }

          p {
            margin-bottom: 15px;
          }

          .btn {
            margin: auto;
          }
        }
      }

      .navigation {
        text-align: center;
        width: 100%;

        a {
          color: #fff;
          border: 1px solid #9c9c9c;
          background: #9c9c9c;
          border-radius: 0;
          font-size: 13px;
          letter-spacing: 1px;
          font-weight: 500;
          text-transform: uppercase;
          font-family: @Montserrat;
          //letter-spacing: 0;
          text-transform: uppercase;
          transition: all 250ms;
          text-align: center;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          padding: 6px 12px;
          line-height: 1.428571429;
          text-decoration: none;

          &:hover, &:focus, &:active {
            background: #888888;
            color: #fff;
            border-color: #888888;
            text-decoration: none;
          }
        }
      }
    }

    h1:first-of-type {
      font-weight: 400 !important;
      text-transform: none;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .blog-sidebar {
      background: #efefef;
      padding: 30px;

      @media(max-width:767px) {
        padding: 20px;
      }

      p {
        text-align: justify;
      }
      h4 {
        letter-spacing: 0;
        font-size: 22px;
      }

    }

    .blog-sidebar-list {
      list-style: none;
      padding: 0;
      margin-left: 0;
      // font-family: @Montserrat;


      li {
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        letter-spacing: 0;

        &:first-of-type {
          border-top: 1px solid #ccc;
        }

        a {
          color: #333;

          &:hover {
            color: @blue;
          }
        }
      }
    }

    .blog-sidebar-callout {
      padding: 30px 20px;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
      }

      h4 {
        margin-top: 0;
        margin-bottom: 15px;

      }
    }
  }
}



// override bootstrap style, TODO: get css/less/min files in order
#ship-to-different-address .input-checkbox {
	margin-left: -20px !important;
}

/* checkout page */

.woocommerce .woocommerce-checkout {
  // hide (optional) suffix
  .optional {
    display: none;
  }
	.form-row.create-account .checkbox span {
		margin-left: 15px;
		margin-top: -5px;
	}
	.purchase-with-purpose-details {
		font-size: 0.9em;
		display: block;
		margin-top: 5px;
	}
}

/* WooCommerce 3.0 Gallery */

div.images {
	margin-bottom: 2em;

	img {
		display: block;
		width: 100%;
		height: auto;
		box-shadow: none;
	}

	div.thumbnails {
		padding-top: 1em;
	}

	&.woocommerce-product-gallery {
		position: relative;
	}

	.woocommerce-product-gallery__wrapper {
		transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
	}

	.woocommerce-product-gallery__wrapper .zoomImg {
		background-color: #fff;
	}

	.woocommerce-product-gallery__image:nth-child(n+2) {
		width: 25%;
		display: inline-block;
	}

	.woocommerce-product-gallery__trigger {
		position: absolute;
		top: .5em;
		right: .5em;
		font-size: 2em;
		z-index: 9;
		width: 36px;
		height: 36px;
		background: #fff;
		text-indent: -9999px;
		border-radius: 100%;
		box-sizing: content-box;

		&:before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border: 2px solid #000;
			border-radius: 100%;
			position: absolute;
			top: 9px;
			left: 9px;
			box-sizing: content-box;
		}

		&:after {
			content: "";
			display: block;
			width: 2px;
			height: 8px;
			background: #000;
			border-radius: 6px;
			position: absolute;
			top: 19px;
			left: 22px;
			transform: rotate(-45deg);
			box-sizing: content-box;
		}
	}

	.flex-control-thumbs {
		overflow: hidden;
		zoom: 1;
		margin: 0;
		padding: 0;

		li {
			width: 25%;
			float: left;
			margin: 0;
			list-style: none;

			img {
				cursor: pointer;
				opacity: .5;
				margin: 0;

				&.flex-active,
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.woocommerce-product-gallery--columns-3 {
	.flex-control-thumbs li:nth-child(3n+1) {
		clear: left;
	}
}

.woocommerce-product-gallery--columns-4 {
	.flex-control-thumbs li:nth-child(4n+1) {
		clear: left;
	}
}

.woocommerce-product-gallery--columns-5 {
	.flex-control-thumbs li:nth-child(5n+1) {
		clear: left;
	}
}

span.onsale {
	min-height: 3.236em;
	min-width: 3.236em;
	padding: 0.202em;
	font-size: 1em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	line-height: 3.236;
	top: -0.5em;
	left: -0.5em;
	margin: 0;
	border-radius: 100%;
	background-color: $highlight;
	color: $highlightext;
	font-size: 0.857em;
	-webkit-font-smoothing: antialiased;
	z-index: 9;
}


// hide quantity label
.product .quantity label {
  display: none;
}



/* checkout fundraiser update checkbox */
#customer_details {
	padding-bottom: 30px;
	.woocommerce-account-fields {
		margin-top: 10px;
		#createaccount {
			margin-top: 5px;
		}
	}
	.purchase-with-purpose {
		p {
			margin-bottom: 0px;
		}
		.purchase-with-purpose-details {
			line-height: 1.25em;
			margin: 0px 0px 0px 5px;
		}
	}
	.purchase-with-purpose,
	.checkout_fundraiser_update {
		padding-left: 15px;
		label {
			font-weight: normal;
			input {
				margin: 5px 0px 0px -15px;
			}
		}
	}
}

/* checkout tip */
#wc_checkout_add_ons {
   max-width: 520px;
   margin: 10px auto;
   .tip-title {
      font-weight: 700;
   }
   .tip-description {
      font-weight: normal;
      font-size: 12px;
      font-style: italic;
   }
   .select2-container {
     width: auto !important;
     min-width: 200px;
     margin-left: 25%;
   }
   // margin: 30px auto 0px auto;
}

/* checkout change address button*/

#checkout #customer_details .change_shipping_wrapper {
  float: right;
}

#checkout #customer_details ul {
  padding-left: 15px;

}
#checkout #customer_details .billing_phone,
#checkout #customer_details .billing_email,
#checkout #customer_details .shipping_phone,
#checkout #customer_details .shipping_email {
  color: #aaa;
}

/* cart redesign */


.woocommerce-cart-form .shop_table .product-name {
  white-space: normal;
  padding: 0px;
}

.woocommerce-cart-form .shop_table .donate_coupon_col {
  @media (max-width: 768px) {
    column-span: all;
  }
}

.woocommerce-cart-form .shop_table .actions-row .coupon {
  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.woocommerce-cart-form .shop_table .actions-row .button[name="update_cart"] {
  @media (max-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// hide product quantity
.woocommerce-cart-form .shop_table .product-quantity .quantity label {
  display: none !important;
}

.woocommerce-cart-form #donate_coupon_row .donation_wrap {
  max-width: 400px;
  text-align: center;
  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  .input-group {
    margin-left: auto;
    margin-right: auto;
  }
}
.woocommerce-cart-form .actions .coupon-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.woocommerce-cart-form .actions .coupon-row {
  @media (max-width: 768px) {
    display: none;
  }
}
.woocommerce-cart-form .actions .coupon {
  @media (min-width: 768px) {
    float: right !important;
  }
}

.woocommerce .cart-collaterals {
  justify-content: space-evenly;
  display: flex;

  @media (max-width: 768px) {
    display: block;
  }
}
.woocommerce .cart-collaterals .cart_totals {
  max-width: 500px;
  float: left;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    float: none;
  }

  ul#shipping_method label {
    width: calc(100% -25px);
  }


  td {
    white-space: unset !important;
  }
}

.woocommerce-Price-amount.amount {
  float: right;
}

/* hide bottom 'proceed to checkout' button */
.woocommerce #fh_alt_checkout_proceed {
  display: none !important;
}

.woocommerce .cart-collaterals .donation_totals {
  max-width: 500px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    float: none;
    .table-responsive {
      border: none;
    }
  }
}
.woocommerce .cart-collaterals .donation_totals .wc-proceed-to-checkout {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.woocommerce .cart-collaterals .donation_totals table {
  width: 100%;
}

.woocommerce .checkout-buttons-wrapper {
  margin-top: 20px;
}

.woocommerce .checkout-buttons-wrapper .checkout-arrow-wrapper {
  margin-right: 50px;
}

.woocommerce .checkout-buttons-wrapper h4 {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0px auto;
}

.woocommerce .checkout-buttons-wrapper h4 a {
  border: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit;
  color: #fff;
}

.woocommerce .checkout-buttons-wrapper h4 a span {
  padding: 10px;
  display: inline-block;
}

.woocommerce .checkout-buttons-wrapper .arrow_box {
  max-width: 225px;
  margin-left: 25px;
  position: relative;
  background: #28809b;
  border: 4px solid #28809b;
  &:hover {
    filter: brightness(0.85);
  }
}

.woocommerce .checkout-buttons-wrapper .arrow_box:after,
.woocommerce .checkout-buttons-wrapper .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.woocommerce .checkout-buttons-wrapper .arrow_box:after {
  border-color: rgba(40, 128, 155, 0);
  border-left-color: #28809b;
  border-width: 30px;
  margin-top: -30px;
}

.woocommerce .checkout-buttons-wrapper .arrow_box:before {
  border-color: rgba(40, 128, 155, 0);
  border-left-color: #28809b;
  border-width: 36px;
  margin-top: -36px;
}

.woocommerce .checkout-buttons-wrapper .paypal-wrapper {
  // hide for now
  display: none !important;
  margin-top: 30px;
  border: solid 1px #ccc;
  width: fit-content;
  padding: 30px 20px;
  border-radius: 10px;
  position: relative;
}

.woocommerce .checkout-buttons-wrapper .paypal-wrapper .wrapper-label {
  // hide for now
  display: none !important;
  color: #aaa;
  position: absolute;
  font-size: 1.4em;
  z-index: 999999;
  background-color: white;
  top: -15px;
  left: 145px;
}

.woocommerce .checkout-buttons-wrapper .button.paypal {
  // hide for now
  display: none !important;
  background: url("../img/button-paypal.png");
  // display: inline-block;
  background-size: cover;
  height: 55px;
  width: 275px;
  border: none;
  transform: scale(0.95);

  &:active {
    filter: brightness(0.3);
  }

  &:hover {
    filter: brightness(0.9);
  }
}
.woocommerce .donation_totals .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
  @media(max-width: 768px) {
    margin-right: 50px;
  }
}

