@import url('unsemantic-grid-responsive.css');
@import url(magnific-popup.css);
@import url(unslider.css);
@import url(unslider-dots.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Kalam);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Rock+Salt);
@import url('../font/trendsans.css');
.text-green {
  color: #29ad67 !important;
}
form .form-control {
  height: 35px;
}
form input[type="checkbox"],
form input[type="radio"] {
  margin: 0 4px 0 0;
}
.font-marker {
  font-family: "Rock Salt", cursive !important;
}
html body {
  font-family: "Lora", serif;
  color: #5a5a5a;
}
body {
  letter-spacing: 0.02em !important;
}
body .body_wrap {
  width: 100%;
}
body .body_wrap #main {
  max-width: 1240px;
  margin: auto;
}
body .body_wrap #main.full {
  max-width: 100%;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  text-transform: uppercase !important;
}
body h1.display {
  font-size: 4em;
}
@media (max-width: 768px) {
  body h1,
  body .h1,
  body h1.display {
    font-size: 2.2em;
  }
}
#om_affix_wrap {
  position: relative;
  z-index: 1040;
}
.hero-full {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin-top: -75px;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-full .unslider-nav {
  margin-top: -55px;
  position: relative;
  padding: 20px 10px;
}
.hero-full .hero-content {
  display: table;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: 50%;
  padding: 0 20px;
}
.hero-full .hero-content > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.hero-full .hero-content > div h1 {
  color: #fff;
  text-shadow: 0 0 70px rgba(0, 0, 0, 0.9);
  font-size: 44px;
  letter-spacing: 5px;
  padding: 0 !important;
  border: 0 !important;
  font-weight: 400 !important;
}
@media (max-width: 768px) {
  .hero-full .hero-content > div h1 {
    font-size: 30px;
  }
}
.hero-full .hero-content > div h2,
.hero-full .hero-content > div h3,
.hero-full .hero-content > div h4,
.hero-full .hero-content > div h5,
.hero-full .hero-content > div h6,
.hero-full .hero-content > div p {
  color: #fff;
  text-shadow: 0 0 70px rgba(0, 0, 0, 0.9);
}
.hero-full .hero-content > div .lead {
  color: #fff;
}
@media (min-width: 768px) {
  .boxes-flex {
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }
  .boxes-flex .box {
    display: flex;
  }
  .boxes-flex .box .box-content {
    width: 100%;
  }
}
.box {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
}
.box .box-content {
  padding: 20px;
  position: relative;
  z-index: 2;
}
.box .box-content.no-padding {
  padding: 0;
}
@media (max-width: 1099px) and (min-width: 768px) {
  .box .box-content {
    padding: 20px;
    min-height: 350px;
  }
}
@media (min-width: 1100px) {
  .box .box-content {
    min-height: 400px;
    padding: 40px;
  }
}
.box .box-content > * {
  color: #fff;
}
.box .box-content .btn {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.box .box-content .btn.absolute-btn {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .box .box-content .btn.absolute-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}
.box .bg-fade:before {
  left: 15px;
  right: 15px;
}
.bg-img {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bg-fade:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bg-fade.yellow:before {
  background-color: rgba(218, 181, 60, 0.85);
}
.bg-fade.blue:before {
  background-color: rgba(40, 128, 155, 0.85);
}
.bg-fade.darkBlue:before {
  background-color: rgba(21, 69, 117, 0.85);
}
.bg-fade.purple:before {
  background-color: rgba(87, 98, 168, 0.85);
}
.bg-fade.tan:before {
  background-color: rgba(226, 169, 140, 0.85);
}
.bg-fade.pink:before {
  background-color: rgba(237, 83, 129, 0.85);
}
.bg-fade.green:before {
  background-color: rgba(41, 173, 103, 0.85);
}
.grid_content .grid_item {
  height: 260px;
}
@media (max-width: 1099px) {
  .grid_content .grid_item {
    height: 220px;
  }
}
@media (max-width: 767px) {
  .grid_content .grid_item {
    height: 150px;
  }
}
#profile_ctas .grid_content .grid_item {
  max-height: 150px;
}
#page_article .well {
  border: 0;
  box-shadow: none;
  margin: 0;
}
#page_article .well > ul {
  padding: 0;
  list-style: none;
}
#fundraiser_browse_tools .form-control {
  max-width: 280px;
  margin: auto;
}
.featured-img {
  float: right;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.fundraiser-browse-tools-banner {
  background: #154575;
  padding: 8px 5px;
}
.fundraiser-browse-tools-banner .form-group {
  margin: 0;
}
.fundraiser-browse-tools-banner .form-group .form-control {
  display: inline-block;
}
.fundraiser-browse-tools-banner .form-group.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 790px) {
  .fundraiser-browse-tools-banner .form-control {
    margin-bottom: 10px !important;
  }
  .fundraiser-browse-tools-banner .btn {
    width: 100%;
    max-width: 180px;
    display: block;
    margin: auto;
  }
}
html body {
  background: #fefefe !important;
}
html body.page-template-template_fundraise_with_us .body_wrap #main,
html body.page-template-template_help-center .body_wrap #main,
html body.tax-help_center_categories .body_wrap #main,
html body.single-help_center_article .body_wrap #main {
  max-width: 100%;
}
html body.page-template-template_fundraise_with_us #content h1:first-of-type,
html body.page-template-template_help-center #content h1:first-of-type,
html body.tax-help_center_categories #content h1:first-of-type,
html body.single-help_center_article #content h1:first-of-type {
  font-weight: inherit;
  border: 0;
  padding-bottom: inherit;
}
html body.page-template-template_profile,
html body.home,
html body {
  font-size: 15px;
  font-family: "Lora", serif;
  color: #5a5a5a;
}
@media (max-width: 767px) {
  html body.page-template-template_profile,
  html body.home,
  html body {
    font-size: 13px;
  }
}
html body.page-template-template_profile p,
html body.home p,
html body p,
html body.page-template-template_profile ul,
html body.home ul,
html body ul,
html body.page-template-template_profile li,
html body.home li,
html body li {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
html body.page-template-template_profile .lead,
html body.home .lead,
html body .lead {
  line-height: 34px;
}
html body.page-template-template_profile h1,
html body.home h1,
html body h1,
html body.page-template-template_profile h2,
html body.home h2,
html body h2,
html body.page-template-template_profile h3,
html body.home h3,
html body h3,
html body.page-template-template_profile h4,
html body.home h4,
html body h4,
html body.page-template-template_profile h5,
html body.home h5,
html body h5,
html body.page-template-template_profile h6,
html body.home h6,
html body h6,
html body.page-template-template_profile .h1,
html body.home .h1,
html body .h1,
html body.page-template-template_profile .h2,
html body.home .h2,
html body .h2,
html body.page-template-template_profile .h3,
html body.home .h3,
html body .h3,
html body.page-template-template_profile .h4,
html body.home .h4,
html body .h4,
html body.page-template-template_profile .h5,
html body.home .h5,
html body .h5,
html body.page-template-template_profile .h6,
html body.home .h6,
html body .h6,
html body.page-template-template_profile .btn,
html body.home .btn,
html body .btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase !important;
}
html body.page-template-template_profile h1.alt-font,
html body.home h1.alt-font,
html body h1.alt-font,
html body.page-template-template_profile h2.alt-font,
html body.home h2.alt-font,
html body h2.alt-font,
html body.page-template-template_profile h3.alt-font,
html body.home h3.alt-font,
html body h3.alt-font,
html body.page-template-template_profile h4.alt-font,
html body.home h4.alt-font,
html body h4.alt-font,
html body.page-template-template_profile h5.alt-font,
html body.home h5.alt-font,
html body h5.alt-font,
html body.page-template-template_profile h6.alt-font,
html body.home h6.alt-font,
html body h6.alt-font,
html body.page-template-template_profile .h1.alt-font,
html body.home .h1.alt-font,
html body .h1.alt-font,
html body.page-template-template_profile .h2.alt-font,
html body.home .h2.alt-font,
html body .h2.alt-font,
html body.page-template-template_profile .h3.alt-font,
html body.home .h3.alt-font,
html body .h3.alt-font,
html body.page-template-template_profile .h4.alt-font,
html body.home .h4.alt-font,
html body .h4.alt-font,
html body.page-template-template_profile .h5.alt-font,
html body.home .h5.alt-font,
html body .h5.alt-font,
html body.page-template-template_profile .h6.alt-font,
html body.home .h6.alt-font,
html body .h6.alt-font,
html body.page-template-template_profile .btn.alt-font,
html body.home .btn.alt-font,
html body .btn.alt-font {
  font-family: "Lora", serif;
}
html body.page-template-template_profile h1,
html body.home h1,
html body h1,
html body.page-template-template_profile h2,
html body.home h2,
html body h2,
html body.page-template-template_profile .h1,
html body.home .h1,
html body .h1,
html body.page-template-template_profile .h2,
html body.home .h2,
html body .h2,
html body.page-template-template_profile .btn,
html body.home .btn,
html body .btn {
  text-transform: uppercase;
}
html body.page-template-template_profile h2,
html body.home h2,
html body h2 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
}
html body.page-template-template_profile h3,
html body.home h3,
html body h3 {
  font-size: 1.6em;
  letter-spacing: 2px;
}
html body.page-template-template_profile .btn,
html body.home .btn,
html body .btn {
  font-size: 14px;
  letter-spacing: 1px;
  color: #28809b;
  border-radius: 0;
  font-weight: 500;
}
html body.page-template-template_profile .btn .btn:disabled,
html body.home .btn .btn:disabled,
html body .btn .btn:disabled {
  opacity: 0.5;
}
html body.page-template-template_profile .btn.btn-lg,
html body.home .btn.btn-lg,
html body .btn.btn-lg {
  font-size: 17px;
}
@media (max-width: 767px) {
  html body.page-template-template_profile .btn.btn-lg,
  html body.home .btn.btn-lg,
  html body .btn.btn-lg {
    font-size: 15px;
  }
}
html body.page-template-template_profile .btn.btn-xl,
html body.home .btn.btn-xl,
html body .btn.btn-xl {
  font-weight: 500;
  letter-spacing: 3px;
  padding: 15px 35px;
  font-size: 20px;
}
@media (max-width: 767px) {
  html body.page-template-template_profile .btn.btn-xl,
  html body.home .btn.btn-xl,
  html body .btn.btn-xl {
    font-size: 15px;
    padding: 12px 20px;
    letter-spacing: 1.5px;
  }
}
html body.page-template-template_profile .btn.btn-primary,
html body.home .btn.btn-primary,
html body .btn.btn-primary,
html body.page-template-template_profile .btn.btn-info,
html body.home .btn.btn-info,
html body .btn.btn-info {
  background: #28809b;
  border-color: #28809b;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-primary:hover,
html body.home .btn.btn-primary:hover,
html body .btn.btn-primary:hover,
html body.page-template-template_profile .btn.btn-info:hover,
html body.home .btn.btn-info:hover,
html body .btn.btn-info:hover,
html body.page-template-template_profile .btn.btn-primary:focus,
html body.home .btn.btn-primary:focus,
html body .btn.btn-primary:focus,
html body.page-template-template_profile .btn.btn-info:focus,
html body.home .btn.btn-info:focus,
html body .btn.btn-info:focus,
html body.page-template-template_profile .btn.btn-primary:active,
html body.home .btn.btn-primary:active,
html body .btn.btn-primary:active,
html body.page-template-template_profile .btn.btn-info:active,
html body.home .btn.btn-info:active,
html body .btn.btn-info:active {
  background: #236f87;
  border-color: #236f87;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-success,
html body.home .btn.btn-success,
html body .btn.btn-success {
  background: #29ad67;
  border-color: #29ad67;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-success:hover,
html body.home .btn.btn-success:hover,
html body .btn.btn-success:hover,
html body.page-template-template_profile .btn.btn-success:focus,
html body.home .btn.btn-success:focus,
html body .btn.btn-success:focus,
html body.page-template-template_profile .btn.btn-success:active,
html body.home .btn.btn-success:active,
html body .btn.btn-success:active {
  background: #24985b;
  border-color: #24985b;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-purple,
html body.home .btn.btn-purple,
html body .btn.btn-purple {
  background: #5762a8;
  border-color: #5762a8;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-purple:hover,
html body.home .btn.btn-purple:hover,
html body .btn.btn-purple:hover,
html body.page-template-template_profile .btn.btn-purple:focus,
html body.home .btn.btn-purple:focus,
html body .btn.btn-purple:focus,
html body.page-template-template_profile .btn.btn-purple:active,
html body.home .btn.btn-purple:active,
html body .btn.btn-purple:active {
  background: #4e5897;
  border-color: #4e5897;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-dark,
html body.home .btn.btn-dark,
html body .btn.btn-dark {
  background: #222;
  border-color: #222;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-dark:hover,
html body.home .btn.btn-dark:hover,
html body .btn.btn-dark:hover,
html body.page-template-template_profile .btn.btn-dark:focus,
html body.home .btn.btn-dark:focus,
html body .btn.btn-dark:focus,
html body.page-template-template_profile .btn.btn-dark:active,
html body.home .btn.btn-dark:active,
html body .btn.btn-dark:active {
  background: #2f2f2f;
  border-color: #2f2f2f;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-yellow,
html body.home .btn.btn-yellow,
html body .btn.btn-yellow {
  background: #dab53c;
  border-color: #dab53c;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-yellow:hover,
html body.home .btn.btn-yellow:hover,
html body .btn.btn-yellow:hover,
html body.page-template-template_profile .btn.btn-yellow:focus,
html body.home .btn.btn-yellow:focus,
html body .btn.btn-yellow:focus,
html body.page-template-template_profile .btn.btn-yellow:active,
html body.home .btn.btn-yellow:active,
html body .btn.btn-yellow:active {
  background: #debd51;
  border-color: #debd51;
  color: #fff;
}
html body.page-template-template_profile .btn.btn-outline,
html body.home .btn.btn-outline,
html body .btn.btn-outline {
  color: #222;
  border: 1px solid #333;
  border-radius: 0;
  background: transparent;
}
html body.page-template-template_profile .btn.btn-outline.btn-outline-white,
html body.home .btn.btn-outline.btn-outline-white,
html body .btn.btn-outline.btn-outline-white {
  color: #fff;
  border-color: #eee;
}
html body.page-template-template_profile .btn.btn-outline.btn-outline-blue,
html body.home .btn.btn-outline.btn-outline-blue,
html body .btn.btn-outline.btn-outline-blue {
  color: #28809b;
  border-color: #2d91af;
}
html body.page-template-template_profile .btn.btn-outline.btn-outline-red,
html body.home .btn.btn-outline.btn-outline-red,
html body .btn.btn-outline.btn-outline-red {
  color: #dc5442;
  border-color: #e06758;
}
html body.page-template-template_profile .btn.btn-muted,
html body.home .btn.btn-muted,
html body .btn.btn-muted {
  color: #fff;
  border: 1px solid #9C9C9C;
  background: #9C9C9C;
  border-radius: 0;
}
html body.page-template-template_profile .btn.btn-muted:hover,
html body.home .btn.btn-muted:hover,
html body .btn.btn-muted:hover,
html body.page-template-template_profile .btn.btn-muted:focus,
html body.home .btn.btn-muted:focus,
html body .btn.btn-muted:focus,
html body.page-template-template_profile .btn.btn-muted:active,
html body.home .btn.btn-muted:active,
html body .btn.btn-muted:active {
  background: #888888;
  color: #fff;
  border-color: #888888;
}
html body.page-template-template_profile .lead,
html body.home .lead,
html body .lead {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}
@media (max-width: 767px) {
  html body.page-template-template_profile .lead,
  html body.home .lead,
  html body .lead {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
  }
}
html body.page-template-template_profile .lead-sm,
html body.home .lead-sm,
html body .lead-sm {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 767px) {
  html body.page-template-template_profile .lead-sm,
  html body.home .lead-sm,
  html body .lead-sm {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}
html body.page-template-template_profile .lead-lg,
html body.home .lead-lg,
html body .lead-lg {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 767px) {
  html body.page-template-template_profile .lead-lg,
  html body.home .lead-lg,
  html body .lead-lg {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
html body.page-template-template_profile .desaturate,
html body.home .desaturate,
html body .desaturate {
  filter: grayscale(100%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
html body.page-template-template_profile .desaturate:hover,
html body.home .desaturate:hover,
html body .desaturate:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
html body.page-template-template_profile .bg_image,
html body.home .bg_image,
html body .bg_image {
  background-size: cover;
  background-position: 50 50;
  background-repeat: no-repeat;
}
html body.page-template-template_profile .fundraiser_poloroid img,
html body.home .fundraiser_poloroid img,
html body .fundraiser_poloroid img {
  max-height: 170px;
}
html body.page-template-template_profile .fundraiser_poloroid .btn,
html body.home .fundraiser_poloroid .btn,
html body .fundraiser_poloroid .btn {
  font-size: 14px;
  padding: 3px 5px;
}
html body.page-template-template_profile .font_walter,
html body.home .font_walter,
html body .font_walter {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
html body.page-template-template_profile .error,
html body.home .error,
html body .error {
  color: #ed5381;
}
html body.page-template-template_profile .quote p,
html body.home .quote p,
html body .quote p {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
}
html body.page-template-template_profile .quote .byline,
html body.home .quote .byline,
html body .quote .byline {
  font-style: italic;
  opacity: 0.7;
}
html body.page-template-template_profile .intro-section img,
html body.home .intro-section img,
html body .intro-section img {
  margin: auto;
}
@media screen and (min-width: 992px) {
  html body.page-template-template_profile .intro-section img,
  html body.home .intro-section img,
  html body .intro-section img {
    float: right;
    margin-right: 10px;
    max-width: 360px;
  }
}
html body.page-template-template_profile .why-list li,
html body.home .why-list li,
html body .why-list li {
  margin-bottom: 10px;
}
html body.page-template-template_profile .why-list p,
html body.home .why-list p,
html body .why-list p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  html body.page-template-template_profile .why-list li,
  html body.home .why-list li,
  html body .why-list li {
    font-size: 18px;
    margin-bottom: 20px;
  }
  html body.page-template-template_profile .why-list p,
  html body.home .why-list p,
  html body .why-list p {
    text-align: left;
  }
}
html body.page-template-template_profile ul.dashed,
html body.home ul.dashed,
html body ul.dashed {
  list-style-type: none;
  margin: 0;
  list-style-image: url(../img/dash.png);
}
html body.page-template-template_profile #profile_tab_content p,
html body.home #profile_tab_content p,
html body #profile_tab_content p {
  font-size: 16px;
  line-height: 23px;
}
html body.page-template-template_profile #profile_tab_content p.lead,
html body.home #profile_tab_content p.lead,
html body #profile_tab_content p.lead {
  font-size: 18px;
  line-height: 26px;
}
html body.page-template-template_profile #fundraiser_profile_cash_now,
html body.home #fundraiser_profile_cash_now,
html body #fundraiser_profile_cash_now,
html body.page-template-template_profile .donation-block,
html body.home .donation-block,
html body .donation-block {
  border-radius: 0;
  color: #FFF;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
html body.page-template-template_profile #fundraiser_profile_cash_now h2,
html body.home #fundraiser_profile_cash_now h2,
html body #fundraiser_profile_cash_now h2,
html body.page-template-template_profile .donation-block h2,
html body.home .donation-block h2,
html body .donation-block h2 {
  margin-top: 0;
  color: #fff;
}
html body.page-template-template_profile #fundraiser_profile_cash_now .input-group,
html body.home #fundraiser_profile_cash_now .input-group,
html body #fundraiser_profile_cash_now .input-group,
html body.page-template-template_profile .donation-block .input-group,
html body.home .donation-block .input-group,
html body .donation-block .input-group {
  max-width: 250px;
  width: 100%;
  margin: 0 auto 10px auto;
}
html body.page-template-template_profile #fundraiser_profile_cash_now input[type='text'],
html body.home #fundraiser_profile_cash_now input[type='text'],
html body #fundraiser_profile_cash_now input[type='text'],
html body.page-template-template_profile .donation-block input[type='text'],
html body.home .donation-block input[type='text'],
html body .donation-block input[type='text'] {
  height: 36px;
}
html body.page-template-template_profile #fundraiser_profile_cash_now .overlay,
html body.home #fundraiser_profile_cash_now .overlay,
html body #fundraiser_profile_cash_now .overlay,
html body.page-template-template_profile .donation-block .overlay,
html body.home .donation-block .overlay,
html body .donation-block .overlay {
  padding: 30px 20px;
  background: rgba(34, 34, 34, 0.58);
  overflow: hidden;
}
html body.page-template-template_profile #fundraiser_profile_cash_now .error,
html body.home #fundraiser_profile_cash_now .error,
html body #fundraiser_profile_cash_now .error,
html body.page-template-template_profile .donation-block .error,
html body.home .donation-block .error,
html body .donation-block .error {
  margin: 0;
}
html body.page-template-template_profile #fundraiser_profile_cash_now,
html body.home #fundraiser_profile_cash_now,
html body #fundraiser_profile_cash_now {
  margin-bottom: 50px;
}
html body.page-template-template_profile footer a,
html body.home footer a,
html body footer a {
  color: #fff !important;
}
html body.page-template-template_profile footer .cta_block h3,
html body.home footer .cta_block h3,
html body footer .cta_block h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#om_affix .body_wrap {
  overflow: visible;
}
#om_affix #nav_header .navbar-brand {
  max-width: 220px;
}
#om_affix .navbar-toggle {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#om_affix .navbar-nav > li > a {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: 200;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#om_affix .menu-item.admin a {
  background: #b03232;
}
@media (min-width: 1100px) {
  #om_affix .menu-item.admin a {
    margin-top: 19px;
    padding: 8px 12px;
  }
}
#om_affix .menu-item.start-fund a {
  background: #29ad67;
}
@media (min-width: 1100px) {
  #om_affix .menu-item.start-fund a {
    margin-top: 19px;
    padding: 8px 12px;
  }
}
#om_affix .menu-item.setup-fund a {
  background: #28809b;
}
@media (min-width: 1100px) {
  #om_affix .menu-item.setup-fund a {
    margin-top: 19px;
    padding: 8px 12px;
  }
}
@media (max-width: 1099px) {
  #om_affix #om_non_responsive_nav_right {
    display: none;
  }
}
@media (min-width: 1100px) {
  #om_nav_search {
    position: absolute;
    right: 0;
    top: 75px;
    margin: 0;
    padding: 0 15px 15px;
    background: #222;
    display: none;
  }
  #om_nav_search .btn {
    background: #3C96BD !important;
  }
}
#drawer_shopping .col-sm-2 {
  width: 14.28%;
  padding: 0 6px;
}
#drawer_shopping .col-sm-2 img {
  width: 100%;
  height: auto;
}
#drawer_shopping .shopping_nav_link {
  font-size: 16px;
  padding: 10px 5px !important;
}
#drawer_shopping .btn-purple {
  margin-right: 10px;
}
.shopping_nav_link {
  background: #FFF;
  border-bottom: 2px #CCC solid;
  border-left: 1px #CCC solid;
  border-right: 1px #CCC solid;
  border-top: 1px #CCC solid;
  margin: 0 0 10px;
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
}
#profile_status #profile_progress_bar_wrap {
  overflow-y: visible;
}
.products li.product .fh_product_loop_title h2 {
  /* woocommerce changed h3 to h2 here */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
  transition: color 250ms;
  text-transform: none;
}
.products li.product .fh_product_loop_title h3 {
  font-size: 14px;
  letter-spacing: 0.2px;
}
.products li.product .button {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: #9c9c9c;
  border-color: #9c9c9c;
  color: #fff;
}
.products li.product .button:hover,
.products li.product .button:focus,
.products li.product .button:active {
  background: #8f8f8f;
  border-color: #8f8f8f;
  color: #fff;
}
.woo_sidebars input[type='search'] {
  max-width: 165px;
}
#fundraiser_profile_shopping_cats img {
  height: auto;
  margin: 0;
  width: 100%;
}
#profile_ctas {
  text-align: center;
}
#profile_ctas > div {
  padding-top: 20px;
}
#profile_ctas li.product {
  float: none;
  display: inline-block;
  width: 23%;
  height: auto;
}
#profile_ctas li.product .button {
  white-space: normal;
  position: static;
}
#profile_ctas h2.font_walter {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#profile_ctas h2.font_walter span {
  font-family: 'Open Sans';
}
.less-is-more {
  position: relative;
  padding-bottom: 40px;
}
.less-is-more-link {
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 800px) {
  .less-is-more-link {
    margin-bottom: 40px;
  }
}
.less-is-more-link:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background: #ddd;
}
.less-is-more-link:before {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  height: 50px;
}
.less-is-more-link > a {
  top: 10px;
  position: relative;
}
#profile_tab_content .section-header {
  text-align: center;
  margin-bottom: 30px;
}
#fundraiser_favorite_products {
  margin-bottom: 40px;
}
#fundraiser_profile_share .icon_buttons a {
  color: #fff;
}
.fh_sidr_fundraiser_profile_share .icon_buttons > a {
  display: inline-block;
  width: 30px;
}
#cta_sub_header #go_shopping_btn_new {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 20px 0;
}
.page-template-template_fundraise_with_us .margin-10,
.page-template-template_help-center .margin-10,
.tax-help_center_categories .margin-10,
.single-help_center_article .margin-10 {
  margin-bottom: 10px;
}
.page-template-template_fundraise_with_us .margin-20,
.page-template-template_help-center .margin-20,
.tax-help_center_categories .margin-20,
.single-help_center_article .margin-20 {
  margin-bottom: 20px;
}
.page-template-template_fundraise_with_us .margin-30,
.page-template-template_help-center .margin-30,
.tax-help_center_categories .margin-30,
.single-help_center_article .margin-30 {
  margin-bottom: 30px;
}
.page-template-template_fundraise_with_us .margin-40,
.page-template-template_help-center .margin-40,
.tax-help_center_categories .margin-40,
.single-help_center_article .margin-40 {
  margin-bottom: 40px;
}
.page-template-template_fundraise_with_us .margin-50,
.page-template-template_help-center .margin-50,
.tax-help_center_categories .margin-50,
.single-help_center_article .margin-50 {
  margin-bottom: 50px;
}
.page-template-template_fundraise_with_us .margin-60,
.page-template-template_help-center .margin-60,
.tax-help_center_categories .margin-60,
.single-help_center_article .margin-60 {
  margin-bottom: 60px;
}
.page-template-template_fundraise_with_us .margin-70,
.page-template-template_help-center .margin-70,
.tax-help_center_categories .margin-70,
.single-help_center_article .margin-70 {
  margin-bottom: 70px;
}
.page-template-template_fundraise_with_us .margin-80,
.page-template-template_help-center .margin-80,
.tax-help_center_categories .margin-80,
.single-help_center_article .margin-80 {
  margin-bottom: 80px;
}
.page-template-template_fundraise_with_us .margin-90,
.page-template-template_help-center .margin-90,
.tax-help_center_categories .margin-90,
.single-help_center_article .margin-90 {
  margin-bottom: 90px;
}
.page-template-template_fundraise_with_us .margin-100,
.page-template-template_help-center .margin-100,
.tax-help_center_categories .margin-100,
.single-help_center_article .margin-100 {
  margin-bottom: 100px;
}
.page-template-template_fundraise_with_us .text-white,
.page-template-template_help-center .text-white,
.tax-help_center_categories .text-white,
.single-help_center_article .text-white {
  color: #fff !important;
}
.page-template-template_fundraise_with_us .text-black,
.page-template-template_help-center .text-black,
.tax-help_center_categories .text-black,
.single-help_center_article .text-black {
  color: #000 !important;
}
.page-template-template_fundraise_with_us .text-dark,
.page-template-template_help-center .text-dark,
.tax-help_center_categories .text-dark,
.single-help_center_article .text-dark {
  color: #333 !important;
}
.page-template-template_fundraise_with_us .text-green,
.page-template-template_help-center .text-green,
.tax-help_center_categories .text-green,
.single-help_center_article .text-green {
  color: #29ad67 !important;
}
.page-template-template_fundraise_with_us .text-normal,
.page-template-template_help-center .text-normal,
.tax-help_center_categories .text-normal,
.single-help_center_article .text-normal {
  font-weight: normal;
}
.page-template-template_fundraise_with_us .text-bold,
.page-template-template_help-center .text-bold,
.tax-help_center_categories .text-bold,
.single-help_center_article .text-bold {
  font-weight: bold;
}
.page-template-template_fundraise_with_us .text-thin,
.page-template-template_help-center .text-thin,
.tax-help_center_categories .text-thin,
.single-help_center_article .text-thin {
  font-weight: 300;
}
.page-template-template_fundraise_with_us .one_full #content .gutter_content,
.page-template-template_help-center .one_full #content .gutter_content,
.tax-help_center_categories .one_full #content .gutter_content,
.single-help_center_article .one_full #content .gutter_content {
  padding: 0;
}
.page-template-template_fundraise_with_us .page-section,
.page-template-template_help-center .page-section,
.tax-help_center_categories .page-section,
.single-help_center_article .page-section {
  padding: 30px 20px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .page-template-template_fundraise_with_us .page-section,
  .page-template-template_help-center .page-section,
  .tax-help_center_categories .page-section,
  .single-help_center_article .page-section {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .page-template-template_fundraise_with_us .page-section,
  .page-template-template_help-center .page-section,
  .tax-help_center_categories .page-section,
  .single-help_center_article .page-section {
    padding: 20px 5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -11px;
  }
}
.page-template-template_fundraise_with_us .page-section.bg-green,
.page-template-template_help-center .page-section.bg-green,
.tax-help_center_categories .page-section.bg-green,
.single-help_center_article .page-section.bg-green {
  background: #29ad67;
  color: #fff;
}
.page-template-template_fundraise_with_us .page-section.bg-green h1,
.page-template-template_help-center .page-section.bg-green h1,
.tax-help_center_categories .page-section.bg-green h1,
.single-help_center_article .page-section.bg-green h1,
.page-template-template_fundraise_with_us .page-section.bg-green h2,
.page-template-template_help-center .page-section.bg-green h2,
.tax-help_center_categories .page-section.bg-green h2,
.single-help_center_article .page-section.bg-green h2,
.page-template-template_fundraise_with_us .page-section.bg-green h3,
.page-template-template_help-center .page-section.bg-green h3,
.tax-help_center_categories .page-section.bg-green h3,
.single-help_center_article .page-section.bg-green h3,
.page-template-template_fundraise_with_us .page-section.bg-green h4,
.page-template-template_help-center .page-section.bg-green h4,
.tax-help_center_categories .page-section.bg-green h4,
.single-help_center_article .page-section.bg-green h4,
.page-template-template_fundraise_with_us .page-section.bg-green h5,
.page-template-template_help-center .page-section.bg-green h5,
.tax-help_center_categories .page-section.bg-green h5,
.single-help_center_article .page-section.bg-green h5,
.page-template-template_fundraise_with_us .page-section.bg-green h6,
.page-template-template_help-center .page-section.bg-green h6,
.tax-help_center_categories .page-section.bg-green h6,
.single-help_center_article .page-section.bg-green h6,
.page-template-template_fundraise_with_us .page-section.bg-green p,
.page-template-template_help-center .page-section.bg-green p,
.tax-help_center_categories .page-section.bg-green p,
.single-help_center_article .page-section.bg-green p {
  color: #fff;
}
.page-template-template_fundraise_with_us #fh_crumbs,
.page-template-template_help-center #fh_crumbs,
.tax-help_center_categories #fh_crumbs,
.single-help_center_article #fh_crumbs {
  display: none;
}
.page-template-template_fundraise_with_us .img-responsive,
.page-template-template_help-center .img-responsive,
.tax-help_center_categories .img-responsive,
.single-help_center_article .img-responsive {
  width: 100%;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form,
.page-template-template_help-center .fundraise-with-us-form,
.tax-help_center_categories .fundraise-with-us-form,
.single-help_center_article .fundraise-with-us-form {
  padding: 0px 20px;
  margin-top: -10px;
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  .page-template-template_fundraise_with_us .fundraise-with-us-form,
  .page-template-template_help-center .fundraise-with-us-form,
  .tax-help_center_categories .fundraise-with-us-form,
  .single-help_center_article .fundraise-with-us-form {
    margin-top: 20px;
    padding: 0;
  }
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_wrapper,
.page-template-template_help-center .fundraise-with-us-form .gform_wrapper,
.tax-help_center_categories .fundraise-with-us-form .gform_wrapper,
.single-help_center_article .fundraise-with-us-form .gform_wrapper {
  margin: 0;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_wrapper .validation_error,
.page-template-template_help-center .fundraise-with-us-form .gform_wrapper .validation_error,
.tax-help_center_categories .fundraise-with-us-form .gform_wrapper .validation_error,
.single-help_center_article .fundraise-with-us-form .gform_wrapper .validation_error {
  border-radius: 0;
  margin: 0;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_heading,
.page-template-template_help-center .fundraise-with-us-form .gform_heading,
.tax-help_center_categories .fundraise-with-us-form .gform_heading,
.single-help_center_article .fundraise-with-us-form .gform_heading {
  background: #29ad67;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_heading h3,
.page-template-template_help-center .fundraise-with-us-form .gform_heading h3,
.tax-help_center_categories .fundraise-with-us-form .gform_heading h3,
.single-help_center_article .fundraise-with-us-form .gform_heading h3 {
  margin: 0;
  color: #fff;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_body,
.page-template-template_help-center .fundraise-with-us-form .gform_body,
.tax-help_center_categories .fundraise-with-us-form .gform_body,
.single-help_center_article .fundraise-with-us-form .gform_body {
  background: #fff;
  padding: 15px 20px 5px;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_body ul,
.page-template-template_help-center .fundraise-with-us-form .gform_body ul,
.tax-help_center_categories .fundraise-with-us-form .gform_body ul,
.single-help_center_article .fundraise-with-us-form .gform_body ul {
  margin: 0;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_body ul li,
.page-template-template_help-center .fundraise-with-us-form .gform_body ul li,
.tax-help_center_categories .fundraise-with-us-form .gform_body ul li,
.single-help_center_article .fundraise-with-us-form .gform_body ul li {
  margin-bottom: 5px;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_footer,
.page-template-template_help-center .fundraise-with-us-form .gform_footer,
.tax-help_center_categories .fundraise-with-us-form .gform_footer,
.single-help_center_article .fundraise-with-us-form .gform_footer {
  background: #fff;
  padding: 10px 20px 15px;
  text-align: center;
}
.page-template-template_fundraise_with_us .fundraise-with-us-form .gform_footer input,
.page-template-template_help-center .fundraise-with-us-form .gform_footer input,
.tax-help_center_categories .fundraise-with-us-form .gform_footer input,
.single-help_center_article .fundraise-with-us-form .gform_footer input {
  font-size: 18px;
}
.spam-msg {
  margin-top: 10px;
  margin-bottom: 0;
  color: #777;
  font-size: 11px;
  line-height: 16px;
}
ul.products-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
ul.products-nav > li {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
ul.products-nav > li > a {
  font-size: 18px;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.grid_content .grid_item {
  position: relative;
  min-height: 140px;
  margin-bottom: 30px;
}
.grid_content .grid_item.col-md-3 {
  height: 220px;
}
.grid_content .grid_item.col-md-3 .overlay .table div h4 {
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .grid_content .grid_item.col-md-3 {
    height: 160px;
  }
  .grid_content .grid_item.col-md-3 .overlay .table div h4 {
    font-size: 14px;
  }
}
.grid_content .grid_item a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.grid_content .grid_item .overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  text-align: center;
}
.grid_content .grid_item .overlay .table {
  display: table;
  height: 100%;
  width: 100%;
}
.grid_content .grid_item .overlay .table div {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.grid_content .grid_item .overlay .table div.bottom {
  vertical-align: bottom;
  padding: 0;
}
.grid_content .grid_item .overlay .table div.bottom h4 {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
}
@media (max-width: 767px) {
  .grid_content .grid_item .overlay .table div {
    vertical-align: bottom;
    padding: 0;
  }
}
.grid_content .grid_item .overlay .table div:hover {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.grid_content .grid_item .overlay .table div:hover.yellow {
  background: rgba(218, 181, 60, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.blue {
  background: rgba(40, 128, 155, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.darkBlue {
  background: rgba(21, 69, 117, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.purple {
  background: rgba(87, 98, 168, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.tan {
  background: rgba(226, 169, 140, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.pink {
  background: rgba(237, 83, 129, 0.85);
}
.grid_content .grid_item .overlay .table div:hover.green {
  background: rgba(41, 173, 103, 0.85);
}
.grid_content .grid_item .overlay .table div h4 {
  color: #fff;
}
@media (min-width: 768px) {
  .grid_content .grid_item .overlay .table div h4 {
    font-size: 21px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .grid_content .grid_item .overlay .table div h4 {
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 5px;
    font-size: 14px;
  }
}
.grid_content .grid_item .overlay .table div.no-hover.yellow {
  background: rgba(218, 181, 60, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.blue {
  background: rgba(40, 128, 155, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.darkBlue {
  background: rgba(21, 69, 117, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.purple {
  background: rgba(87, 98, 168, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.tan {
  background: rgba(226, 169, 140, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.pink {
  background: rgba(237, 83, 129, 0.85);
}
.grid_content .grid_item .overlay .table div.no-hover.green {
  background: rgba(41, 173, 103, 0.85);
}
#cta_sub_header {
  z-index: 1;
}
@media (max-width: 800px) {
  .hidden-xs {
    display: none !important;
  }
  #om_affix #nav_header .navbar-brand {
    max-width: 180px;
  }
  .page-template-template_profile .body_wrap {
    overflow: visible;
  }
  .page-template-template_profile #over_body_wrap {
    padding-top: 55px;
  }
  .page-template-template_profile #cta_sub_header {
    margin-top: -55px;
  }
  .page-template-template_profile #sidebar_left .gutter_aside .btn-success {
    position: fixed;
    top: 80px;
    left: 1%;
    width: 98%;
    z-index: 1000;
  }
  #cta_sub_header #go_shopping_btn_new {
    position: static;
    right: 0;
    top: 0;
  }
}
.nobreadcrumbs #fh_crumbs {
  display: none !important;
}
.noborders {
  border: none !important;
}
.space-0 {
  margin-bottom: 0px;
  margin-bottom: 0vh !important;
}
.space-top-0 {
  margin-top: 0px;
  margin-top: 0vh !important;
}
.space-1 {
  margin-bottom: 6.25px;
  margin-bottom: 1vh !important;
}
.space-top-1 {
  margin-top: 6.25px;
  margin-top: 1vh !important;
}
.space-2 {
  margin-bottom: 12.5px;
  margin-bottom: 2vh !important;
}
.space-top-2 {
  margin-top: 12.5px;
  margin-top: 2vh !important;
}
.space-3 {
  margin-bottom: 18.75px;
  margin-bottom: 3vh !important;
}
.space-top-3 {
  margin-top: 18.75px;
  margin-top: 3vh !important;
}
.space-4 {
  margin-bottom: 25px;
  margin-bottom: 4vh !important;
}
.space-top-4 {
  margin-top: 25px;
  margin-top: 4vh !important;
}
.space-5 {
  margin-bottom: 31.25px;
  margin-bottom: 5vh !important;
}
.space-top-5 {
  margin-top: 31.25px;
  margin-top: 5vh !important;
}
.space-6 {
  margin-bottom: 37.5px;
  margin-bottom: 6vh !important;
}
.space-top-6 {
  margin-top: 37.5px;
  margin-top: 6vh !important;
}
.space-7 {
  margin-bottom: 43.75px;
  margin-bottom: 7vh !important;
}
.space-top-7 {
  margin-top: 43.75px;
  margin-top: 7vh !important;
}
.space-8 {
  margin-bottom: 50px;
  margin-bottom: 8vh !important;
}
.space-top-8 {
  margin-top: 50px;
  margin-top: 8vh !important;
}
.space-9 {
  margin-bottom: 60px;
  margin-bottom: 9vh !important;
}
.space-top-9 {
  margin-top: 60px;
  margin-top: 9vh !important;
}
.space-10 {
  margin-bottom: 75px;
  margin-bottom: 10vh !important;
}
.space-top-10 {
  margin-top: 75px;
  margin-top: 10vh !important;
}
.mini-separator {
  height: 2px;
  background: #999;
  width: 100px;
  margin: auto;
  clear: both;
}
.mini-separator.light {
  background: #eee;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: #222 !important;
}
#fh_donate_btn {
  height: 36px;
}
.text-left {
  text-align: left !important;
}
@media screen and (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
}
.text-transform-none {
  text-transform: none !important;
}
.inset {
  padding: 20px 25px;
  background: #fff;
  border: 1px solid #ddd;
}
@media screen and (max-width: 991px) {
  .inset {
    padding: 10px 15px;
  }
}
.inset.inset-gray {
  background: #efefef;
}
.inset.inset-gray code {
  background: none;
}
.unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.unstyled li {
  padding-left: 0;
  margin-left: 0;
}
.help-center a,
.help-center a:hover {
  color: #28809b;
}
.help-center h1 a,
.help-center h2 a,
.help-center h3 a,
.help-center h4 a,
.help-center h5 a,
.help-center h6 a,
.help-center h1 a:hover,
.help-center h2 a:hover,
.help-center h3 a:hover,
.help-center h4 a:hover,
.help-center h5 a:hover,
.help-center h6 a:hover {
  color: #28809b;
}
.help-center .inset h5 {
  margin-bottom: 1em;
}
.help-center .inset *:last-child {
  margin-bottom: 10px;
}
.help-center-content .col-sm-6:nth-child(2n+1) {
  clear: both;
}
.help-center-content .col-sm-6:first-child {
  clear: none;
}
/* global dialog */
.dialog {
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 20px;
  position: relative;
}
.dialog .required {
  color: red;
  margin-left: 5px;
}
.dialog p.status {
  display: none;
  text-align: center;
  font-weight: bold;
}
.form-group {
  position: relative;
}
.dialog p.status.success {
  color: green;
}
.dialog p.status.fail {
  color: red;
}
.help-icon {
  width: 15px;
  height: 15px;
}
.help-text {
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: #88a6e4;
  bottom: 100%;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.subheader {
  text-transform: uppercase;
  color: #888;
}
/* login dialogs */
.login-form .form-group {
  margin-bottom: 1em;
}
.login-form p {
  margin-bottom: 1.0em;
}
.login-form p.lost {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
.login-form .divider {
  white-space: nowrap;
  margin: 1em 0;
  display: table;
  width: 100%;
  margin-bottom: 2em;
}
.login-form .divider > span {
  text-align: center;
  display: table-cell;
  width: 16%;
  font-weight: 300;
  padding: 0 .5em;
  position: relative;
  top: .6em;
}
.login-form .divider:before,
.login-form .divider:after {
  content: '';
  display: table-cell;
  width: 42%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.login-form .btn-outline-blue:hover {
  background-color: #28809b !important;
  color: white !important;
}
.login-form .btn-outline-red:hover {
  background-color: #dc5442 !important;
  color: white !important;
}
/* start fund dialog */
#startfund-form .fundraiser-type label {
  font-weight: normal;
  margin-left: 10px;
}
#startfund-form .city {
  width: 140px;
  display: inline-block;
}
#startfund-form .state {
  display: inline-block;
  width: 85px;
}
#startfund-form .country {
  display: inline-block;
  width: 125px;
}
.country-options {
  margin-left: 10px;
}
.country-options label {
  font-weight: normal;
}
.country-options label:first-child {
  margin-right: 5px;
}
.country-options label:last-child {
  margin-left: 5px;
}
.country-options input {
  margin-right: 5px;
}
.unitedstates-fields,
.othercountry-fields {
  margin-left: 10px;
}
.othercountry-fields .required {
  display: none;
}
/* setup fund dialog */
/* Table disply for divs */
.table-display {
  display: table;
}
.table-display > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/* preview screen overlay warning */
#main .overlay-warning {
  display: none;
}
#main.warn_overlay .overlay-warning {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(21, 53, 80, 0.4);
  /*dim the background*/
}
#main.warn_overlay .overlay-warning .message-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px 40px 10px;
  position: absolute;
  bottom: 10%;
  color: white;
  background-color: #ed5381;
  opacity: 0.9;
  top: auto;
  width: 120%;
  transform: rotate(-5deg);
  left: -10%;
}
#main.warn_overlay .overlay-warning .message-wrapper h2 {
  color: #fff;
}
#main.warn_overlay .overlay-warning .message-wrapper .title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.0em;
  line-height: 1.0em;
  font-weight: bold;
  margin-bottom: 0px;
}
#main.warn_overlay .overlay-warning .message-wrapper .message {
  line-height: 1.2em;
  font-size: 1.6em;
}
.article_meta .icon_buttons {
  float: right;
  margin-right: 10px;
}
.article_meta .icon_buttons a {
  color: white;
  border-radius: 50%;
  display: inline-block;
  font-size: 11px;
  padding: 0px;
  width: 22px;
  margin-left: 5px;
}
.article_meta .icon_buttons a span {
  margin-left: 6px;
}
.article_meta .icon_buttons a span.fa-facebook {
  margin-left: 8px;
}
#cta_sub_header #checkout_ribbon {
  height: auto;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100px;
  position: absolute;
  top: 10px;
  right: 130px;
  border: 1px solid #239953;
  background: #fff;
}
@media (max-width: 710px) {
  #cta_sub_header #checkout_ribbon {
    position: static;
  }
}
#cta_sub_header #checkout_ribbon a,
#cta_sub_header #checkout_ribbon a:hover {
  color: #444;
}
#cta_sub_header #checkout_ribbon .cart_title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #239953;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
#cta_sub_header #cart_ribbon {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  height: auto;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100px;
  position: absolute;
  top: 10px;
  right: 75px;
  border: 1px solid #29ad67;
  background: #29ad67;
}
@media (max-width: 710px) {
  #cta_sub_header #cart_ribbon {
    position: static;
  }
}
#cta_sub_header #cart_ribbon a,
#cta_sub_header #cart_ribbon a:hover {
  color: #fff;
}
#content .blog-wrap h1 {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #content .blog-wrap > .row {
    display: flex;
    align-items: stretch;
  }
}
#content .blog-wrap .blog-post-content {
  padding: 15px 15px 40px 15px;
}
#content .blog-wrap .blog-post-content .post-content p {
  text-align: justify;
}
#content .blog-wrap .blog-post-content .post-content .post-wrap {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  #content .blog-wrap .blog-post-content .post-content .post-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
#content .blog-wrap .blog-post-content .post-content .post-wrap:nth-child(odd) {
  clear: left;
}
#content .blog-wrap .blog-post-content .post-content .post-wrap img {
  margin: auto;
}
#content .blog-wrap .blog-post-content .post-content .post-wrap h2 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1px;
  font-weight: normal;
  text-transform: none;
}
#content .blog-wrap .blog-post-content .post-content .post-wrap p {
  margin-bottom: 15px;
}
#content .blog-wrap .blog-post-content .post-content .post-wrap .btn {
  margin: auto;
}
#content .blog-wrap .blog-post-content .navigation {
  text-align: center;
  width: 100%;
}
#content .blog-wrap .blog-post-content .navigation a {
  color: #fff;
  border: 1px solid #9c9c9c;
  background: #9c9c9c;
  border-radius: 0;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  transition: all 250ms;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
}
#content .blog-wrap .blog-post-content .navigation a:hover,
#content .blog-wrap .blog-post-content .navigation a:focus,
#content .blog-wrap .blog-post-content .navigation a:active {
  background: #888888;
  color: #fff;
  border-color: #888888;
  text-decoration: none;
}
#content .blog-wrap h1:first-of-type {
  font-weight: 400 !important;
  text-transform: none;
  border-bottom: 0;
  padding-bottom: 0;
}
#content .blog-wrap .blog-sidebar {
  background: #efefef;
  padding: 30px;
}
@media (max-width: 767px) {
  #content .blog-wrap .blog-sidebar {
    padding: 20px;
  }
}
#content .blog-wrap .blog-sidebar p {
  text-align: justify;
}
#content .blog-wrap .blog-sidebar h4 {
  letter-spacing: 0;
  font-size: 22px;
}
#content .blog-wrap .blog-sidebar-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
#content .blog-wrap .blog-sidebar-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  letter-spacing: 0;
}
#content .blog-wrap .blog-sidebar-list li:first-of-type {
  border-top: 1px solid #ccc;
}
#content .blog-wrap .blog-sidebar-list li a {
  color: #333;
}
#content .blog-wrap .blog-sidebar-list li a:hover {
  color: #28809b;
}
#content .blog-wrap .blog-sidebar-callout {
  padding: 30px 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#content .blog-wrap .blog-sidebar-callout:after {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}
#content .blog-wrap .blog-sidebar-callout h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
#ship-to-different-address .input-checkbox {
  margin-left: -20px !important;
}
/* checkout page */
.woocommerce .woocommerce-checkout .optional {
  display: none;
}
.woocommerce .woocommerce-checkout .form-row.create-account .checkbox span {
  margin-left: 15px;
  margin-top: -5px;
}
.woocommerce .woocommerce-checkout .purchase-with-purpose-details {
  font-size: 0.9em;
  display: block;
  margin-top: 5px;
}
/* WooCommerce 3.0 Gallery */
div.images {
  margin-bottom: 2em;
}
div.images img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
}
div.images div.thumbnails {
  padding-top: 1em;
}
div.images.woocommerce-product-gallery {
  position: relative;
}
div.images .woocommerce-product-gallery__wrapper {
  transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
}
div.images .woocommerce-product-gallery__wrapper .zoomImg {
  background-color: #fff;
}
div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 25%;
  display: inline-block;
}
div.images .woocommerce-product-gallery__trigger {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 2em;
  z-index: 9;
  width: 36px;
  height: 36px;
  background: #fff;
  text-indent: -9999px;
  border-radius: 100%;
  box-sizing: content-box;
}
div.images .woocommerce-product-gallery__trigger:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 9px;
  left: 9px;
  box-sizing: content-box;
}
div.images .woocommerce-product-gallery__trigger:after {
  content: "";
  display: block;
  width: 2px;
  height: 8px;
  background: #000;
  border-radius: 6px;
  position: absolute;
  top: 19px;
  left: 22px;
  transform: rotate(-45deg);
  box-sizing: content-box;
}
div.images .flex-control-thumbs {
  overflow: hidden;
  zoom: 1;
  margin: 0;
  padding: 0;
}
div.images .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
  list-style: none;
}
div.images .flex-control-thumbs li img {
  cursor: pointer;
  opacity: .5;
  margin: 0;
}
div.images .flex-control-thumbs li img.flex-active,
div.images .flex-control-thumbs li img:hover {
  opacity: 1;
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
  clear: left;
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: left;
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
  clear: left;
}
span.onsale {
  min-height: 3.236em;
  min-width: 3.236em;
  padding: 0.202em;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 3.236;
  top: -0.5em;
  left: -0.5em;
  margin: 0;
  border-radius: 100%;
  background-color: $highlight;
  color: $highlightext;
  font-size: 0.857em;
  -webkit-font-smoothing: antialiased;
  z-index: 9;
}
.product .quantity label {
  display: none;
}
/* checkout fundraiser update checkbox */
#customer_details {
  padding-bottom: 30px;
}
#customer_details .woocommerce-account-fields {
  margin-top: 10px;
}
#customer_details .woocommerce-account-fields #createaccount {
  margin-top: 5px;
}
#customer_details .purchase-with-purpose p {
  margin-bottom: 0px;
}
#customer_details .purchase-with-purpose .purchase-with-purpose-details {
  line-height: 1.25em;
  margin: 0px 0px 0px 5px;
}
#customer_details .purchase-with-purpose,
#customer_details .checkout_fundraiser_update {
  padding-left: 15px;
}
#customer_details .purchase-with-purpose label,
#customer_details .checkout_fundraiser_update label {
  font-weight: normal;
}
#customer_details .purchase-with-purpose label input,
#customer_details .checkout_fundraiser_update label input {
  margin: 5px 0px 0px -15px;
}
/* checkout tip */
#wc_checkout_add_ons {
  max-width: 520px;
  margin: 10px auto;
}
#wc_checkout_add_ons .tip-title {
  font-weight: 700;
}
#wc_checkout_add_ons .tip-description {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
#wc_checkout_add_ons .select2-container {
  width: auto !important;
  min-width: 200px;
  margin-left: 25%;
}
/* checkout change address button*/
#checkout #customer_details .change_shipping_wrapper {
  float: right;
}
#checkout #customer_details ul {
  padding-left: 15px;
}
#checkout #customer_details .billing_phone,
#checkout #customer_details .billing_email,
#checkout #customer_details .shipping_phone,
#checkout #customer_details .shipping_email {
  color: #aaa;
}
/* cart redesign */
.woocommerce-cart-form .shop_table .product-name {
  white-space: normal;
  padding: 0px;
}
@media (max-width: 768px) {
  .woocommerce-cart-form .shop_table .donate_coupon_col {
    column-span: all;
  }
}
@media (max-width: 768px) {
  .woocommerce-cart-form .shop_table .actions-row .coupon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .woocommerce-cart-form .shop_table .actions-row .button[name="update_cart"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.woocommerce-cart-form .shop_table .product-quantity .quantity label {
  display: none !important;
}
.woocommerce-cart-form #donate_coupon_row .donation_wrap {
  max-width: 400px;
  text-align: center;
}
@media (max-width: 768px) {
  .woocommerce-cart-form #donate_coupon_row .donation_wrap {
    margin-left: auto;
    margin-right: auto;
  }
}
.woocommerce-cart-form #donate_coupon_row .donation_wrap .input-group {
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-cart-form .actions .coupon-col {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .woocommerce-cart-form .actions .coupon-row {
    display: none;
  }
}
@media (min-width: 768px) {
  .woocommerce-cart-form .actions .coupon {
    float: right !important;
  }
}
.woocommerce .cart-collaterals {
  justify-content: space-evenly;
  display: flex;
}
@media (max-width: 768px) {
  .woocommerce .cart-collaterals {
    display: block;
  }
}
.woocommerce .cart-collaterals .cart_totals {
  max-width: 500px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .woocommerce .cart-collaterals .cart_totals {
    float: none;
  }
}
.woocommerce .cart-collaterals .cart_totals ul#shipping_method label {
  width: calc(100% -25px);
}
.woocommerce .cart-collaterals .cart_totals td {
  white-space: unset !important;
}
.woocommerce-Price-amount.amount {
  float: right;
}
/* hide bottom 'proceed to checkout' button */
.woocommerce #fh_alt_checkout_proceed {
  display: none !important;
}
.woocommerce .cart-collaterals .donation_totals {
  max-width: 500px;
  float: right;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .woocommerce .cart-collaterals .donation_totals {
    float: none;
  }
  .woocommerce .cart-collaterals .donation_totals .table-responsive {
    border: none;
  }
}
.woocommerce .cart-collaterals .donation_totals .wc-proceed-to-checkout {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce .cart-collaterals .donation_totals table {
  width: 100%;
}
.woocommerce .checkout-buttons-wrapper {
  margin-top: 20px;
}
.woocommerce .checkout-buttons-wrapper .checkout-arrow-wrapper {
  margin-right: 50px;
}
.woocommerce .checkout-buttons-wrapper h4 {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0px auto;
}
.woocommerce .checkout-buttons-wrapper h4 a {
  border: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit;
  color: #fff;
}
.woocommerce .checkout-buttons-wrapper h4 a span {
  padding: 10px;
  display: inline-block;
}
.woocommerce .checkout-buttons-wrapper .arrow_box {
  max-width: 225px;
  margin-left: 25px;
  position: relative;
  background: #28809b;
  border: 4px solid #28809b;
}
.woocommerce .checkout-buttons-wrapper .arrow_box:hover {
  filter: brightness(0.85);
}
.woocommerce .checkout-buttons-wrapper .arrow_box:after,
.woocommerce .checkout-buttons-wrapper .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.woocommerce .checkout-buttons-wrapper .arrow_box:after {
  border-color: rgba(40, 128, 155, 0);
  border-left-color: #28809b;
  border-width: 30px;
  margin-top: -30px;
}
.woocommerce .checkout-buttons-wrapper .arrow_box:before {
  border-color: rgba(40, 128, 155, 0);
  border-left-color: #28809b;
  border-width: 36px;
  margin-top: -36px;
}
.woocommerce .checkout-buttons-wrapper .paypal-wrapper {
  display: none !important;
  margin-top: 30px;
  border: solid 1px #ccc;
  width: fit-content;
  padding: 30px 20px;
  border-radius: 10px;
  position: relative;
}
.woocommerce .checkout-buttons-wrapper .paypal-wrapper .wrapper-label {
  display: none !important;
  color: #aaa;
  position: absolute;
  font-size: 1.4em;
  z-index: 999999;
  background-color: white;
  top: -15px;
  left: 145px;
}
.woocommerce .checkout-buttons-wrapper .button.paypal {
  display: none !important;
  background: url("../img/button-paypal.png");
  background-size: cover;
  height: 55px;
  width: 275px;
  border: none;
  transform: scale(0.95);
}
.woocommerce .checkout-buttons-wrapper .button.paypal:active {
  filter: brightness(0.3);
}
.woocommerce .checkout-buttons-wrapper .button.paypal:hover {
  filter: brightness(0.9);
}
@media (max-width: 768px) {
  .woocommerce .donation_totals .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
    margin-right: 50px;
  }
}
