// Colors
@black: #222;
@yellow1: rgba(237, 203, 92, 1);
@yellow: rgba(218, 181, 60, 1);
@green: rgba(41, 173, 103, 1);
@darkgreen: darken(@green, 15%);
@pink: rgba(237, 83, 129, 1);
@tan: rgba(226, 169, 140, 1);
@darkBlue: rgba(21, 69, 117, 1);
@lightblue: rgba(57, 168, 199, 1);
@blue: rgba(40, 128, 155, 1);
@purple: rgba(87, 98, 168, 1);
@gray: #5a5a5a;
@red: #dc5442;
@lightgray: #9c9c9c;

// Fonts
//@Montserrat: "trend_sansone", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@Montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@Lora: "Lora", serif;
@Marker: "Rock Salt", cursive;

.text-green {
	color: @green !important;
}