//
//	Default Boilerplate Configuration Variables
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

	// Form Colors
	$fail_red:                 #C21B1C;
	$fail_light_red:           #FA9C9E;
	$success_green:            #239953;
	$success_light_green:      #D5F0E1;

	// Grayscale
	$k_black:                  #000000;
	$k_16:                     #161616;
	$k_mineshaft:              #303030;
	$k_dovegray:               #666666;
	$k_silver:                 #CCCCCC;
	$k_ddd:                    #DDDDDD;
	$k_gallery:                #EEEEEE;
	$k_whitesmoke:             #F5F5F5;
	$k_alabaster:              #FCFCFC;
	$k_white:                  #FFFFFF;
	$k_bs_gray_1:              #E3E3E3;

	// Social
	$soc_color_android:        #98CA3C;
	$soc_color_dribbble:       #EF568F;
	$soc_color_dropbox:        #3879BE;
	$soc_color_facebook:       #36609F;
	$soc_color_flickr:         #ED338F;
	$soc_color_foursquare:     #3868B2;
	$soc_color_github:         #000000;
	$soc_color_google_plus:    #DC5442;
	$soc_color_instagram:      #6B3C2E;
	$soc_color_linkedin:       #0A6C9B;
	$soc_color_pinterest:      #CB2027;
	$soc_color_skype:          #37ACE2;
	$soc_color_stack_exchange: #48A2D9;
	$soc_color_stack_overflow: #F29124;
	$soc_color_trello:         #3388BC;
	$soc_color_tumblr:         #35506B;
	$soc_color_twitter:        #2CAAE1;
	$soc_color_vimeo:          #00B9EA;
	$soc_color_windows:        #6BACBC;
	$soc_color_youtube:        #EE3537;
	$soc_color_rss:            #F58020;

	// Bootflat Color Pallet
	// - http://bootflat.github.io/documentation.html
	$bf_bluejeans_dark:        #4A89DC;
	$bf_bluejeans_light:       #5D9CEC;
	$bf_aqua_dark:             #3BAFDA;
	$bf_aqua_light:            #4FC1E9;
	$bf_mint_dark:             #37BC9B;
	$bf_mint_light:            #48CFAD;
	$bf_grass_dark:            #8CC152;
	$bf_grass_light:           #A0D468;
	$bf_sunflower_dark:        #F6BB42;
	$bf_sunflower_fh_dark:     #DE9807; // For better white-on-yellow visibility
	$bf_sunflower_light:       #FFCE54;
	$bf_bittersweet_dark:      #E9573F;
	$bf_bittersweet_light:     #FC6E51;
	$bf_grapefruit_dark:       #DA4453;
	$bf_grapefruit_light:      #ED5565;
	$bf_lavender_dark:         #967ADC;
	$bf_lavender_light:        #AC92EC;
	$bf_pinkrose_dark:         #D770AD;
	$bf_pinkrose_light:        #EC87C0;
	$bf_lightgray_dark:        #E6E9ED;
	$bf_lightgray_light:       #F5F7FA;
	$bf_mediumgray_dark:       #AAB2BD;
	$bf_mediumgray_light:      #CCD1D9;
	$bf_darkgray_dark:         #434A54;
	$bf_darkgray_light:        #656D78;

//
//	Borders Color
//
	$bp_bottom_border_color: $k_ddd !default;

//
// Content structure width/padding definitions
//
	$s_sidebar_a_width:       280px !default;
	$s_sidebar_b_width:       240px !default;
	$s_sidebar_large_width:   $s_sidebar_a_width !default; // depreciated - wtf was I thinking
	$s_sidebar_small_width:   $s_sidebar_b_width !default; // depreciated - wtf was I thinking
	$s_gutter:                20px !default;
	$s_content_min_width:     480px !default;
	$s_content_full_width:    1200px !default;
	$s_content_side_gutters:  false !default;
	$s_side_gutter:           10px !default;
	$s_side_line_height:      1.75em !default;
	$s_sidebars_enable_affix: true !default;
	$s_sidebars_affix_max:    1080px !default;
	$s_sidebars_affix_offset: 52px !default;
	$fh_aligned_img_padding:  $s_gutter !default;
	$fh_header_full_height:   202px !default;
	$fh_header_prenav_height: 150px !default;


//
// Fonts & Typography
//	- http://cssfontstack.com/ (web safe font stacks)
//
	$fh_custom_font_1:    "Open Sans", sans-serif !default;
	$fh_custom_font_2:    Verdana, Geneva, sans-serif !default;
	$fh_serif_font_1:     Georgia, Times, "Times New Roman", serif !default;
	$fh_base_font_1:      $fh_custom_font_1 !default;
	$fh_headers_font_1:   $fh_custom_font_1 !default;
	$fh_header_underline: 1px solid $bp_bottom_border_color !default;
	$fh_base_font_size:   14px !default;

//
// Selection Color
//
	$c_selection_background: #B0D7F1 !default;
	$c_selection_foreground: #222222 !default;

//
// Navbars break-point:
//
	$grid-float-breakpoint: 1100px !default;

//
//	Masonry, MixItUp, Bootstrap 3 Carousel
//  - Corresponding PHP configuration in config.php
//
	$fh_gal_masonry_single_img_width: 270px !default;
	$fh_gal_masonry_gutter:           5px !default;
	$fh_gal_mixitup_img_max_width:    230px !default;
	$fh_gal_bs3_carousel_max_width:   640px !default;
	$fh_gal_bs3_carousel_max_height:  480px !default;

//
//	Folkhack WooCommerce SASS Configuration Variables
//
	$fh_woo_checkout_two_col:               true !default;
	$fh_woo_product_padding:                true !default;
	$fh_woo_width_restrict:                 900px !default;
	$fh_woo_product_height_browse:          330px !default;
	$fh_woo_product_category_height_browse: 290px !default;
	$fh_woo_product_max_width_browse:       240px !default;

//
//	Folkhack Gravity Forms SASS Configuration Variables
//
	$fh_gf_image_select_unselected_col:  $k_silver !default;
	$fh_gf_image_select_selected_bg_col: #D1E8EE !default;
	$fh_gf_image_select_li_width:        150px !default;
	$fh_gf_image_select_li_height:       240px !default;

//
//	Bottom responsive actions
//	- Sidr sidebars, back-to-top
//
	$fh_sidr_bottom_actions_opacity: 0.3 !default;
	$fh_sidr_widths: 280px !default;

//
//	Pathing to parent theme
//
	$fh_boilerplate_font_path: '../fonts' !default;

//
//  Plugin-specific locations needed by SASS
//
$fh_gf_plugin_img_location: '/content/plugins/gravity-forms/images' !default;

//
//	Overrides, includes
//
	$icon-font-path: $fh_boilerplate_font_path + '/bootstrap/';
	$fa-font-path:   $fh_boilerplate_font_path + '/font-awesome/';
	$OpenSansPath:   $fh_boilerplate_font_path + '/open-sans/';
