//
//	Custom login page styling
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

// Custom logo (img/logo.png) for login page
.login h1 a {
	background: none;
	background: url( ../img/logo.png ) no-repeat center;
	background-size: contain;
	height: 100px;
	width: 320px;
}

// Hide forgot password
#nav { display: none; }