//
//	WP Audio/video features styling
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Audio
//
.mejs-audio {
	max-width: 280px;
	margin: 0 auto 10px auto;
}
.wp-playlist {
	border: 0 !important;
	background: $k_whitesmoke !important;
	border-radius: 4px;
	max-width: 420px;
	margin: 0 auto 20px auto !important;
	.mejs-audio {
		max-width: 100% !important;
		width: auto !important;
	}
}
.wp-playlist-item {
	display: table-row !important;
}
.wp-playlist-caption {
	display: table-cell !important;
	padding: 0 15px 7px 7px !important;
	vertical-align: middle;
	white-space: normal !important;
	span { white-space: normal !important; }
}
.wp-playlist-tracks {
	display: table !important;
	width: 100%;
	.wp-playlist-caption {
		padding: 7px 15px 7px 7px !important;
	}
}
.wp-playlist-item-length {
	position: static !important;
	display: table-cell !important;
	padding-right: 7px !important;
	text-align: right;
	vertical-align: middle;
}
.wp-playlist-current-item {
	height: auto !important;
}

//
//	Videos
//
.wp-video-playlist,
.wp-video,
.mejs-video,
.mejs-overlay { max-width: 100% !important; }
.mejs-poster { background-size: auto !important; }
.me-cannotplay { display: none; }
.wp-video {
	object,	embed,	video,	iframe { max-width: 100%; }
}
.wp-video {
	margin: 0 auto 20px auto;
}