//
//	WP comments
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

#comments-title { text-align: center; }
section.commentlist {

	div.parent {
		& > .reply { margin-bottom: 20px; }
	}
	div.comment,
	div.pingback {
		background: $k_whitesmoke;
		border: 1px solid $k_silver;
		margin-bottom: 5px;
		margin-left: 5px;
		padding: 10px;
		&.odd { background: $k_gallery; }
		&.depth-1 { margin-left: 0; }
		.comment { box-shadow: -2px -2px 4px #E0E0E0; }

		//	Comment Author
		.comment-author {
			border-bottom: 1px solid $bp_bottom_border_color;
			clear: both;
			min-height: 50px;
			margin-bottom: 5px;
			padding-left: 5px;
			padding-right: 5px;
			.avatar { float: right; }
			.says { display: none; }
			cite {
				display: block;
				font-size: 23px;
				padding-bottom: 10px;
				padding-top: 5px;
			}
		}

		//	Comment Meta
		.comment-meta {
			border-bottom: 1px solid $bp_bottom_border_color;
			font-size: 80%;
			margin-bottom: 10px;
			padding-bottom: 5px;
		}

		p:last-of-type { margin-bottom: 10px; }
	}
}

// Hide default form submit
#respond {
	border-bottom: 1px solid $bp_bottom_border_color;
	padding-bottom: 15px;
	margin-bottom: 15px;
	.form-submit { display: none; }
	// Code
	code {
		display: block;
		margin-top: 5px;
		white-space: normal;
	}
}