//
//	Footer + footer widgets
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

footer {

	background: $k_mineshaft;
	color: $k_silver;
	// max-width: $s_content_full_width;
	padding: $s_gutter $s_gutter ( $s_gutter * 4 ) $s_gutter;

	@if $s_content_side_gutters == true {
		margin: 0 $s_gutter;
	} @else {
		margin: 0 auto;
	}

	a { color: $k_whitesmoke; }

	.bottom p:last-child { margin: 0; }
	// Footer widget columns
	.foot_widget {
		margin: 0 0 $s_gutter 0;
		h4:first-child { margin-top: 0; }
		h4 {
			border-bottom: 1px $k_dovegray dotted;
			color: $k_white;
			padding: 0 0 ( $s_gutter / 2 ) 0;
		}
		ul { padding-left: $s_gutter; }
		.segment>ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}
		li {
			line-height: $s_side_line_height;
			padding: 0 0 $s_side_gutter 0;
		}
		li:first-child { padding: 0 0 $s_side_gutter 0; }
		li:last-child { border-bottom: none; }
		li:only-child {
			border-bottom: none;
			padding: 0;
		}
		li li,
		li li:first-child,
		li li:last-child,
		li li:only-child {
			border-bottom: none;
			list-style: disc;
			padding: 0;
		}
	}
	.bottom {
		// Margin and padding to fix border position/width
		border-top: 1px $k_dovegray dotted;
		margin: 0;
		padding: $s_gutter 0 0 0;
	}
}