//
//	Masonry, MixItUp, and BS3 Carousel Galleries
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	General
//
.gallery_wrap {
	max-width: 1200px;
	margin: 0 auto;
}

//
//	Masonry
//
.masonry_wrap {
	margin: 0 auto;
	padding: $fh_gal_masonry_gutter 0 0 $fh_gal_masonry_gutter;
	.item { margin-bottom: $fh_gal_masonry_gutter; }
	.item, .item img { width: $fh_gal_masonry_single_img_width; }
	.wide, .wide img { width: ( $fh_gal_masonry_single_img_width * 2 + $fh_gal_masonry_gutter ); }
}
@media ( max-width: $screen-md ) {
	.masonry_wrap .item,
	.masonry_wrap .item img,
	.masonry_wrap .wide,
	.masonry_wrap .wide img {
		height: auto;
		max-width: $fh_gal_masonry_single_img_width;
		width: $fh_gal_masonry_single_img_width;
	}
}

//
//	MixItUp
//
.mixitup_grid {
	font-size: .1em;
	position: relative;
	list-style-type: none;
	text-align: justify;
	.mix {
		display: none;
		width: 19.2%;
		// margin-bottom: 1%;
		overflow: hidden;
		img {
			width: 100%;
			max-width: $fh_gal_mixitup_img_max_width !important;
		}
	}
	.gap {
		display: inline-block;
		width: 19.2%;
		height: 0;
	}
	@media ( max-width: $screen-sm ) {
		.mix, .gap {
			height: auto;
			width: 32.6666666%;
		}
	}
	@media ( max-width: $screen-xs ) {
		.mix, .gap {
			height: auto;
			width: 49.5%;
		}
	}
}

//
//	Bootstrap 3 Carousel
//
.bs3_carousel,
.bs3_carousel .carousel-inner,
#bs3_carousel,
#bs3_carousel .carousel-inner {
	max-height: $fh_gal_bs3_carousel_max_height !important;
	max-width: $fh_gal_bs3_carousel_max_width !important;
	overflow: hidden;
}
.bs3_carousel, #bs3_carousel {
	margin: 0 auto;
	a { color: $k_white; }
}

//
//	WordPress default 1-9 Column 3.9 Gallery
//	(based off of twenty-fourteen)
//
.gallery {
	margin: 0 auto 20px auto;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	@include clearfix();
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	img {
		max-width: 100%;
		width: auto !important;
	}
}
.carousel-indicators {
	bottom: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin: 0 0 4px 0;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery-columns-1 .gallery-item {
	// width: 100%;
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: unquote("-webkit-calc(50% - 4px)");
	max-width: unquote("        calc(50% - 4px)");
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: unquote("-webkit-calc(33.3% - 4px)");
	max-width: unquote("        calc(33.3% - 4px)");
}
.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: unquote("-webkit-calc(25% - 4px)");
	max-width: unquote("        calc(25% - 4px)");
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: unquote("-webkit-calc(20% - 4px)");
	max-width: unquote("        calc(20% - 4px)");
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: unquote("-webkit-calc(16.7% - 4px)");
	max-width: unquote("        calc(16.7% - 4px)");
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: unquote("-webkit-calc(14.28% - 4px)");
	max-width: unquote("        calc(14.28% - 4px)");
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: unquote("-webkit-calc(12.5% - 4px)");
	max-width: unquote("        calc(12.5% - 4px)");
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: unquote("-webkit-calc(11.1% - 4px)");
	max-width: unquote("        calc(11.1% - 4px)");
}

@media( max-width: $screen-md ) {
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 15%;
		max-width: unquote("-webkit-calc(16.7% - 4px)");
		max-width: unquote("        calc(16.7% - 4px)");
		margin: 0 4px 4px 0 !important;
		&:nth-of-type(6n) { margin: 0 0 4px 0 !important; }
	}
}

@media( max-width: $screen-sm ) {
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 23%;
		max-width: unquote("-webkit-calc(25% - 4px)");
		max-width: unquote("        calc(25% - 4px)");
		margin: 0 4px 4px 0 !important;
		&:nth-of-type(6n) { margin: 0 4px 4px 0 !important; }
		&:nth-of-type(4n) { margin: 0 0 4px 0 !important; }
	}
}

@media( max-width: $screen-xs ) {
	.gallery-columns-1 .gallery-item,
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 100%;
		max-width: 100%;
		margin: 0 0 4px 0 !important;
	}
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: $k_mineshaft;
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 11px;
	left: 0;
	line-height: 1.5;
	margin: 0;
	max-height: 70%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

// .gallery-columns-7 .gallery-caption,
// .gallery-columns-8 .gallery-caption,
// .gallery-columns-9 .gallery-caption {
// 	display: none;
// }