//
//	General WP/Boilerplate Styling
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Back-to-top button
//
#fh_backtotop_btn {
	display: none; // Handled by core.js
	position: fixed;
	bottom: 15px;
	left: 50%;
	margin-left: -25px;
	opacity: $fh_sidr_bottom_actions_opacity;
}

//
//	Admin bar show/hide feature
//
#wpadminbar {
	background: $k_mineshaft;
	background: rgba(0,0,0,0.1);
	bottom: 0;
	width: 36px;
	min-width: 36px;
	overflow: hidden;
	top: auto;
	z-index: 9999999 !important;
	#wp-admin-bar-root-default,
	#wp-admin-bar-top-secondary {
		li { display: none; }
		li#wp-admin-bar-wp-logo { display: block; }
	}
	#wp-admin-bar-wp-logo .ab-sub-wrapper { display: none; }
}
#wpadminbar.flyout {
	background: $k_mineshaft;
	background: rgba(0,0,0,0.6);
	width: 100% !important;
	min-width: 600px;
	bottom: auto;
	top: 0;
	z-index: 999999 !important;
	#wp-admin-bar-root-default,
	#wp-admin-bar-top-secondary {
		li { display: block !important; }
	}
}
@media screen and ( max-width: 782px ) {
	html #wpadminbar {
		min-width: 54px;
		width: 54px;
	}
	html #wpadminbar.flyout {
		min-width: 300px;
		width: 100%;
	}
}
@media screen and ( max-width: 600px ) {
	html #wpadminbar {
		position: fixed !important;
	}
	html #wpadminbar.flyout {
		min-width: 300px;
		width: 100%;
	}
}

//
//	Navbar z-index fix
//
.navbar { z-index: 5000; }

//
//	Attachment page center attachement
//
p.attachment { text-align: center; }

//
//	Dropdown menus text-align left
//
//	.dropdown-menu { text-align: left !important; }
.dropdown-menu { text-align: left; }

//
//	Change Selection Color
//
::-moz-selection {
	background-color: $c_selection_background;
	color: $c_selection_foreground;
}
::selection {
	background-color: $c_selection_background;
	color: $c_selection_foreground;
}

//
//	Well last-children
//
.well p:last-child, .well table:last-child { margin-bottom: 0; }

//
//	Modals
//
.modal-footer { margin-top: 0; }
.modal-body p:last-child { margin-bottom: 0; }

//
//	Author block styling
//
#author_block {

	background: $k_whitesmoke;
	border-radius: 7px;
	max-width: 600px;
	margin: 0 auto 20px auto;
	padding: 20px;
	.image img {
		border: 1px $k_silver solid;
		border-radius: 7px;
		margin-bottom: 5px;
	}
	.socials {
		a {
			display: inline-block;
			margin-bottom: 5px;
		}
		.fa {
			border-radius: 5px;
			font-size: 14px;
			line-height: 22px;
			height: 23px;
			width: 23px;
		}
		// margin: 10px 0 5px 0;
	}
	.author_img_right {
		max-width: 150px;
		text-align: center;
		float: right;
		margin-left: 20px;
		@media (max-width: $screen-xs) {
			float: none;
			margin: 0 auto 20px auto;
		}
	}
	.social_icon:hover { top: -2px; }
	h3 { margin-top: 0; }
	p:last-of-type { margin-bottom: 0; }
}

//
//	Breadcrumbs
//
#fh_crumbs {
	font-family: $fh_custom_font_2;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px $bp_bottom_border_color solid;
	margin-top: -10px;
}

//
//	HR's
//
hr { border-top: 1px solid $bp_bottom_border_color; }
hr.small {
	margin-top: ($s_gutter / 2);
	margin-bottom: ($s_gutter / 2);
}

//
//	noscript support for disabled JS warning
//
noscript {
	display: block;
	margin: $s_gutter auto;
	max-width: 400px;
}

//
//	Button transition time on hover
//
.btn {
	-webkit-transition: all 250ms;
	-moz-transition:    all 250ms;
	-o-transition:      all 250ms;
	transition:         all 250ms;
}

//
//	Search page searchbox
//
#content_search_form {
	margin: 20px auto;
	max-width: 420px;
}