//
//	Header
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

header.page_header {

	height: $fh_header_full_height;

	@if $s_content_side_gutters == true {
		margin: 0 $s_gutter;
	}

	h1 { margin: 0; }
	.vertical_align_wrap {
		display: table;
		height: $fh_header_prenav_height;
		overflow: hidden;
		width: 100%;
	}
	.left,
	.right {
		display: table-cell;
		vertical-align: middle;
	}
	.right { text-align: right; }
	.navbar { margin-bottom: 0; }
}
#head_search {
	margin: $s_gutter 0;
	max-width: 220px;
	float: right;
}
#head_top_nav {

	margin: 0 0 ( $s_gutter / 4 ) 0;
	.menu { float: right; }
	// Fix padding for a elements
	.menu > li > a { padding: ( $s_gutter / 2 ) }
	// Remove bg from hover/focus/etc state
	.menu > li > a:hover,
	.menu > li > a:active,
	.menu > li > a:focus,
	.menu > li.open > a,
	.menu > li.active > a
	{
		color: inherit !important;
		background: none;
	}
	// Removes first/last child padding
	.menu>li:first-child>a { padding-left: 0; }
	.menu>li:last-child>a { padding-right: 0; }
}

// Responsive header
@media ( max-width: $s_first_resize ) {

	header {

		height: auto;

		.vertical_align_wrap {

			height: auto;

			@if $s_content_side_gutters == false {

				padding: 0 $s_gutter;
			}
		}
	}
}

@media ( max-width: $screen-sm ) {

	// Fix header elements
	header.page_header {
		height: auto;
		h1 { margin: ( $s_gutter / 2 ) 0; }
		.left,
		.right {
			display: block;
			text-align: center;
		}
	}
	.vertical_align_wrap {
		display: block;
		height: auto;
	}
	#head_top_nav { display: inline-block; }
	#head_top_nav .menu { float: none; }
	#head_search {
		float: none;
		margin: ( $s_gutter ) auto;
	}
	#head_socials .social_icon .fa { font-size: 1.2em; }
	#social_share_btns {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}