//
//	Holy Grail layout library
//	- One full column
//	- Two columns (right/left sidebar)
//	- Three columns (right/left sidebars, content centered)
//	- Three columns (right/left sidebars, content to right or left)
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

// Pixel safety that determines first 100% resize
//	- Gutters * 2 + vertical scrollbar width
$s_resize_safety: ( $s_gutter * 2 ) + 15px;

//
//	Setup first resize for 100%
//
$s_first_resize: if( unit( $s_content_full_width ) == '%',
	$screen-lg + $s_resize_safety,
	$s_content_full_width + $s_resize_safety
);

// Body wrap
.body_wrap {

	width: $s_content_full_width;
	margin: 0 auto;
	overflow: hidden;

	// Responsive stretching of body_wrap
	@media ( max-width: ( $s_first_resize ) ) { width: 100%; }
}

// Sidebar gutters and segments
.gutter_aside {
	padding: $s_gutter;
	.segment { margin: 0 0 $s_gutter 0; }
	.segment:last-child { margin: 0; }
    .segment table:last-child { margin: 0; }
}

// Conditional for enabling side gutters
@if $s_content_side_gutters == false {

	#main {
		margin-left: -$s_gutter;
		margin-right: -$s_gutter;

		@media ( max-width: ( $s_first_resize ) ) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

//
//	Content Lay-out Mixins
//
// One full content
@mixin one_full( $gutter ) {
	#content {
		width: 100%;
		.gutter_content { padding: $gutter; }
	}
}

// One content, one sidebar justified right
@mixin two_right( $sidebar_width, $gutter ) {

	$padded_right_width: $sidebar_width + $gutter * 2;

	.gutter_main {
		float: left;
		width: 100%;
	}
	#content {
		float: left;
		width: 100%;
		.gutter_content { padding: $gutter $padded_right_width $gutter $gutter; }
	}
	#sidebar_right {
		float: right;
		margin-left: - ( $padded_right_width + $gutter );
		width: $padded_right_width;
	}

	@media ( max-width: $padded_right_width + $s_content_min_width ) {
		#content {
			float: none;
			.gutter_content { padding: $gutter; }
		}
		#sidebar_right {
			float: none;
			margin: 0 auto;
			width: $sidebar_width;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		.sidr_btns { display: block; }
	}
}

// One content, one sidebar justified left
@mixin two_left( $sidebar_width, $gutter ) {

	$padded_left_width: $sidebar_width + $gutter * 2;

	.gutter_main {
		float: left;
		width: 100%;
	}
	#content {
		float: right;
		width: 100%;
		.gutter_content { padding: $gutter $gutter $gutter $padded_left_width; }
	}
	#sidebar_left {
		float: left;
		margin-right: - ( $padded_left_width + $gutter );
		width: $padded_left_width;
	}

	@media ( max-width: $padded_left_width + $s_content_min_width ) {
		#content {
			float: none;
			.gutter_content { padding: $gutter; }
		}
		#sidebar_left {
			float: none;
			margin: 0 auto;
			width: $sidebar_width;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		.sidr_btns { display: block; }
	}
}

// One content, two sidebars justified right
@mixin three_right( $sidebar_left_width, $sidebar_right_width, $gutter ) {

	$padded_left_width: $sidebar_left_width + $gutter;
	$padded_right_width: $sidebar_right_width + $gutter * 2;
	$padded_sidebars_width: $padded_left_width + $padded_right_width;

	.gutter_main {
		float: left;
		width: 100%;
	}
	#content {
		float: left;
		width: 100%;
		.gutter_content { padding: $gutter $padded_sidebars_width $gutter $gutter; }
	}
	#sidebar_left {
		float: left;
		margin-left: -$padded_sidebars_width;
		width: $padded_left_width;
		.gutter_aside { padding: $gutter 0 $gutter $gutter; }
	}
	#sidebar_right {
		float: left;
		margin-left: -$padded_right_width;
		width: $padded_right_width;
	}

	@media ( max-width: $padded_sidebars_width + $s_content_min_width ) {
		#content {
			float: none;
			.gutter_content { padding: $gutter; }
		}
		#sidebar_right,
		#sidebar_left {
			float: left;
			margin-left: 0;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		#sidebar_left {
			margin: 0 $gutter;
			width: $sidebar_left_width;
		}
		#sidebar_right { width: $sidebar_right_width; }
		.sidr_btns { display: block; }
	}
	@media ( max-width: $sidebar_left_width + $sidebar_right_width + $gutter * 3 ) {
		#sidebar_right,
		#sidebar_left {
			float: none;
			margin: 0 auto;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		#sidebar_left { width: $sidebar_left_width; }
		#sidebar_right { width: $sidebar_right_width; }
		.sidr_btns { display: block; }
	}
}

// One content, two sidebars justified left
@mixin three_left( $sidebar_left_width, $sidebar_right_width, $gutter ) {

	$padded_left_width: $sidebar_left_width + $gutter;
	$padded_right_width: $sidebar_right_width + $gutter * 2;
	$padded_sidebars_width: $padded_left_width + $padded_right_width;

	.gutter_main {
		float: left;
		width: 100%;
	}
	#content {
		float: right;
		width: 100%;
		.gutter_content { padding: $gutter $gutter $gutter $padded_sidebars_width; }
	}
	#sidebar_left {
		float: right;
		margin-right: -$padded_left_width;
		width: $padded_left_width;
		.gutter_aside { padding: $gutter 0 $gutter $gutter; }
	}
	#sidebar_right {
		float: right;
		margin-right: -$padded_sidebars_width;
		width: $padded_right_width;
	}

	@media ( max-width: $padded_sidebars_width + $s_content_min_width ) {
		#content {
			float: none;
			.gutter_content { padding: $gutter; }
		}
		#sidebar_right,
		#sidebar_left {
			float: left;
			margin-right: 0;
			margin-left: $gutter;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		#sidebar_left { width: $sidebar_left_width; }
		#sidebar_right { width: $sidebar_right_width; }
		.sidr_btns { display: block; }
	}
	@media ( max-width: $sidebar_left_width + $sidebar_right_width + $gutter * 3  ) {
		#sidebar_right,
		#sidebar_left {
			float: none;
			margin: 0 auto;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		.sidr_btns { display: block; }
	}
}

// One content, two sidebars wrapping content
@mixin holy_grail( $sidebar_left_width, $sidebar_right_width, $gutter ) {

	// Based on alistapart.com's Holy Grail layout article
	// - http://alistapart.com/article/holygrail

	$padded_left_width: $sidebar_left_width + $gutter * 2;
	$padded_right_width: $sidebar_right_width + $gutter * 2;
	$padded_sidebars_width: $padded_left_width + $padded_right_width;

	.gutter_main { padding: 0 $padded_right_width 0 $padded_left_width; }
	#content .gutter_content { padding: $gutter 0; }
	#content,
	#sidebar_left,
	#sidebar_right {
		position: relative;
		float: left;
	}
	#content { width: 100%; }
	#sidebar_left {
		width: $padded_left_width;
		right: $padded_left_width;
		margin-left: -100%;
	}
	#sidebar_right {
		width: $padded_right_width;
		margin-right: -$padded_right_width;
	}
	* html #left { left: $padded_right_width; } // IE6 Fix

	@media ( max-width: $padded_sidebars_width + $s_content_min_width ) {
		.gutter_main { padding: 0; }
		#content {
			float: none;
			.gutter_content { padding: $gutter; }
		}
		#sidebar_right,
		#sidebar_left {
			float: left;
			right: 0;
			margin-left: $gutter;
			margin-right: 0;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		#sidebar_left { width: $sidebar_left_width; }
		#sidebar_right { width: $sidebar_right_width; }
		.sidr_btns { display: block; }
	}
	@media ( max-width: $sidebar_left_width + $sidebar_right_width + $gutter * 3  ) {
		#sidebar_right,
		#sidebar_left {
			float: none;
			margin: 0 auto;
			.gutter_aside { padding: 0 0 $gutter 0; }
		}
		.sidr_btns { display: block; }
	}
}

// One Full
//	(content)
.one_full {
	@include one_full(
		$s_gutter
	);
}

// Two Right - Large
// 	(content - large sidebar)
.two_right_1 {
	@include two_right(
		$s_sidebar_a_width,
		$s_gutter
	)
}

// Two Right - Small
// 	(content - small sidebar)
.two_right_2 {
	@include two_right(
		$s_sidebar_b_width,
		$s_gutter
	)
}

// Two Left - Large
// 	(large sidebar - content)
.two_left_1 {
	@include two_left(
		$s_sidebar_a_width,
		$s_gutter
	)
}

// Two Left - Small
// 	(small sidebar - content)
.two_left_2 {
	@include two_left(
		$s_sidebar_b_width,
		$s_gutter
	)
}

// Three Right - Large left, small right
// 	(content - large sidebar - small sidebar)
.three_right_1 {
	@include three_right(
		$s_sidebar_a_width,
		$s_sidebar_b_width,
		$s_gutter
	);
}

// Three Right - Small left, large right
// 	(content - small sidebar - large sidebar)
.three_right_2 {
	@include three_right(
		$s_sidebar_b_width,
		$s_sidebar_a_width,
		$s_gutter
	);
}

// Three Left - Large left, small right
// 	(large sidebar - small sidebar - content)
.three_left_1 {
	@include three_left(
		$s_sidebar_a_width,
		$s_sidebar_b_width,
		$s_gutter
	);
}

// Three Left - Small left, large right
//	(small sidebar - large sidebar - content)
.three_left_2 {
	@include three_left(
		$s_sidebar_b_width,
		$s_sidebar_a_width,
		$s_gutter
	);
}

// Three Wrap (Holy Grail) - Large left, small right
// 	(large sidebar - content - small sidebar)
.three_wrapped_1 {
	@include holy_grail(
		$s_sidebar_a_width,
		$s_sidebar_b_width,
		$s_gutter
	);
}

// Three Wrap (Holy Grail) - Small left, large right
// 	(small sidebar - content - large sidebar)
.three_wrapped_2 {
	@include holy_grail(
		$s_sidebar_b_width,
		$s_sidebar_a_width,
		$s_gutter
	);
}

@media ( max-width: $screen-xs ) {
	#content {
		.gutter_content { padding: ( $s_gutter / 2 ) !important; }
	}
}