//
//	Image content alignment, sizing, and captions
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

$align_right_margin:  $fh_aligned_img_padding 0 $fh_aligned_img_padding $fh_aligned_img_padding;
$align_left_margin:   $fh_aligned_img_padding $fh_aligned_img_padding $fh_aligned_img_padding 0;
$align_center_margin: $fh_aligned_img_padding auto;

img {
	max-width: 100%;
	height: auto;
}

.aligncenter {
    display: block;
    margin: $align_center_margin;
}
.alignright {
    float: right;
    margin: $align_right_margin;
}
.alignleft {
    float: left;
    margin: $align_left_margin;
}
.alignleft,
.alignright {
	max-width: 70% !important;
	text-align: center;
	@media( max-width: $screen-sm ) {
		max-width: 45% !important;
	}
	@media( max-width: $screen-xs ) {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 90% !important;
	}
}
.alignnone { max-width: 100% !important; }

// .size-full {
// 	width: 100% !important;
// 	max-width: 100% !important;
// }

.wp-caption {
    background: $k_whitesmoke;
    border: 1px solid $k_ddd;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 0;
    text-align: center;

    figcaption.wp-caption-text {
		font-size: 90%;
		margin: 15px;
	}
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
}

div.article_thumb.alignleft,
div.article_thumb.alignright {
	margin-top: 0;
}