//
//	General Boilerplate Mix-ins
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

@mixin fh_header_underline( $padding ) {
	border-bottom: $fh_header_underline;
	margin-bottom: $padding;
	padding-bottom: $padding;
}

// @mixin fh_vertical_align {
// 	position: relative;
// 	top: 50%;
// 	-webkit-transform: translateY(-50% );
// 	-moz-transform: translateY(-50% );
// 	-ms-transform: translateY(-50% );
// 	-o-transform: translateY(-50% );
// 	transform: translateY(-50% );
// }