//
//	Navigation elements
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Navbar brand
//
nav .navbar-brand {
	font-size: inherit;
}

//
//	No border radius
//
.navbar { border-radius: 0; }

//
//	Navbar affix
//
#nav_affix.affix {
	position: fixed;
	top: 0; // Set by JS on load (checks headers/admin bars)
	z-index: 5500;

	// Set proper widths on affixed navigation
	@if unit( $s_content_full_width ) == '%' {

		width: $s_content_full_width;

		@if $s_content_side_gutters {

			.nav_affix_side_gutters {

				padding-left: $s_gutter * 2;
				padding-right: $s_gutter * 2;
				margin-left: -( $s_gutter * 2 );
			}

		}

	} @else {

		@if $s_content_side_gutters {

			width: $s_content_full_width - $s_gutter * 2;

		} @else {

			width: $s_content_full_width;
		}
	}
}

//
//	Navigation affix responsive 100% stretch
//
@media ( max-width: $s_first_resize ) {

	#nav_affix.affix {

		width: 100% !important;

		@if $s_content_side_gutters {

			.nav_affix_side_gutters {

				padding-left: $s_gutter * 2;
				padding-right: $s_gutter * 2;
				margin-left: -( $s_gutter * 2 );
			}
		}
	}
}