//
//	Posts/Articles
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Article
//	- Padding, Meta, Actions, Categories & Tags
//
article {
	margin: 0 0 ( $s_gutter / 2 ) 0;
	.article_thumb_full img {
		max-width: 100%;
		height: auto;
	}
}
article:last-of-type { margin: 0; }

.article_meta {
	a { color: $k_black; }
	border-bottom: 1px $bp_bottom_border_color solid;
	color: $k_dovegray;
	font-size: 0.8em;
	font-family: $fh_custom_font_2;
	margin: 0 0 1.6em 0;
	padding: 0  0 1.6em 0;
	text-transform: uppercase;

	time { float: left; }
	.author_right { float: right; }

	@media( max-width: $screen-xs ) {

		.author_right, time {
			display: block;
			float: none;
		}
		time { margin-bottom: 4px; }
	}
}

// Fix article_meta padding on aside post format and empty titles
.fh_empty_title, .fh_post_format_aside {
	.article_meta { padding: 0.8em 0 1.6em 0; }
}


//
//	Center content on attachment pages
//
.fh_post_type_attachment .the_content { text-align: center; }

//
//	Article actions
//
.article_actions {
	color: $k_dovegray;
	font-size: 11px;
	font-family: $fh_custom_font_2;
	letter-spacing: 1px;
	text-transform: uppercase;
	.btn { font-size: 11px; }
	p { margin: 0 0 5px 0; }
	p:last-child { margin: 0; }
	.read_more { float: right; }
	.post_taxonomy { }
}
.article_excerpt p:last-child { margin-bottom: 0; }

//
//	Article loop
//
article.loop {
	margin: 0 0 ( $s_gutter * 2 ) 0;
	h2 { @include fh_header_underline(10px); }
	.article_meta {
		margin-bottom: 1em;
		padding-bottom: 1em;
		padding-top: 0;
	}

	@media( max-width: $screen-md ) {
		margin: 0 0 $s_gutter 0;
	}
}

//
//	Article Sticky
//
article.sticky {
	background: $k_whitesmoke;
	border-radius: 5px;
	padding: $s_gutter;
	h2 { margin-top: 0; }
}

//
//	Link post format
//
.display_link {
	font-size: 1em;
	margin-bottom: $s_gutter;
	text-align: center;
	width: 100%;
	a {
		border: 1px $k_silver dotted;
		border-radius: 10px;
		display: inline-block;
		padding: ( $s_gutter / 2 ) $s_gutter;
	}
	a:hover { background: $k_alabaster; }
	.fa { margin: 0 5px 0 0; }
	.fa:hover { text-decoration: none; }
}

//
//	Status post format
//
#fh_status {
	background: $k_whitesmoke;
	border: 1px solid $k_ddd;
	font-family: "Courier New", Courier, monospace;
	padding: 15px;
	margin: 0 auto;
	max-width: 400px;
}

//
//	Taxonomy
//
.taxonomy {
	float: left;
	max-width: 75%;
}

//
//	Twitter Embeds
//
.twitter-tweet { margin: 0 auto !important; }

//
//	Respnosive Fixes
//
@media ( max-width: $screen-sm ) {

	// Fix article meta
	.taxonomy {
		float: none;
		text-align: center;
		width: 100%;
		max-width: 100%;
		.taxonomy_label {
			display: block;
			margin-bottom: 2px;
		}
		.btn { margin-bottom: 4px; }
	}
	.article_actions {
		#social_share_btns { margin-top: 5px; }
	}
	#blog_article_nav {
		a {
			float: none !important;
			margin-bottom: 4px;
		}
	}
}

@media ( max-width: $screen-xs ) {

	article { margin-bottom: 0; }

	.article_actions {
		.read_more, .post_taxonomy {
			float: none;
			display: block;
			text-align: center;
		}
		.read_more { margin-bottom: 10px; }
	}
}