//
//	Print overrides
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

@media print {

	//
	//	Hides
	//
	#head_top_nav,      // Header Top Nav
	#head_socials,      // Header Socials
	#head_search,       // Header Search Form
	nav,                // Navs
	.navbar,            // Navs
	aside,              // Sidebars
	.foot_widget,       // Footer Widgets
	.search_form,       // Search Form
	.social_icon,       // Social Icons
	#wrap_paginate,     // Pagination
	#social_share_btns, // Social Sharing Buttons
	#author_block,      // Author Block
	#blog_article_nav,  // Article Nav
	.sidr,              // Sidr Responsive Sidebars
	.sidr_btns,         // Sidr Buttons
	#fh_backtotop_btn,  // Back-to-top button
	#respond            // Comment form
	{
		display: none !important;
		visibility: hidden !important;
	}

	//
	//	Print information styling
	//	- QR code, URL, and render date information below header
	//	  when printing
	//
	#print_information {
		display: block !important;
		visibility: visible !important;
		text-align: left !important;
	}
	#print_info_table {
		width: 100%;
		td { vertical-align: middle !important; }
		p { margin-bottom: 0; }
		h4 { margin-top: 0; }
	}

	//
	//	"Read More" button overrides
	//	- Adds "(read more @ http://sadf.com)" to read more buttons
	//
	.read_more {
		display: inline-block;
		float: none !important;
		margin-bottom: 10px;
		text-align: center;
		width: 100%;
		.btn {
			background: $k_white;
			border-color: $k_white;
			color: $k_black;
		}
		.btn { color: $k_black; }
		a[href]:after {
			content: "(read more @ " attr(href) ")";
			text-transform: none !important;
		}
		.fa { display: none; }
	}

	//
	//	Header overrides
	//
	header {
		height: auto !important;
		h1 {
			margin-bottom: 20px !important;
			text-align: center;
			width: 100%;
		}
		.left, .right { float: none; }
	}

	//
	//	Footer overrides
	//
	footer {
		background: $k_white;
		color: $k_black;
		a { color: $k_black; }
		.bottom {
			border-top: none !important;
			padding-top: 0 !important;
		}
	}

	//
	//	Misc. overrides
	//
	a[href]:after { content: none; }
	.post_taxonomy {
		text-align: center;
		width: 100%;
	}
}