//
//  Sidr fly-out responsive sidebars
//
//  ╔═══════════════════════════════════╗
//  ║ © Copyright 2014 Folkhack Studios ║
//  ╚═══════════════════════════════════╝
//

// Hide the Sidr buttons for the sidebars if applicable
.sidr_btns { display: none; }

.sidr {

    background: $k_whitesmoke;
    padding: 20px;
    -webkit-box-shadow: 0 0 30px $k_black;
    -moz-box-shadow: 0 0 30px $k_black;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5 );
    border-radius: 0;
    display: none;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    padding-bottom: 50px;
    position: absolute;
    position: fixed;
    top: 0;
    width: $fh_sidr_widths;
    z-index: 10000;

    .sidr-inner { padding: 0; }

    &.right {
        left: auto;
        right: -$fh_sidr_widths;
    }

    &.left {
        left: -$fh_sidr_widths;
        right: auto;
    }

    .well {
        padding: 0;
        border: none;
        background: transparent;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $k_silver;
    }
    .well:last-child { border-bottom: none; }
}
.sidr-class-well {
    margin-bottom: 0 !important;
}
#fh_flyout_right_btn,
#fh_flyout_left_btn {
    opacity: $fh_sidr_bottom_actions_opacity;
    position: fixed;
    bottom: 15px;
    z-index: 20000;
}
#fh_flyout_right_btn { right: 15px; }
#fh_flyout_left_btn { left: 15px; }