//
//	Sidebars
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	Sidebars
//	- Must be outside of .body_wrap due to sidr
//
aside,
.sidr {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		h4:first-child { margin-top: 0; }
		ul { padding-left: $s_gutter; }
		li {
			border-bottom: 1px $bp_bottom_border_color solid;
			line-height: $s_side_line_height;
			padding: ( $s_side_gutter * 2 ) 0 ( $s_side_gutter * 2 ) 0;
		}
		li:first-child {
			padding: 0 0 ( $s_side_gutter * 2 ) 0;
		}
		li:last-child { 
			border-bottom: none;
			padding: ( $s_side_gutter * 2 ) 0 0 0;
		}
		li:only-child {
			border-bottom: none;
			padding: 0;
		}
		li ul li,
		li ul li:first-child,
		li ul li:last-child,
		li ul li:only-child {
			border-bottom: none;
			list-style: disc;
			padding: 0;
		}
	}
}

//
//	Sidebar gutters and segments
//
.gutter_aside {
	padding: $s_gutter;
	.segment { margin: 0 0 $s_gutter 0; }
	.segment:last-child { margin: 0; }
	.segment table:last-child { margin: 0; }
}

//
//  Sidebar Affix - Buggy - needs more testing
//  - TODO - rename large/small, a/b
//
// @if( $s_sidebars_enable_affix ) {

//     div.gutter_aside {
//         &.affix {
//             position: static !important;
//             @media( min-width: $s_sidebars_affix_max ) {
//                 position: fixed !important;
//                 top: $s_sidebars_affix_offset;
//             }
//         }
//     }
//     @media( min-width: $s_sidebars_affix_max ) {
//         .two_right_1,
//         .two_left_2,
//         .three_wrapped_2 {
//             #sidebar_right .gutter_aside {
//                 width: $s_sidebar_large_width + $s_gutter * 2;
//             }
//             #sidebar_left .gutter_aside {
//                 width: $s_sidebar_small_width + $s_gutter * 2;
//             }
//         }
//         .two_left_1,
//         .two_right_2,
//         .three_wrapped_1 {
//             #sidebar_right .gutter_aside {
//                 width: $s_sidebar_small_width + $s_gutter * 2;
//             }
//             #sidebar_left .gutter_aside {
//                 width: $s_sidebar_large_width + $s_gutter * 2;
//             }
//         }
//         .three_left_2,
//         .three_right_2 {
//             #sidebar_right .gutter_aside {
//                 width: $s_sidebar_large_width + $s_gutter * 2;
//             }
//             #sidebar_left .gutter_aside {
//                 width: $s_sidebar_small_width + $s_gutter;
//             }
//         }
//         .three_left_1,
//         .three_right_1 {
//             #sidebar_right .gutter_aside {
//                 width: $s_sidebar_small_width + $s_gutter * 2;
//             }
//             #sidebar_left .gutter_aside {
//                 width: $s_sidebar_large_width + $s_gutter;
//             }
//         }
//     }
// }