//
//  Social icons and colors
//
//  ╔═══════════════════════════════════╗
//  ║ © Copyright 2014 Folkhack Studios ║
//  ╚═══════════════════════════════════╝
//

//
//	Social buttons
//
.btn-facebook {
    background: $soc_color_facebook;
    color: $k_white;
}
.btn-facebook:hover { color: $k_white; }
	.btn-twitter {
    background: $soc_color_twitter;
    color: $k_white;
}
.btn-twitter:hover { color: $k_white; }
	.btn-google {
    background: $soc_color_google_plus;
    color: $k_white;
}
.btn-google:hover { color: $k_white; }
	.btn-linkedin {
    background: $soc_color_linkedin;
    color: $k_white;
}
.btn-linkedin:hover { color: $k_white; }

//
//  Font awesome social icons
//  - Based on: http://jsfiddle.net/adamyocum/pmyLv/
//  - Icons: http://fontawesome.io/icons/#brand
//
$soc_default: $k_dovegray;
.social_icon {

    .fa { background: $soc_default; }

    .fa-adn { }
    .fa-apple { }
    .fa-bitbucket { }
    .fa-btc { }
    .fa-css3 { }
    .fa-gittip { }
    .fa-html5 { }
    .fa-linux { }
    .fa-maxcdn { }
    .fa-pagelines { }
    .fa-renren { }
    .fa-vk { }
    .fa-weibo { }
    .fa-xing { }
    .fa-xing-square { }

    .fa-android { background: $soc_color_android; }
    .fa-dribbble { background: $soc_color_dribbble; }
    .fa-dropbox { background: $soc_color_dropbox; }
    .fa-facebook { background: $soc_color_facebook; }
    .fa-flickr { background: $soc_color_flickr; }
    .fa-foursquare { background: $soc_color_foursquare; }
    .fa-github { background: $soc_color_github; }
    .fa-github-alt { background: $soc_color_github; }
    .fa-github-square { background: $soc_color_github; }
    .fa-google-plus { background: $soc_color_google_plus; }
    .fa-google-plus-square { background: $soc_color_google_plus; }
    .fa-instagram { background: $soc_color_instagram; }
    .fa-linkedin { background: $soc_color_linkedin; }
    .fa-linkedin-square { background: $soc_color_linkedin; }
    .fa-pinterest { background: $soc_color_pinterest; }
    .fa-pinterest-square { background: $soc_color_pinterest; }
    .fa-skype { background: $soc_color_skype; }
    .fa-stack-exchange { background: $soc_color_stack_exchange; }
    .fa-stack-overflow { background: $soc_color_stack_overflow; }
    .fa-trello { background: $soc_color_trello; }
    .fa-tumblr { background: $soc_color_tumblr; }
    .fa-tumblr-square { background: $soc_color_tumblr; }
    .fa-twitter { background: $soc_color_twitter; }
    .fa-twitter-square { background: $soc_color_twitter; }
    .fa-vimeo-square { background: $soc_color_vimeo; }
    .fa-windows { background: $soc_color_windows; }
    .fa-youtube { background: $soc_color_youtube; }
    .fa-youtube-play { background: $soc_color_youtube; }
    .fa-youtube-square { background: $soc_color_youtube; }
    .fa-rss { background: $soc_color_rss; }
}

.social_icon {
    position: relative;
    top: 0;
    transition: .2s all;
}
.social_icon:hover {
    top: -5px;
    text-decoration: none;
}
.social_icon .fa {
    border-radius: 50%;
    color: $k_white;
    font-size: 20px;
    line-height: 30px;
    height: 32px;
    width: 32px;
    text-align:center;
    border: solid 1px $k_white;
}

//
//  Social Share Buttons
//
#social_share_btns {
    float: right;
    margin-bottom: 10px;
    @media( max-width: $screen-sm ) { float: none; }
    span {
        display: block;
        margin-bottom: 5px;
    }
    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding-left: 0;
        @media( max-width: $screen-sm ) { text-align: center; }
        li {
            display: inline-block;
            margin-left: 5px;
        }
        li:first-child { margin-left: 0; }
        .facebook {
            background: #36609F;
            color: $k_white;
        }
        .twitter {
            background: #2CAAE1;
            color: $k_white;
        }
        .google {
            background: #DC5442;
            color: $k_white;
        }
        .btn {
            font-size: 15px;
            padding: 2px;
            width: 30px;
        }
    }
}

//
//  Social sharing buttons on attachments
//
.fh_post_type_attachment #social_share_btns {
    float: none;
    text-align: center;
}