//
//  Base typography
//  - Thanks to ItsJonQ's "Lil' B" for base typographic spacing inspiration
//  - (https://github.com/ItsJonQ/lil-b)
//
//  ╔═══════════════════════════════════╗
//  ║ © Copyright 2014 Folkhack Studios ║
//  ╚═══════════════════════════════════╝
//

//
//	Base typography font-family
//
body { font-family: $fh_custom_font_1; }

//
//	Main Heading
//
#content h1:first-of-type {
    border-bottom: 1px $bp_bottom_border_color solid;
    padding-bottom: 0.5em;
	text-align: center;
}

//
//	Set custom headers font-family and link color
//
h1, h2, h3, h4, h5, h6 {
	font-family: $fh_headers_font_1;
	a { color: $k_dovegray; }
	a:hover { text-decoration: none; }
}

//
//	Reset font-size and line-height for the site
//
body {
    font-size: $fh_base_font_size;
    line-height: 1.65em;
}

//
//	Color adustments
//	- Recommended that the darkest color are the headers
//
body { color: $k_mineshaft; }
h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
    color: $k_16;
    a { color: $k_16; }
}

//
//
//  Typography + Spacing Adjustments
//
//  Adjusts the typography in Bootstrap to work off of responsive ems instead
//  of pixels. If the user changes the font-size in body, all of the headers
//  (h1, h2, h3, h4, h5, h6) and other text elements will respond accordingly
//  with appropriate line-height and margin spacing.
//
h1, .h1 { font-size: 2.6em; }
h2, .h2 { font-size: 2.15em; }
h3, .h3 { font-size: 1.7em; }
h4, .h4 { font-size: 1.25em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: 0.85em; }

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin: 0 0 1.65em 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
pre {
    font-size: 0.9em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
blockquote { font-size: 1.25em; /* Same as h4 */ }

.lead {
    font-size: 1.5em;
    margin-bottom: 0.85em;
}
.highlight { margin-bottom: 1.65em; }

address,
legend,
.alert,
.breadcrumb,
.form-group,
.jumbotron p,
.list-group,
.progress,
.table,
.well {
    margin-bottom: 1.5em;
}

// List-based selectors are separated
dt, ul, ol {
    margin-bottom: 1.5em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

// Adding margin-top offset to lists if followed by a paragraph for even spacing
p + dt,
p + ul,
p + ol {
    margin-top: -0.15em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

// Lessen padding on last p for .the_content
.the_content > p:last-of-type { margin-bottom: 10px; }