//
//	Base WP Widget Support
//
//	╔═══════════════════════════════════╗
//	║ © Copyright 2014 Folkhack Studios ║
//	╚═══════════════════════════════════╝
//

//
//	RSS icon that shows up on RSS feed widget
//
.rsswidget img { float: right; }

//
//	Sidebar Calendar Widget
//
#wp-calendar {
	font-size: 12px;
	border-top: 1px solid $k_silver;
	text-align: center;
	width: 100%;
	.off { color: $k_silver; }
	a { font-weight: bold; }
	caption {
		font-size: 16px;
		margin-bottom: 10px;
	}
	th {
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
	}
	td, th {
		background: $k_alabaster;
		padding: 0;
		height: 30px;
		width: 34px;
		border-right: 1px solid $k_silver;
		border-bottom: 1px solid $k_silver;
	}
	tbody .pad { background: $k_gallery; }
	thead, tbody { border-left: 1px solid $k_silver; }
	tfoot {
		td {
			background: none;
			border: none;
		}
		#prev,
		#next,
		#fh_sidr_prev,
		#fh_sidr_next {
			font-weight: normal;
			padding-top: 10px;
		}
		#prev, #fh_sidr_prev { text-align: left; }
		#next, #fh_sidr_next { text-align: right; }
	}
}
// Sidr extension for the calendar
#fh_sidr_wp-calendar { @extend #wp-calendar; }