{# fh-holy-grail.twig #}

{{ function( '__fh_twig_pre_template' ) }}

<!-- Main Content / Sidebar Area -->
<div id="main" class="clearfix {{ template_code_class }} {{ warn_overlay }} ">
	 <div class="overlay-warning">
	 	<div class="message-wrapper">
			<h2>This is a Preview Only!</h2>
			<p class="lead">This is only visible to you and cannot be accessed by others.</p>
		</div>
	 </div>
    <div class="gutter_main">

        <!-- Content -->
        <div id="content">
            <div class="gutter_content">

                {% if crumbs %}
                <div id="fh_crumbs">
                    {{ crumbs }}
                </div>
            	{% endif %}

                {% if page_title %}
                {{ page_title }}
                {% endif %}

                {{ page_content }}

                {% if share_page %}
                <hr>
                <div class="article_actions clearfix">
                    {{ share_page }}
                </div>
                {% endif %}

            </div>
        </div>

        {% if sidebar_left_segments %}
        <!-- Aside - Left -->
        <aside id="sidebar_left">
            <div class="gutter_aside">
            	{{ sidebar_left_segments }}
            </div>
        </aside>
        {% endif %}

        {% if sidebar_right_segments %}
        <!-- Aside - Right -->
        <aside id="sidebar_right">
            <div class="gutter_aside">
            	{{ sidebar_right_segments }}
            </div>
        </aside>
        {% endif %}

    </div>
</div>

{{ function( '__fh_twig_post_template' ) }}

{#
    ╔═══════════════════════════════════╗
    ║ © Copyright 2014 Folkhack Studios ║
    ╚═══════════════════════════════════╝
#}
